*{ 
	font-family:'GoodTimesRg-Regular';
}
.text-center img {
	display: inline-block;
}
.header-contact ul li i {
    background-color: #ffc000;
    color: #fff;
    padding: 12px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.header-contact ul i.fa.fa-search {
    background-color: transparent !important;
    padding-left: 60px;
}
span.pho {
    padding-top: 15px;
    display: block;
}
header {
	padding: 0px;
}
header .mainmenu {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0px;
    text-align: center !important;
}
.header-top {
    position: absolute;
    top: 20px;
    z-index: 99999;
    left: 0px;
    right: 0px;
}
.header-contact ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'IBM Plex Sans' !important;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.header-contact ul li a span{  
    font-family: 'IBM Plex Sans' !important;

}
.header-top-cont {
    padding-bottom: 20px;
}
header .mainmenu ul{
  margin: auto;
}
header .mainmenu ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-family: 'IBM Plex Sans' !important;
}
.header-phone a span {
  padding-left: 5px;
}
.header-phone a:hover{
	color: #000;
}



header .mainmenu ul li {
	padding: 0px 35px;
}
header .mainmenu ul li:last-child {
	padding-right: 0px !important;
}

/*************SUB MENU*************/
.mainmenu .sub-menu {list-style: outside none none;  min-width: 250px;  padding: 0;  position: absolute;  z-index: 1000;  display:none;}
.mainmenu li:last-child:hover .sub-menu {right: 0;}
.mainmenu li:hover .sub-menu{ display:block; }
.mainmenu .sub-menu li{padding:0px !important;}
.mainmenu .sub-menu li a { background-color: #fff;  display: block;  padding: 10px 15px !important;  text-align: left; color: #000 !important;  text-decoration: none;  transition: all 1s ease-in-out 0s;}
.mainmenu .sub-menu li a:hover { background:#fff !important; padding-left:25px; color: #000 !important;}
.col-md-5ths {
	width: 20%;
	float: left;
}

/*******MAIN MENU*********/
header .mainmenu .navbar {
	margin: 0px;
	padding: 0px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin: 0px;
}
.owl-theme .owl-nav {
	margin-top: 0;
}
header .mainmenu .navbar-nav a.active,
header .mainmenu .navbar-nav a:focus,
header .mainmenu .navbar-nav a:hover {
    color: #ffc000!important;    
}
header .mainmenu .navbar-nav .menu1 a.active, header .mainmenu .navbar-nav .menu1 a:focus, header .mainmenu .navbar-nav .menu1 a:hover{
	background-image: none !important;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
	color: #386979;
}
header .header-bottom {
	position: relative;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
  }
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
header .header-bottom .banner-contents {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: 100%;
}
header .banner-contents h2 {
    font-size: 25px;
    color: #ffc000;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
}
header .banner-contents h1 {
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.3;  
  text-transform: uppercase;
}
header .banner-contents h3 {
  font-size:25px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #ffc000;
  letter-spacing: 25px;
}

header .banner-contents h2 span{
  color: #f4a000;	
}
.header-contact {
    padding-top: 7px;
}
.banner-contents p {
    font-size: 18px;
    color: #fff;
    line-height: 1.9;
    padding: 0px 0px 0px;
    font-weight: 400;
    font-family: 'IBM Plex Sans';
    margin: auto;
    width: 61%;
}
a.btn:hover{
  color: #fff;
}
a.btn {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-color: #ffc000;
  padding: 15px 30px;
  font-weight: 900;
  text-transform: capitalize;
  border-radius: 40px;
  margin-top: 30px;
}
/*********** SUBMIT Button***********/
#btn-submit.btn:hover{
  color: #ffc;
}
#btn-submit.btn {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-color: #ffc000;
  padding: 15px 30px;
  font-weight: 900;
  text-transform: capitalize;
  border-radius: 40px;
  margin-top: 30px;
}

/*********** CAROUSEL NAV***********/
header .header-bottom .owl-prev {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/banner-left-arrow.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin:0px !important;
	display: inline-block;
	height: 64px;
	left: 5%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 33px;
	outline: none !important;
	opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header .header-bottom .owl-next {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/banner-right-arrow.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin:0px !important;
	display: inline-block;
	height: 64px;
	right: 5%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 33px;
	outline: none !important;
	opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header .header-bottom:hover .owl-prev {
	opacity: 1;
	left: 2%;
}
header .header-bottom:hover .owl-next {
	opacity: 1;
	right: 2%;
}

/**********CAROUSEL DOTS***************/
header .header-bottom .owl-theme .owl-controls {
    margin-top: 0;
}
header .header-bottom .owl-dots {
    bottom: 10%;
    left: 0%;
    position: absolute;
    right: 0%;
    z-index: 9999;
}

header .header-bottom .owl-theme .owl-dots .owl-dot span {
	background-color: #fff;
}
header .header-bottom .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #2478bc !important;
    padding: 5px;
}
.owl-dot span {
    background-color: #fff;    
    padding: 5px;
}
header .header-bottom .owl-theme .owl-dots .owl-dot span{
	background-color: #fff;
}
.banner-shape {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3px;
	z-index: 9;
}
.heading h3 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}
.heading h5 {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.about-section {
    padding: 70px 0px;
    background-color: #000;
}

.heading h4 {
    font-size: 26px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 900;
    text-transform: uppercase;
}
.heading p {
    font-size: 16px;
    padding-top: 10px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    width: 80%;
}
.whole-section {
    padding: 70px 0px;
    background-color: #000;
}
.whole-content {
    position: absolute;
    bottom: 30px;
}
.whole-content-wrap {
  position: relative;
  margin: 10px;
}
.whole-content {
    position: absolute;
    bottom: 45%;
    left: 0px;
    right: 0px;
}
.whole-heading.heading p {
    margin: auto;
}
.whole-img img {
    width: 100%;
}
.whole-sec-wrap.heading {
    padding-top: 50px;
}

.our-section {
    padding: 70px 0px;
    background-image: url(img/others/our-service-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.our-wrap {
    background-image: url(img/others/bg-doted-img.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 100px 0px;
}
.our-icon img {
    border: 2px solid #eeb406;
    border-radius: 50%;
    padding: 10px;
    background-color: #3c3c3c;
}
.our-content h4 {
    color: #fff;
    font-size: 18px;
}
.our-content p {
    font-size: 14px;
    color: #fff;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    margin-left: 45%;
}
.our-content a {
    font-size: 12px;
    color: #ffc000;
    text-decoration: none;
}

.our-content {
    text-align: end;
}
.our-cont-wrap.cont-1 {
    left: -80px;
    position: relative;
}
.col-md-6.cont-right .our-content {
    text-align: left;
}
.col-md-6.cont-right .our-content p{
    margin-right: 45% !important;
    margin-left: 0px !important;
}
.col-md-6.cont-right .our-icon {
    text-align: right;
}
.our-cont-wrap.cont-1 {
    left: -20px;
    position: relative;
    top: -30px;
}
.our-content.our-con-1 {
    position: relative;
    left: 0px;
    top: -50px;
}
.our-cont-wrap.cont-2 {
    position: relative;
    left: -27%;
    top: -7%;
}
.our-cont-wrap.cont-3 {
    position: relative;
    left: -35%;
    bottom: -8px;
}
.our-cont-wrap.cont-4 {
    position: relative;
    right: 0px;
    top: -40px;
}
.our-content.our-con-4 {
    position: relative;
    top: -30px;
}
.our-cont-wrap.cont-5 {
    position: relative;
    left: 160px;
    top: -20px;
}
.our-cont-wrap.cont-6 {
    position: relative;
    left: 230px;
    bottom: -20px;
}
.faq-section {
    padding: 70px 0px;
    background-color: #090909;
}



.accordion-button:not(.collapsed)::after {
  background-image: url('img/icons/minus-icon.png') !important;
  width: 19px;
  height: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
}

.accordion-button::after {
  background-image: url('img/icons/plus-icon.png') !important;
  width: 19px;
  height: 19px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 30px;
  background-position: center;

}
.accordion-button i {
  padding-right: 10px;
}

.accordion-button:focus{
	box-shadow: none !important;
}
.accordion-item:not(.collapsed) {
    border-bottom: 0px solid #0000006e !important;
    border-radius: 50px;
    border: none;
    margin: 20px 0px;
    padding: 0px 0px 0px;
}
button.accordion-button {
    padding: 10px 10px;
}
.accordion-header {
    margin-bottom: 0;
    background-color: #101010;
    border-radius: 60px;
}
.footer-menu a.btn {
  margin: 0px !important;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 30px 0px;
}

.accordion-button:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.accordion-body {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    background-color: #000;
    border-left: 2px solid #ffc000;
    margin-left: 80px;
    padding: 10px 0px;
}
.accordion-collapse.collapse.show {
  background-color: #090909 !important;
  padding: 10px;
}
.accordion-body p {
    margin: 0px 10px;
    font-family: 'IBM Plex Sans' !important;
}
.accordion-button {
    font-size: 22px;
    color: #fff;
    background-color: transparent !important;
    text-transform: uppercase;
    line-height: 1.4;
    padding-top: 0px;
    padding-left: 0px;
}
.accordion-item {
  background-color: #101010;
  border: 3px solid rgba(0, 0, 0, 0.22);
  margin: 30px 0px;
}
.accordion-item button.accordion-button.collapsed span {
    background-color: #4b4b4b !important;
    padding: 12px 10px;
    font-size: 25px;
    border-radius: 50%;
    width: 60px;
    height: 58px;
    margin-right: 20px;
}
.accordion-item button.accordion-button span {
    background-color: #ffc000 !important;
    padding: 12px 10px;
    font-size: 25px;
    border-radius: 50%;
    width: 60px;
    height: 58px;
    margin-right: 20px;
}
h2#headingOne button span {
    padding: 12px;
}
.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
}
.accordion-button:not(.collapsed) {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #101010 !important;
    border-bottom: 0px solid;
    padding: 10px 10px 10px;
}
.faq-wrap-cont {
    padding: 30px 15%;
}

.contact-us ul li i {
    background-color: transparent;
    color: #fff;
    padding: 18px;
    border-radius: 50%;
    margin: 10px 20px 10px;
    width: 56px;
    height: 56px;
    border: 2px solid #fff;
}

.contact-us ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.contact-us ul li a span {
    font-size: 17px;
    color: #fff;
    font-family: 'IBM Plex Sans' !important;
    display: block;
    font-weight: 400 !important;
}
.contact-section {
    padding: 70px 0px;
    background-color: #000;
}
.form-group {
    margin: 17px -5px;
    border: none;
    border-radius: 8px;
}


.contact-form .form-control::-webkit-input-placeholder {
  color: #565656 !important;
  opacity: 1;
}

.contact-form .form-control::-moz-placeholder {
  color: #565656 !important;
  opacity: 1;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #565656 !important;
  opacity: 1;
}
.form-control.drop-arow {
  background-image: url('img/others/drop-arrow.png');
  background-repeat: no-repeat;
  background-position: 97% !important;
}
.faq-wrap {
    padding-top: 60px;
}
.contact-form .form-control::placeholder {
  color: #565656 !important;
  opacity: 1;
}
.form-control{
	border-color: #bababa !important;
	color: #565656 !important;
}
.form-control:focus {
    border-color: transparent !important;
    box-shadow: none !important;
    background-color: transparent !important;
}


.form-group input {
    padding: 15px 20px;
    font-size: 14px;
    color: #616161 !important;
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    background-color: #090909;
}

.form-control {
    border: none !important;
}
.contact-heading h3 span.text-bg-img {
    background-position: 50% 75%;
}
.form-group textarea {
  padding: 15px 20px;
    font-size: 14px;
    color: #616161 !important;
    font-weight: 300;
    font-family: 'Mulish';
     background-color: #090909;
    height: 150px;
}
.form-group1 a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #ffc000;
    padding: 10px 30px;
    text-transform: capitalize;
    width: 100%;
    border-radius: inherit;
    margin-top: -120px;
}
.footer-section {
    padding: 30px 0px 20px;
    background-color: #070707;
}

.footer-menu ul li {
    padding: 0px 0px;
}
.footer-menu ul li a i {
    color: #fff !important;
    font-size: 15px;
    padding-right: 10px;
}
.contact-cont ul li span {
  color: #000;
  font-weight: 600;
  font-size: 15px;
}
.footer-contact {
  margin-top: 50px;
  border-top: 2px solid #ffffffc7;
  padding-top: 50px;
}
.footer-menu {
    padding: 10px 0px;
    text-align: left;
}
.footer-menu ul li a {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    font-family: 'IBM Plex Sans';
}
.footer-menu ul li a.active {
    color: #ffc000;
}
.footer-menu ul li a.active i{
  color: #fff;
}
.footer-wrap ul li {
	padding-bottom: 10px;
}
.footer-wrap a{
	font-size: 16px;
	color: #fff;
	text-decoration: none;	
	font-weight: 400;
}
.footer-menu h4 {
    color: #ffc000;
    font-size: 20px;
}
.footer-menu img{
    margin-bottom: 20px;
}
.newsletter.footer-menu input {
    border-bottom: 1px solid #767777 !important;
    border-radius: 0px;
    padding: 0px 0px 10px;
    margin-bottom: 40px;
}
.copyrights p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-family: 'IBM Plex Sans';
    border-top: 1px solid #202020;
    padding-top: 30px;
    margin-top: 30px;
}
.footer-menu.menu-1 {
    padding-left: 40px;
}
.footer-menu.menu-2 {
    padding-left: 30px;
}
.copyrights p span {
    color: #ffc000;
    font-family: 'IBM Plex Sans';
}

/*Apply inner page*/

.header-top.inner-page {
  position: relative;
  background-color: #000;
  top: 0px;
}

.apply-section {
  background-color: #070707;
  padding: 70px 0px;
}
.apply-section p{
    width: 100%;
}
.apply-btn ul li {
  margin-right: 30px;
}
.apply-fields {
  color: #fff !important;
  text-align: left !important;
}
#brand_deck {
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 15px;
}
.apply-form h5 {
  color: #fff;
  text-align: left;
  padding-bottom: 20px;
}
.form-group label {
  display: block;
  padding-bottom: 20px;
  font-family: 'IBM Plex Sans' !important;
  font-size: 17px;
}
.form-group input, .form-group textarea {
    width: 100%;
    height: 55px;
    border: 1px solid #fff;
}
.apply-form {
  margin: 0% 10%;
}
.form-group select {
  font-family: 'IBM Plex Sans' !important;
  width: 100%;
  height: 45px;
  padding: 0px 10px;
}
.check-cont label {
  display: inline;
  position: relative;
  top: -20px;
  left: 4px;
}
.check-cont input{
  width: auto;
}
.form-group.infofile input {
  background-color: #fff;
}
.col-md-12 h5 {
  border-top: 2px solid #ffc0005c;
  padding-top: 40px;
  margin-top: 20px;
}






/*RESPONSIVE*/
@media screen and (max-width: 2880px) {



}
@media screen and (max-width: 1920px) {


}
@media screen and (max-width: 1680px) {
 

}
@media screen and (max-width: 1440px) {


}
@media screen and (max-width: 1376px) {
  .our-cont-wrap.cont-1 {
    left: -10px;
    top: -30px;
  }
  .our-content p {
    margin-left: 37%;
  }
  .our-content.our-con-1 {
    left: -10px;
    top: -60px;
  }
  .our-cont-wrap.cont-2 {
    left: -35%;
    top: -10%;
  }
  .our-cont-wrap.cont-3 {
    left: -45%;
    bottom: -10px;
  }
  .our-content.our-con-4 {
    top: -30px;
    left: 30px;
  }
  .our-cont-wrap.cont-4 {
    right: -50px;
    top: -30px;
  }
  .col-md-6.cont-right .our-content p {
    margin-right: 30% !important;
  }
  .our-cont-wrap.cont-5 {
    left: 210px;
    top: -10px;
  }
  .our-cont-wrap.cont-6 {
    left: 250px;
    bottom: -30px;
  }

}
@media screen and (max-width: 1280px) {

	
}
@media screen and (max-width: 1270px) {
 
  .header-contact ul li a {
      font-size: 12px;
  }
  .header-contact ul li i {
    padding: 9px;
    width: 30px;
    height: 30px;
  }
  header .mainmenu ul li {
    padding: 0px 15px;
  }
  header .banner-contents h2 {
    font-size: 18px;
  }
  header .banner-contents h1 {
    font-size: 40px;
  }
  .banner-contents p {
    font-size: 15px;
    width: 80%;
  }
  a.btn {
      font-size: 15px;
  }
  .heading h3 {
    font-size: 24px;
  }
  .heading p {
    font-size: 14px;
    width: 100%;
  }
  .about-section {
    padding: 30px 0px;
  }
  .heading h4 {
    font-size: 20px;
  }
  .our-section {
    padding: 20px 0px 0px;
  }
  .our-wrap {
    background-size: 58%;
  }
  .our-content h4 {
    font-size: 13px;
  }
  .our-content p {
    font-size: 11px;
  }
  .our-cont-wrap .col-md-3 {
    padding: 0px;
  }
  .our-icon img {
    width: 60%;
  }
  .our-cont-wrap.cont-2 {
    left: -30%;
    top: -10%;
  }
  .our-content p {
    margin-left: 42%;
  }
  .our-cont-wrap.cont-3 {
    left: -40%;
    bottom: -10px;
  }
  .our-cont-wrap.cont-4 {
    right: 0px;
    top: -20px;
  }
  .our-cont-wrap.cont-5 {
    left: 140px;
    top: -20px;
  }
  .col-md-6.cont-right .our-content p {
    margin-right: 40% !important;
  }
  .our-content.our-con-4 {
    top: -50px;
    left: 20px;
  }
  .our-cont-wrap.cont-6 {
    left: 180px;
    bottom: -30px;
  }
  .accordion-button:not(.collapsed) {
    font-size: 13px;
  }
  h2#headingOne button span {
    padding: 12px;
  }
  .accordion-item button.accordion-button span {
    padding: 12px 10px;
    width: 50px;
    height: 48px;
    margin-right: 20px;
    font-size: 19px;
  }
  .accordion-button {
    font-size: 14px;
  }
  .accordion-item button.accordion-button.collapsed span {
    background-color: #4b4b4b !important;
    padding: 12px 8px;
    font-size: 19px;
    border-radius: 50%;
    width: 50px;
    height: 48px;
    margin-right: 20px;
  }
  .faq-section {
    padding: 30px 0px;
  }
  .contact-us ul li a {
    font-size: 15px;
  }
  .contact-us ul li a span {
    font-size: 13px;
  }
  .contact-us ul li i {
    padding: 15px;
    width: 46px;
    height: 46px;
  }
  .contact-section {
    padding: 30px 0px;
  }
  .footer-menu h4 {
    font-size: 15px;
  }
  .copyrights p {
    font-size: 16px;
  }
  .footer-menu ul li a {
    font-size: 15px;
  }

/*  inner-page*/

.apply-form {
  margin: 0% 0%;
}
.form-group label {
  font-size: 13px;
}

}


@media screen and (max-width: 1023px) {
	.header-top-cont {
    padding-bottom: 0px;
  }
  header .mainmenu ul li a {
      font-size: 14px;
  }
  #navbarSupportedContent ul {
    margin-bottom: 0px !important;
  }
  header .mainmenu {
    padding: 5px 0px;
  }
  .header-contact ul li i {
    margin-right: 6px;
  }
  header .banner-contents h1 {
    font-size: 22px;
  }
  header .banner-contents h2 {
    font-size: 14px;
  }
  header .banner-contents h3 {
    font-size: 18px;
    letter-spacing: 14px;
  }
  .banner-contents p {
    font-size: 15px;
    width: 100%;
  }
  a.btn {
    font-size: 14px;
    padding: 12px 20px;
  }
  .whole-section {
    padding: 20px 0px;
  }
  .our-wrap {
    background-image: none;
    padding: 30px 0px 50px;
    background-size: auto;
    background-color: #00000047;
  }
  .our-content p {
    font-size: 12px;
  }
  .contact-wrap {
    padding-top: 30px;
  }
  .faq-wrap-cont {
    padding: 10px 5%;
  }
  .our-cont-wrap.cont-1{
    left: auto;
    top: auto;
  }
  .our-cont-wrap.cont-2{
    left: auto;
    top: auto;
  }
  .our-cont-wrap.cont-3{
    left: auto;
    top: auto;
  }
  .our-cont-wrap.cont-4{
    left: auto;
    top: auto;
  }
  .our-cont-wrap.cont-5{
    left: auto;
    top: auto;
  }
  .our-cont-wrap.cont-6{
    left: auto;
    bottom: auto;
  }
  .our-content p {
    margin-left: 0px;
  }
  .col-md-6.cont-right .our-content p {
    margin-right: 0% !important;
  }
  .our-icon img {
    width: 80%;
  }
  .our-content.our-con-4 {
    top: auto;
    left: auto;
  }
  .our-content.our-con-1 {
    left: auto;
    top: auto;
  }
  .footer-menu.menu-1 {
    padding-left: 20px;
  }
  .footer-menu h4 {
    font-size: 13px;
  }
  .footer-menu.menu-2 {
    padding-left: 0px;
  }
 .footer-menu h4 {
    font-size: 12px;
  }
  .footer-section .col-md-3 {
  padding: 0px !important;
}

.form-group label {
  font-size: 12px;
}

}


@media screen and (max-width: 767px) {
  a.btn{
      margin-top: 10px;
  margin-bottom: 30px;
  
  }
  .our-content a {
    font-size: 12px;
    margin-bottom: 20px;
    display: block;
  }
	.navbar-toggler:focus {
	  text-decoration: none;
	  outline: 0;
	  box-shadow: none;
	  border: none !important;
	}
	header .header-bottom .banner-contents {
		top: 50%;
	}
	header .header-logo {
	    text-align: center;
	}
	header .header-logo img {
		display: inline-block;
	}
	header .mainmenu .navbar {
	  margin: 0;
	  padding: 0;
	}
	.icon-bar {
		background-color: #fff;
		border-radius: 1px;
		display: block;
		height: 2px;
		width: 22px;
	}
	.icon-bar + .icon-bar {
		margin-top: 4px;
	}
	button:focus {
		outline: none;
	}
	.navbar-toggler {
	  background-color: transparent;
	  background-image: none;
	  border-radius: 0;
	  padding: 9px 10px;
	}
	.navbar-dark .navbar-toggler {
	  border: medium none;
	}
	header .header-top .mainmenu ul li {
	  margin-bottom: 5px;
	}
	header .header-top .mainmenu ul li .sub-menu li {
	  margin-bottom: 0px;
	}
	.mainmenu li:last-child:hover .sub-menu {
		right: auto;
	}
	header .mainmenu {
		float: none;
		padding-top: 0px;
	}
	a.navbar-brand{
	    width: 50%;
	}
	header .mainmenu ul li a {
	  font-size: 14px;
	}
	header .mainmenu ul li a {
	  font-size: 14px;
	  padding-left: 0px !important;
	  padding-top: 0px !important;
    text-align: left !important;
	}
	header .mainmenu .navbar-nav a.active, header .mainmenu .navbar-nav a:focus, header .mainmenu .navbar-nav a:hover{
		background-position: left top;
	}
	.contact-wrap {
	  padding-top: 10px;
	}
	header .header-bottom .banner-contents {
		top: 23%;
	}
	.navbar-nav.me-auto.mb-2.mb-lg-0 {
	  margin-top: 20px;
	}
	.navbar.navbar-expand-md .container {
	  padding: 0px;
	}
	.navbar.navbar-expand-md a img {
	  width: 70%;
	}	
  .header-top {
    position: relative;
    top: 0px;
    z-index: 99999;
    left: 0px;
    right: 0px;
    background-color: #100500;
    padding-bottom: 20px;
  }
  header .header-bottom .banner-contents {
    top: 5%;
  }
  .container-sm, .container {
    max-width: 620px;
  }
  .about-section {
    padding: 30px 0px;
    text-align: center !important;
  }
  .our-content {
    text-align: center;
  }
  .our-icon img {
    width: auto;
    margin: auto;
    display: block;
  }
  .our-cont-wrap {
    margin: 20px;
  }
  .col-md-6.cont-right .our-content {
    text-align: center;
  }
  .footer-logo.heading {
    text-align: center !important;
  }
  .footer-menu.menu-1 {
    padding-left: 0px;
  }
  .newsletter.footer-menu input {
    width: 90%;
  }
  .heading h3 {
    font-size: 18px;
  }
  .heading p {
    font-size: 13px;
    width: 100%;
  }
  .header-contact {
    padding-top: 7px;
    text-align: end;
  }
  .header-contact.hed-co {
    text-align: left;
  }
  .accordion-body {
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    background-color: #000;
    border-left: 2px solid #ffc000;
    margin-left: 10px;
    padding: 10px 0px;
  }
  .faq-wrap-cont {
  padding: 0px 0%;
}
.accordion-button {
    font-size: 11px;
  }
.copyrights p {
  font-size: 14px;
  padding-top: 10px;
  margin-top: 10px;
}
.footer-wrap {
  padding: 10px;
}
/*inner-page*/

.check-cont {
  text-align: left;
  padding-left: 20px;
}
.apply-form .form-group {
  text-align: left !important;
}
.apply-btn {
  text-align: center !important;
}

}

@media screen and (max-width: 480px) {
	.banner-contents p {
    font-size: 12px;
    width: 100%;
  }
  .form-group {
  text-align: center !important;
}
.form-group input {
  padding: 15px 10px;
  }

}
@media screen and (max-width: 428px) {
  
   .header-contact ul li a span {
    display: none;
  }
  .banner-contents p {
    font-size: 15px;
    width: 100%;
    display: none;
  }

  .container-sm, .container {
    max-width: 300px;
  }

/*  inner-page*/

.banner-contents p {
  font-size: 12px;
  width: 100%;
  display: block;
}
.heading h5 {
  text-align: center;
}
.apply-btn ul {
  display: inline-block !important;
}

}
@media screen and (max-width: 420px) {
 
 /*  inner-page*/
.heading h5 {
  font-size: 15px;
}
.header-bottom img {
  height: 150px;
}
   
}
@media screen and (max-width: 390px) {


}
@media screen and (max-width: 375px) {
	

}
@media screen and (max-width: 360px) {
 

}
@media screen and (max-width: 320px) {
	
  

}