﻿body{
  font-family: 'Raleway', sans-serif !important;
  color: #555 !important;
  height: 100vh;
  overflow-y: auto;
  font-size: 18px;
}

.img-logo{
  width: 217px;
}
.text-header{
  color: #428bca !important;
}
.text-font{
  line-height: 32.85714287px;
  color: #25aae2;
  font-size: 23px;
}
.bg-img-top{
  background-image: url("../images/isachecker_bg-scaled.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100% !important;
  height: auto;
  background-position: center 28.19%;
  position: relative;
}
.footer-bottom{
  line-height: 20px;
  color: #dddddd;
  font-size: 14px;
  text-align: center;
}
.footer-text{
  line-height: 17px;
  color: #cccccc;
  font-size: 12px;
}
.disp-none{
  display: none;
}
.h-46{
  height: 50px !important;
}
.z-indx{
  z-index: 1;
}
.m-w{
  max-width: 100% !important;
}
.opacity-0{
  opacity: 0;
}
.f-30{
  font-size: 30px;
}
.lh-34{
  line-height: 34px;
}
.fs-75{
  font-size: 75px;
}
.fw-7{
  font-weight: 700;
}
.linkbutton{
  color: #ffffff;
  background-color: #0776bc;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  padding: 5px 25px;
  border-radius: 10px;
  line-height: 42px;
}
.linkbutton:hover{
  background-color: rgb(109, 111, 115);
}
.check-icon{
  background: #dddddd;
  color: #dddddd;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-family: 'Billion Web Font';
  font-size: 60px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.check-icon-circle{
  color: #25aae2;
  font-size: 20px;
  padding-right: 10px;
}
input:checked ~ label i{
  background: #1b3557 !important;
  color: white !important;
}
.check-input{
  top: 0px;
  height: 80px !important;
  cursor: pointer;
}
.input-checker-div{
  width: 110%;
  cursor: pointer;
  margin-bottom: 20px;
  background: #eeeeee;
  height: 35px;
  border: none;
  border-radius: 0px;
}
.nextStep {
  font-size: 30px;
  padding: 5px 25px;
  line-height: 43px;
  border-radius: 0px !important;
  width: 45%;
  background-color: #1c3557 !important;
  margin: 10px 15px 10px 0px;
  float: right;
}
.nextStep:hover{
  opacity: 0.8;
}
.back-btn{
  font-size: 30px;
  padding: 5px 25px;
  line-height: 43px;
  border-radius: 0px !important;
  width: 45%;
  background-color: #e76844 !important;
  margin: 10px 0px 10px 15px;
  float: left;
}
.back-btn:hover{
  opacity: 0.8;
}
.btn-submit {
  border: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #0978bf, #0f2c4a) !important;
  text-shadow: #803c00 1px 1px 1px !important;
  font: 700 20px arial !important;
}

.bg-clip-path{
  background: #555 !important;
  color:  white !important;
  background-size: cover;
  width: 100%;
  height: 100%
}
.height-cal::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.height-cal{
  overflow: auto;
  height: calc(100vh - 262px);
}

.bg-image-thanks{
  background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.7)),url(../images/rsz_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100% !important;
  height: auto;
  background-position: left;
}
.img-tick{
  max-width: 70px;
}
.img-referesh{
  max-width: 95px;
}
.fs-14{
  font-size: 14px;
}
input.error {
  border: 2px solid red !important;
}

@media only screen and (max-width: 768px) {
  .compny-img{
    width: 110px;
  }
}

@media only screen and (max-width: 520px) {
  .text-font{
    font-size: 18px;
  }
  .height-cal{
    overflow: unset;
    height: 100% !important;
  }
  .img-logo {
    width: 185px;
  }
  .fs-md-30{
    font-size: 30px !important;
  }
  .fs-md-20{
    font-size: 20px !important;
  }
  .fs-13{
    font-size: 13px;
  }
  
}
@media only screen and (max-width: 376px) {
  
}
@media only screen and (max-width: 320px) {
  .fs-md-20{
    font-size: 20px !important;
  }
  .fs-md-23{
    font-size: 23px !important;
  }
  .fs-md-17{
    font-size: 17px !important;
  }
  .compny-img{
    width: 87px;
  }
  
}


#btn-submit {
    margin-left:15px;
  border-color: #1c3557; 
    font-size: 18px;
    /* padding: 5px 25px; */
    line-height: 30px;
    border-radius: 0px !important;
    width: 100%;
    background-color: #1c3557 !important;
    /*margin: 10px 15px 20px 0px;*/
    /* float: right;
  /*float: right;*/
}
[class*="col-"] {
  width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .submit {display: block;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .submit {display: block;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .submit {display: block;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .submit {display: block;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .submit {display: block;}
}

.container{
  margin-left: auto !important;
  width: 80% !important;
  margin-right: auto !important;
}

.contact-space
{
  margin-bottom: 200px
}

h2 {
    line-height: 87.14285717px;
    text-decoration: none;
    font-size: 61px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #1b3557 !important;
    background-color: #1b3557 !important;
}

.fa-check:before {
    font-size: 16px !important;
    content: "\f00c" !important;
}
