body{
  font-family: 'Roboto', sans-serif !important;
}
header{
  z-index: 1;
}
.form-div{
  box-shadow: 0 1px 9px rgba(0,0,0,.3);
  border-radius: 1.3rem!important;
}

.img-logo{
  width: 200px;
}
.img-tp{
  width: 100px;
}
.bg-img-top{
  min-height: 60vh;
  display: flex;
  align-items: center;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100% !important;
  height: auto;
  background-position: center;
  position: relative;
}
/*.bg-img-top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(187, 187, 187, 0.45);
}*/
.range-output {
  position: absolute;
  top: -2.1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 17px;
  color: #0bc90b;
  border: 2px solid;
  border-radius: 20px;
  padding: 0px 8px;
  margin-left: auto;
  margin-right: auto;
}
.disp-none{
  display: none;
}
.h-46{
  height: 50px !important;
}
.z-indx{
  z-index: 1;
}
.m-w{
  max-width: 100% !important;
}
.opacity-0{
  opacity: 0;
}
.f-25{
  font-size: 25px;
}
.fs-75{
  font-size: 75px;
}
.pointer{
  cursor: pointer;
}
.invester-type:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 10px;
  padding: 10px;
}
.yes-hover:hover{
  box-shadow: 0 1px 9px rgba(0,0,0,.3);
  border-radius: 50px;
  cursor: pointer;
  color: green;
}
.no-hover:hover{
  box-shadow: 0 1px 9px rgba(0,0,0,.3);
  border-radius: 50px;
  cursor: pointer;
  color: red;
}
.my-hover:hover{
  box-shadow: 0 1px 9px rgba(0,0,0,.3);
  border-radius: 10px;
  cursor: pointer;
  color: green;
}
.btn-next {
  border: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #0978bf, #0f2c4a) !important;
  text-shadow: #803c00 1px 1px 1px !important;
  font: 700 20px arial !important;
}
.btn-submit {
  border: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #0978bf, #0f2c4a) !important;
  text-shadow: #803c00 1px 1px 1px !important;
  font: 700 20px arial !important;
}
.img-m{
  width: 65px;
}
.img-y{
  width: 65px;
}
.parsley-error-list{
  clear: both;
  display: block;
  width: 100%;
}
label.error {
  color: red;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 400;
}
input.valid ~ .validate.success {
  display: inline-block;
}
input.valid ~ .validate.error {
  display: none;
}
input.error ~ .validate.error {
  display: inline-block;
}
input.error ~ .validate.success {
  display: none;
}
input.valid{
  border: 2px solid #28a745 !important;
}
input.error {
    border: 2px solid red !important;

}
.validate.success{
  display: none;
  color: #4CAF50 !important;
  position: absolute;
  float: right;
  font-size: 25px;
  margin-top: -36px;
  right: 25px;
}
.validate.error{
  display: none;
  color: red !important;
  position: absolute;
  float: right;
  font-size: 25px;
  margin-top: -36px;
  right: 25px;
}
.bg-clip-path{
  background: #0f2c4a;
  width: 100%;
  height: auto;
}
.check-icon{
  color: #0f2c4a !important;
  font-size: 22px !important;
}
.bg-clip-path:after{
  background: #0978bf;
  clip-path: polygon(0 46%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mt-11{
  margin-top: 11rem;
}
.blue-circle{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color:#0978bf;
  color: white;
  border: 2px solid #0f2c4a;
  padding: 12px;
  box-shadow: 0 1px 9px rgba(0,0,0,.3);
}
.compny-img{
  width: 140px;
}
.back-btn{
  background: white;
  width: 35px;
  height: 35px;
  color: black;
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  left: 3px;
  bottom: 50%;
}
.back-btn:hover{
  background: #11235e;
  color: white;
  border-radius: 50px;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
  cursor: pointer;
}
.bg-image-thanks{
  background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.7)),url(../images/rsz_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100% !important;
  height: auto;
  background-position: left;
}
.img-tick{
  max-width: 70px;
}
.img-referesh{
  max-width: 95px;
}
.custom-checkbox .custom-control-label::before{
    top: 0rem;
    left: -2.7rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 45%;
    bottom: 45%;
    transform: translate(0%, -45%);
  }
  .custom-checkbox .custom-control-label::after{
    top: 0rem;
    left: -2.7rem;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 45%;
    bottom: 45%;
    transform: translate(0%, -45%);
  }
  .bg-opacity{
    background-color: #0d5a90;
    width: 86px;
    height: 100%;
    position: absolute;
  }
  .custom-control-input:checked~.custom-control-label::before{
    background-color: #0d5a90 !important;
    border: 2px solid white !important;
  }
.newcheckbox{
  position: relative;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
}
@media only screen and (max-width: 768px) {
  .bg-clip-path{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  }
  .compny-img{
    width: 110px;
  }
}

@media only screen and (max-width: 520px) {
  .pl-5r{
    padding-left: 5rem !important;
  }
  .img-logo {
    width: 185px;
  }
  .fs-md-30{
    font-size: 30px !important;
  }
  .fs-md-20{
    font-size: 20px !important;
  }
  .fs-13{
    font-size: 13px;
  }
  .pl-rem{
    padding-left: 2rem !important;
  }
  .f-25{
    font-size: 20px;
  }
  .fs-md-23{
    font-size: 23px !important;
  }
  .fs-md-17{
    font-size: 17px !important;
  }
  .compny-img{
    width: 87px;
  }
  .bg-clip-path{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  }
  .validate.success{;
    right: 22px;
  }
  .validate.error{
    right: 22px;
  }
  .custom-checkbox .custom-control-label::before{
    left: -0.4rem;
  }
  .custom-checkbox .custom-control-label::after{
    left: -0.4rem;
  }
}
@media only screen and (max-width: 376px) {
  .custom-checkbox .custom-control-label::before{
    left: 0.3rem;
  }
  .custom-checkbox .custom-control-label::after{
    left: 0.3rem;
  }
}
@media only screen and (max-width: 320px) {
  .fs-md-20{
    font-size: 20px !important;
  }
  .pl-rem{
    padding-left: 0.5rem !important;
  }
  .f-25{
    font-size: 20px;
  }
  .fs-md-23{
    font-size: 23px !important;
  }
  .fs-md-17{
    font-size: 17px !important;
  }
  .compny-img{
    width: 87px;
  }
  .validate.success{;
    right: 22px;
  }
  .validate.error{
    right: 22px;
  }
  .bg-clip-path{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  }
  .custom-checkbox .custom-control-label::before{
    left: 0.3rem;
  }
  .custom-checkbox .custom-control-label::after{
    left: 0.3rem;
  }
}


#btn-submit {
    color: #fff!important;
    font-weight: 700!important;
    margin: auto !important;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #0978bf, #0f2c4a) !important;
    text-shadow: #803c00 1px 1px 1px !important;
    font: 700 20px arial !important;
    width: 100%;
    border-radius: .3rem!important;
    border: 1px solid transparent;
    padding: 14px;
}
