html, body{

	padding: 0;

	margin: 0;

}

* {

	box-sizing: border-box;

}

body{

	font-family: 'Open Sans', sans-serif;

}

img{

	max-width: 100%;

}

.col-2{

	display: grid;

	grid-template-columns: repeat(2, 1fr);

}

.container{

	max-width: 1120px;

	margin: auto;

}

.btn{

	font-size: 22px;

	font-weight: bold;

	line-height: 26px;

	font-family: 'Roboto', sans-serif;

	background-color: #FCB002;

	color: #000000;

	border: 2px solid #FCB002; 

	border-radius: 5px;

	padding: 10px;

	text-decoration: none;

	width: 100%;

	max-width: 280px;

	display: block;

	text-align: center;

	transition: .5s;

}

.btn:hover{

	color: #FCB002;

	background-color: #000000;

}



/*header*/

.header{

	text-align: center;

	padding: 26px 20px 16px;

}







/*banner*/

.banner{

	background-image: url('../img/banner.png');

	background-size: cover;

	background-position: center;

	padding: 170px 0 87px;

}



.banner .col-2{

	grid-template-columns: 2fr 1fr;

	grid-gap: 20px;

}

.title-1{

	color: #FCB002;

	font-size: 75px;

	line-height: 1;

	font-family: 'Roboto', sans-serif;

	font-weight: 900;

	margin: 0 ;

	letter-spacing: -3px;

}

.title-2{

	color: #333333;

	font-family: 'Roboto', sans-serif;

	font-size: 32px;

	line-height: 43px;

	font-weight: 500;

	margin: 0;

}

.title-3{

	color: #FCB002;

	font-family: 'Roboto', sans-serif;

	font-size: 45px;

	line-height: 1;

	font-weight: 500;

}

.title-4{

	color: #333333;

	font-family: 'Roboto', sans-serif;

	font-size: 48px;

	line-height: 1;

	font-weight: 900;

}



.banner-col-1{

	color: #fff;

}

.banner-col-1 .btn{

	padding: 18px 10px;	

}

.banner-col-1 p{

	font-size: 22px;

	font-weight: bold;

	line-height: 35px;

	max-width: 480px;

	margin: 36px 0 31px; 

}

.banner-col-1 h3{

	font-size: 35px;

	font-weight: bold;

	line-height: 44px;

	font-family: 'Roboto', sans-serif;

	margin: 0 0 45px;

}







/*form*/

.form-box{

	background-color: #fff;

	border-radius: 20px;

	padding: 27px 34px 25px;

	text-align: center;

	max-width: 400px;

	margin: auto;

}

.form input , .form select{

	width: 100%;

	border: 1px solid #ACACAC;

	border-radius: 8px;

	color: #858585;

	font-size: 15px; 

	padding: 12px 20px;

	margin-bottom: 17px;

}

.form h2{

	font-family: 'Montserrat', sans-serif;

	font-size: 25px;

	line-height: 35px;

	font-weight: bold;

	color: #000;

	margin: 0 0 22px;

}

.form .btn{

	max-width: 100%;

	margin-top: 8px;



}

.form p{

	color: #666666;	

	font-size: 10px;

	line-height: 16px;

	max-width: 300px;

	margin: 20px auto 0;

}

.section{

	text-align: center;

}



/*section*/

.section {

	padding: 30px 0 0;

}

.section .title-2{

	margin: 0 0 38px;

}

.section p{

	font-size: 15px;

	line-height: 26px;

	color: #666666;

	padding: 0 10px;

	margin: 0 0 25px;

}

.section p b{

	font-size: 17px;

}

.section p:last-child{

	margin: 0;

}

.section-cols{

	grid-template-columns: repeat(2, minmax(auto, 456px));

	justify-content: space-between;

	grid-gap: 20px;

}

.col-img{

	display: grid;

	align-content: space-between;

	justify-items: center;

	grid-gap: 7px;

}

.section-2 .title-2{

	margin-bottom: 76px;

}

.section-2 .title-3{

	margin-top: 59px;

	margin-bottom: 0;

}

.section-3{

	padding-top: 25px;

}

.section-3 .title-2 {

	margin: 0 0 32px;

}

.section-3 .title-short{

	max-width: 657px;

	margin-right: auto;

	margin-left: auto;

	padding-top: 25px;

	margin-bottom: 57px;

}

.section .title-4{

	margin: 0;

}

.section .text-1 {

	color: #333333;

	font-family: 'Roboto', sans-serif;

	font-size: 32px;

	line-height: 45px;

	font-weight: 500;

}

.section-4 .title-3{

	font-size: 40px;

	margin-top: 45px;

}

.section-4 img{

	margin-top: 25px;

}

.section-4 .title-4, .section-4 p.text-1{

	max-width: 830px;

	margin: auto;

	text-align: center;

}

.section-4 .title-4{

	margin: 68px auto 50px;

}

.section-41 .col-2{

	margin-top: 20px;

}

.section-41 .col-map{

	grid-template-columns: 1fr 2fr;

	padding: 25px 0 50px;

}

.section-41 .col-map p{

	max-width: 535px;

	margin-left: auto;

	margin-right: auto;

}

.section-5 .title-2{

	margin-top: 24px;

	margin-bottom: 31px;

}

.section-5 .title-3{

	max-width: 775px;

	margin-right: auto;

	margin-left: auto;

	font-size: 37px;

	line-height: 45px;

	margin-top: 28px;

	margin-bottom: 58px;

}

.section-5 .section-cols p{

	margin: 0 0 19px;

}

.section-6 .title-3{

	font-size: 37px;

	line-height: 45px;

	margin-top: 16px;

	margin-bottom: 22px;

}

.section-6 .title-2 {

	margin: 0 0 43px;

}

.section-6 {

	padding-bottom: 73px;

}

.section-7{

	background-color: rgba(252,176, 2,.8);

	padding: 46px 0 48px;

}

.section-7 .btn{

	background-color: #fff;

	color: #000;

	margin: auto;

	padding: 18px 10px;

}



.section-7 .btn:hover{

	color: #fff;

	background-color: #000;

}

.section-8 {

	padding: 21px 0 25px;

}

.section-8 p{

	font-size: 10px;

	line-height: 16px;

	margin: 0;

}

.footer{

	background-color: #181818;

	color: #fff;

	text-align: center;

	padding: 30px 20px;

}

.footer p{

	margin: 0;

	font-size: 14px;

}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
  }

  .autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
  }
  .autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
  }
  .autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
  }
  


@media only screen and (max-width: 1160px){

	.container{

		padding: 0 20px;

	}

}

@media only screen and (max-width: 1160px){

	.banner{

		padding: 50px 0 ;

	}

}





@media only screen and (max-width: 850px){

	.banner .col-2 {

		grid-template-columns: 1fr 1fr;

	}

}



@media only screen and (max-width: 768px){

	.banner .col-2 {

		grid-template-columns: 1fr;

		grid-gap: 35px;

	}

	.col-2 {

		grid-template-columns: 1fr;

	}

	.section-41 .col-map {

		grid-template-columns: 1fr;

		padding: 25px 0;

	}

	.section-41 .col-2 {

	    grid-gap: 30px;

	}

}

@media only screen and (max-width: 480px){

	.title-1{

		font-size: 50px;

	}

	.banner-col-1 h3 {

		font-size: 25px;

		line-height: 30px;

	}

	.banner-col-1 p {

		font-size: 18px;

		line-height: 35px;

		margin: 20px 0;

	}

	.form h2 {

		font-size: 20px;

		line-height: 30px;

	}

	.title-2 {

		font-size: 25px;

		line-height: 35px;

	}

	.section-2 .title-2 {

		margin-bottom: 30px;

	}

	.title-3 , .section-4 .title-3, .section-5 .title-3, .section-6 .title-3{

		font-size: 35px;

	}

	.title-4 {

		font-size: 35px;

		margin: 30px 0;

	}

	.section .text-1 {

		font-size: 25px;

		line-height: 35px;

	}

}