/* <style title="page-styles" type="text/css" data-page-type="main_desktop"> */
body {
  color: #7c8d9b;
}
a {
  color: #55bd91;
  text-decoration: none;
}
#lp-pom-text-9 {
  left: 14px;
  top: 120px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 23;
  width: 473px;
  height: 240px;
  position: absolute;
}
#lp-pom-text-10 {
  left: 14px;
  top: 387px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 22;
  width: 548px;
  height: 130px;
  position: absolute;
}
#lp-pom-box-12 {
  left: 596px;
  top: 237px;
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(assets/smile.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  border-radius: 10px;
  z-index: 5;
  width: 311px;
  height: 208px;
  position: absolute;
}
#lp-pom-box-16 {
  left: 734px;
  top: 356px;
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(assets/beb5cf1a-smiledental-photo-people-02_100000005q07m000000028.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: none;
  border-radius: 10px;
  z-index: 1;
  width: 206px;
  height: 274px;
  position: absolute;
}
#lp-pom-text-24 {
  left: 262px;
  top: 755px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 20;
  width: 415px;
  height: 42px;
  position: absolute;
}
#lp-pom-text-25 {
  left: 14px;
  top: 620px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 34;
  width: 684px;
  height: 88px;
  position: absolute;
}
#lp-pom-text-29 {
  left: 180px;
  top: 822px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 17;
  width: 247px;
  height: 78px;
  position: absolute;
}
#lp-pom-box-30 {
  left: 129px;
  top: 835px;
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-color: #55bd91;
  border-radius: 10px;
  z-index: 18;
  width: 36px;
  height: 36px;
  position: absolute;
}
#lp-pom-box-42 {
  left: 567px;
  top: 828px;
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-color: #55bd91;
  border-radius: 10px;
  z-index: 15;
  width: 36px;
  height: 36px;
  position: absolute;
}
#lp-pom-text-44 {
  left: 622px;
  top: 835px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 14;
  width: 265px;
  height: 26px;
  position: absolute;
}
#lp-pom-box-48 {
  left: 129px;
  top: 918px;
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-color: #55bd91;
  border-radius: 10px;
  z-index: 12;
  width: 36px;
  height: 36px;
  position: absolute;
}
#lp-pom-text-50 {
  left: 180px;
  top: 925px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 11;
  width: 270px;
  height: 26px;
  position: absolute;
}
#lp-pom-box-51 {
  left: 567px;
  top: 918px;
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-color: #55bd91;
  border-radius: 10px;
  z-index: 9;
  width: 36px;
  height: 36px;
  position: absolute;
}
#lp-pom-text-53 {
  left: 622px;
  top: 912px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 8;
  width: 265px;
  height: 52px;
  position: absolute;
}
#lp-pom-box-55 {
  left: 129px;
  top: 1007px;
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-color: #55bd91;
  border-radius: 10px;
  z-index: 6;
  width: 36px;
  height: 36px;
  position: absolute;
}
#lp-pom-text-57 {
  left: 180px;
  top: 1000px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 4;
  width: 270px;
  height: 52px;
  position: absolute;
}
#lp-pom-box-58 {
  left: 567px;
  top: 1000px;
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-color: #55bd91;
  border-radius: 10px;
  z-index: 2;
  width: 36px;
  height: 36px;
  position: absolute;
}
#lp-pom-text-60 {
  left: 622px;
  top: 1007px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 30;
  width: 265px;
  height: 27px;
  position: absolute;
}
#lp-pom-text-174 {
  left: 486px;
  top: 1286px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 29;
  width: 386px;
  height: 120px;
  position: absolute;
}
#lp-pom-text-175 {
  left: 486px;
  top: 1475px;
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  z-index: 28;
  width: 357px;
  height: 44px;
  position: absolute;
}
#lp-pom-box-177 {
  left: 0px;
  top: 1151px;
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(assets/f14e677d-smiledental-photo-people-07_100000005q07m000000028.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: none;
  border-radius: 10px;
  z-index: 25;
  width: 206px;
  height: 274px;
  position: absolute;
}
#lp-pom-box-178 {
  left: 245px;
  top: 1274px;
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(assets/cecb7a46-smiledental-photo-people-08_1000000000000000000028.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: none;
  border-radius: 10px;
  z-index: 21;
  width: 192px;
  height: 274px;
  position: absolute;
}
#lp-pom-box-179 {
  left: 126px;
  top: 1486px;
  display: block;
  background: rgba(255, 255, 255, 0);
  background-image: url(assets/f0f0e648-smiledental-photo-people-09_1000000000000000000028.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  border-radius: 10px;
  z-index: 24;
  width: 177px;
  height: 115px;
  position: absolute;
}
#lp-pom-root {
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: none;
  margin: auto;
  padding-top: 0px;
  border-radius: 0px;
  min-width: 940px;
  height: 1866px;
}
#lp-pom-block-14 {
  display: block;
  background: rgba(13, 62, 98, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 95px;
  position: relative;
}
#lp-pom-image-293 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 410.5px;
  top: 11px;
  z-index: 37;
  position: absolute;
}
#lp-pom-block-8 {
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 940px;
  height: 636px;
  position: relative;
}
#lp-pom-button-286 {
  display: block;
  border-style: none;
  border-radius: 10px;
  left: 14px;
  top: 537px;
  z-index: 33;
  width: 150px;
  height: 59px;
  position: absolute;
  background: rgba(13, 62, 98, 1);
  box-shadow: none;
  text-shadow: none;
  color: #ffffff;
  border-width: undefinedpx;
  border-color: undefined;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-family: Quicksand;
  font-style: normal;
  text-align: center;
  background-repeat: no-repeat;
}
#lp-pom-block-23 {
  display: block;
  background: rgba(246, 251, 249, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  border-radius: 0px;
  width: 100%;
  height: 388px;
  position: relative;
}
#lp-pom-image-214 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 8px;
  top: 11px;
  z-index: 19;
  position: absolute;
}
#lp-pom-image-217 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 8px;
  top: 11px;
  z-index: 16;
  position: absolute;
}
#lp-pom-image-215 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 8px;
  top: 11px;
  z-index: 13;
  position: absolute;
}
#lp-pom-image-218 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 8px;
  top: 11px;
  z-index: 10;
  position: absolute;
}
#lp-pom-image-216 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 8px;
  top: 11px;
  z-index: 7;
  position: absolute;
}
#lp-pom-image-219 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 8px;
  top: 11px;
  z-index: 3;
  position: absolute;
}
#lp-pom-block-173 {
  display: block;
  background: rgba(255, 255, 255, 1);
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 940px;
  height: 595px;
  position: relative;
}
#lp-pom-box-209 {
  display: block;
  background: rgba(61, 145, 109, 1);
  border-style: none;
  border-radius: 10px;
  left: 490px;
  top: 1539px;
  z-index: 26;
  width: 212px;
  height: 59px;
  position: absolute;
}
#lp-pom-button-208 {
  display: block;
  border-style: none;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  z-index: 27;
  width: 213px;
  height: 59px;
  position: absolute;
  background: rgba(13, 62, 98, 1);
  box-shadow: none;
  text-shadow: none;
  color: #ffffff;
  border-width: undefinedpx;
  border-color: undefined;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-family: Quicksand;
  font-style: normal;
  text-align: center;
  background-repeat: no-repeat;
}
#lp-pom-block-182 {
  display: block;
  background: rgba(13, 62, 98, 1);
  border-style: solid none none none;
  border-width: 1px;
  border-color: #d4d9db;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 150px;
  position: relative;
}
#lp-pom-text-210 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 308px;
  top: 1739px;
  z-index: 32;
  width: 307px;
  height: 88px;
  position: absolute;
}
#lp-pom-text-276 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 728px;
  top: 1739px;
  z-index: 31;
  width: 146px;
  height: 22px;
  position: absolute;
}
#lp-pom-text-290 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 728px;
  top: 1769px;
  z-index: 35;
  width: 212px;
  height: 22px;
  position: absolute;
}
#lp-pom-text-292 {
  display: block;
  background: rgba(255, 255, 255, 0);
  border-style: none;
  border-radius: 0px;
  left: 728px;
  top: 1817px;
  z-index: 36;
  width: 145px;
  height: 22px;
  position: absolute;
}
#lp-pom-image-294 {
  display: block;
  background: rgba(255, 255, 255, 0);
  left: 27px;
  top: 1739px;
  z-index: 38;
  position: absolute;
}
#lp-pom-root .lp-positioned-content {
  top: 0px;
  width: 940px;
  margin-left: -470px;
}
#lp-pom-block-14 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 95px;
}
#lp-pom-block-8 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 636px;
}
#lp-pom-block-23 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 388px;
}
#lp-pom-block-173 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 595px;
}
#lp-pom-block-182 .lp-pom-block-content {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  height: 150px;
}
#lp-pom-button-208:hover {
  background: rgba(10, 54, 93, 1);
  box-shadow: none;
  color: #ffffff;
}
#lp-pom-button-208:active {
  background: rgba(8, 49, 88, 1);
  box-shadow: none;
  color: #ffffff;
}
#lp-pom-button-208 .label {
  margin-top: -11px;
}
#lp-pom-image-214 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 21px;
  height: 15px;
}
#lp-pom-image-214 .lp-pom-image-container img {
  width: 21px;
  height: 15px;
}
#lp-pom-image-215 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 21px;
  height: 15px;
}
#lp-pom-image-215 .lp-pom-image-container img {
  width: 21px;
  height: 15px;
}
#lp-pom-image-216 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 21px;
  height: 15px;
}
#lp-pom-image-216 .lp-pom-image-container img {
  width: 21px;
  height: 15px;
}
#lp-pom-image-217 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 21px;
  height: 15px;
}
#lp-pom-image-217 .lp-pom-image-container img {
  width: 21px;
  height: 15px;
}
#lp-pom-image-218 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 21px;
  height: 15px;
}
#lp-pom-image-218 .lp-pom-image-container img {
  width: 21px;
  height: 15px;
}
#lp-pom-image-219 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 21px;
  height: 15px;
}
#lp-pom-image-219 .lp-pom-image-container img {
  width: 21px;
  height: 15px;
}
#lp-pom-button-286:hover {
  background: rgba(10, 54, 93, 1);
  box-shadow: none;
  color: #ffffff;
}
#lp-pom-button-286:active {
  background: rgba(8, 49, 88, 1);
  box-shadow: none;
  color: #ffffff;
}
#lp-pom-button-286 .label {
  margin-top: -11px;
}
#lp-pom-image-293 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 119px;
  height: 65px;
}
#lp-pom-image-293 .lp-pom-image-container img {
  width: 119px;
  height: 65px;
}
#lp-pom-image-294 .lp-pom-image-container {
  border-style: none;
  border-radius: 0px;
  width: 180px;
  height: 99px;
}
#lp-pom-image-294 .lp-pom-image-container img {
  width: 180px;
  height: 99px;
}
#lp-pom-root-color-overlay {
  position: absolute;
  background: none;
  top: 0;
  width: 100%;
  height: 1866px;
  min-height: 100%;
}
#lp-pom-block-14-color-overlay {
  position: absolute;
  background: none;
  height: 95px;
  width: 100%;
}
#lp-pom-block-8-color-overlay {
  position: absolute;
  background: none;
  height: 636px;
  width: 940px;
}
#lp-pom-box-12-color-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  border-radius: 7px;
  height: 208px;
  width: 311px;
}
#lp-pom-box-16-color-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  height: 274px;
  width: 206px;
}
#lp-pom-block-23-color-overlay {
  position: absolute;
  background: none;
  height: 388px;
  width: 100%;
}
#lp-pom-box-30-color-overlay {
  position: absolute;
  background: none;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}
#lp-pom-box-42-color-overlay {
  position: absolute;
  background: none;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}
#lp-pom-box-48-color-overlay {
  position: absolute;
  background: none;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}
#lp-pom-box-51-color-overlay {
  position: absolute;
  background: none;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}
#lp-pom-box-55-color-overlay {
  position: absolute;
  background: none;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}
#lp-pom-box-58-color-overlay {
  position: absolute;
  background: none;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}
#lp-pom-block-173-color-overlay {
  position: absolute;
  background: none;
  height: 595px;
  width: 940px;
}
#lp-pom-box-177-color-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  height: 274px;
  width: 206px;
}
#lp-pom-box-178-color-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  height: 274px;
  width: 192px;
}
#lp-pom-box-179-color-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  border-radius: 7px;
  height: 115px;
  width: 177px;
}
#lp-pom-block-182-color-overlay {
  position: absolute;
  background: none;
  height: 150px;
  width: 100%;
}
#lp-pom-box-209-color-overlay {
  position: absolute;
  background: none;
  border-radius: 10px;
  height: 59px;
  width: 212px;
}
/* </style> */
/* <style title="page-styles" type="text/css" data-page-type="main_mobile"> */
@media only screen and (max-width: 600px) {
  #lp-pom-root {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: none;
    margin: auto;
    padding-top: 0px;
    border-radius: 0px;
    min-width: 320px;
    height: 2322px;
  }
  #lp-pom-block-14 {
    display: block;
    background: rgba(13, 62, 98, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 76px;
    position: relative;
  }
  #lp-pom-image-293 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 100.5px;
    top: 5.5px;
    z-index: 37;
    position: absolute;
  }
  #lp-pom-block-8 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 320px;
    height: 928px;
    position: relative;
  }
  #lp-pom-text-9 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 11.5px;
    top: 86px;
    z-index: 23;
    width: 471px;
    height: 240px;
    transform: scale(0.63);
    transform-origin: 0 0;
    -webkit-transform: scale(0.63);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-text-10 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 12px;
    top: 454px;
    z-index: 22;
    width: 329px;
    height: 208px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-box-12 {
    display: block;
    background: rgba(255, 255, 255, 0);
    background-image: url(assets/82228b72-smiledental-photo-people-01_100000008n05e000006028.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    border-radius: 10px;
    left: 0px;
    top: 241px;
    z-index: 5;
    width: 320px;
    height: 200px;
    position: absolute;
  }
  #lp-pom-box-16 {
    display: none;
    background: rgba(255, 255, 255, 0);
    background-image: url(assets/beb5cf1a-smiledental-photo-people-02_100000005q07m000000028.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    border-radius: 10px;
    left: 330px;
    top: 106px;
    z-index: 1;
    width: 206px;
    height: 274px;
    position: absolute;
  }
  #lp-pom-text-25 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 25px;
    top: 758px;
    z-index: 34;
    width: 270px;
    height: 220px;
    position: absolute;
  }
  #lp-pom-button-286 {
    display: block;
    border-style: none;
    border-radius: 10px;
    left: 85px;
    top: 670px;
    z-index: 33;
    width: 150px;
    height: 59px;
    position: absolute;
    background: rgba(13, 62, 98, 1);
    box-shadow: none;
    text-shadow: none;
    color: #ffffff;
    border-width: undefinedpx;
    border-color: undefined;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    font-family: Quicksand;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
  }
  #lp-pom-block-23 {
    display: block;
    background: rgba(246, 251, 249, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    border-radius: 0px;
    width: 100%;
    height: 570px;
    position: relative;
  }
  #lp-pom-text-24 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 1px;
    top: 1021px;
    z-index: 20;
    width: 398px;
    height: 42px;
    transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-text-29 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 69px;
    top: 1091px;
    z-index: 17;
    width: 247px;
    height: 78px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-box-30 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    border-color: #55bd91;
    border-radius: 10px;
    left: 13px;
    top: 1091px;
    z-index: 18;
    width: 36px;
    height: 36px;
    position: absolute;
  }
  #lp-pom-image-214 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 8px;
    top: 11px;
    z-index: 19;
    position: absolute;
  }
  #lp-pom-box-42 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    border-color: #55bd91;
    border-radius: 10px;
    left: 13px;
    top: 1190px;
    z-index: 15;
    width: 36px;
    height: 36px;
    position: absolute;
  }
  #lp-pom-image-217 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 8px;
    top: 11px;
    z-index: 16;
    position: absolute;
  }
  #lp-pom-text-44 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 63px;
    top: 1190px;
    z-index: 14;
    width: 265px;
    height: 26px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-box-48 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    border-color: #55bd91;
    border-radius: 10px;
    left: 13px;
    top: 1265px;
    z-index: 12;
    width: 36px;
    height: 36px;
    position: absolute;
  }
  #lp-pom-image-215 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 8px;
    top: 11px;
    z-index: 13;
    position: absolute;
  }
  #lp-pom-text-50 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 69px;
    top: 1265px;
    z-index: 11;
    width: 270px;
    height: 26px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-box-51 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    border-color: #55bd91;
    border-radius: 10px;
    left: 13px;
    top: 1341px;
    z-index: 9;
    width: 36px;
    height: 36px;
    position: absolute;
  }
  #lp-pom-image-218 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 8px;
    top: 11px;
    z-index: 10;
    position: absolute;
  }
  #lp-pom-text-53 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 69px;
    top: 1341px;
    z-index: 8;
    width: 265px;
    height: 52px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-box-55 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    border-color: #55bd91;
    border-radius: 10px;
    left: 13px;
    top: 1419px;
    z-index: 6;
    width: 36px;
    height: 36px;
    position: absolute;
  }
  #lp-pom-image-216 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 8px;
    top: 11px;
    z-index: 7;
    position: absolute;
  }
  #lp-pom-text-57 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 63px;
    top: 1419px;
    z-index: 4;
    width: 270px;
    height: 52px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-box-58 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 2px;
    border-color: #55bd91;
    border-radius: 10px;
    left: 13px;
    top: 1503px;
    z-index: 2;
    width: 36px;
    height: 36px;
    position: absolute;
  }
  #lp-pom-image-219 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 8px;
    top: 11px;
    z-index: 3;
    position: absolute;
  }
  #lp-pom-text-60 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 63px;
    top: 1503px;
    z-index: 30;
    width: 265px;
    height: 27px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-block-173 {
    display: block;
    background: rgba(255, 255, 255, 1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 320px;
    height: 379px;
    position: relative;
  }
  #lp-pom-text-174 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 13px;
    top: 1603px;
    z-index: 29;
    width: 386px;
    height: 180px;
    transform: scale(0.65);
    transform-origin: 0 0;
    -webkit-transform: scale(0.65);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-text-175 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 13px;
    top: 1742px;
    z-index: 28;
    width: 244px;
    height: 44px;
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    position: absolute;
  }
  #lp-pom-box-177 {
    display: none;
    background: rgba(255, 255, 255, 0);
    background-image: url(assets/f14e677d-smiledental-photo-people-07_100000005q07m000000028.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    border-radius: 10px;
    left: 342px;
    top: 1575px;
    z-index: 25;
    width: 206px;
    height: 274px;
    position: absolute;
  }
  #lp-pom-box-178 {
    display: none;
    background: rgba(255, 255, 255, 0);
    background-image: url(assets/cecb7a46-smiledental-photo-people-08_1000000000000000000028.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    border-radius: 10px;
    left: 567px;
    top: 1575px;
    z-index: 21;
    width: 192px;
    height: 274px;
    position: absolute;
  }
  #lp-pom-box-179 {
    display: none;
    background: rgba(255, 255, 255, 0);
    background-image: url(assets/f0f0e648-smiledental-photo-people-09_1000000000000000000028.png);
    background-repeat: no-repeat;
    background-position: left top;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
    border-radius: 10px;
    left: 787px;
    top: 1651px;
    z-index: 24;
    width: 177px;
    height: 115px;
    position: absolute;
  }
  #lp-pom-box-209 {
    display: block;
    background: rgba(61, 145, 109, 1);
    border-style: none;
    border-radius: 10px;
    left: 13px;
    top: 1809px;
    z-index: 26;
    width: 212px;
    height: 59px;
    position: absolute;
  }
  #lp-pom-button-208 {
    display: block;
    border-style: none;
    border-radius: 10px;
    left: 0px;
    top: 0px;
    z-index: 27;
    width: 213px;
    height: 59px;
    position: absolute;
    background: rgba(13, 62, 98, 1);
    box-shadow: none;
    text-shadow: none;
    color: #ffffff;
    border-width: undefinedpx;
    border-color: undefined;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    font-family: Quicksand;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
  }
  #lp-pom-block-182 {
    display: block;
    background: rgba(13, 62, 98, 1);
    border-style: solid none none none;
    border-width: 1px;
    border-color: #d4d9db;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 367px;
    position: relative;
  }
  #lp-pom-text-210 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 10px;
    top: 2028px;
    z-index: 32;
    width: 223px;
    height: 110px;
    position: absolute;
  }
  #lp-pom-text-276 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 10px;
    top: 1991px;
    z-index: 31;
    width: 144px;
    height: 22px;
    position: absolute;
  }
  #lp-pom-text-290 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 10px;
    top: 1965px;
    z-index: 35;
    width: 241px;
    height: 22px;
    position: absolute;
  }
  #lp-pom-text-292 {
    display: block;
    background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 88px;
    top: 2190px;
    z-index: 36;
    width: 144px;
    height: 22px;
    position: absolute;
  }
  #lp-pom-image-294 {
    display: block;
    background: rgba(255, 255, 255, 0);
    left: 110.5px;
    top: 2246px;
    z-index: 38;
    position: absolute;
  }
  body {
    color: #7c8d9b;
  }
  a {
    color: #55bd91;
    text-decoration: none;
  }
  #lp-pom-root .lp-positioned-content {
    top: 0px;
    width: 320px;
    margin-left: -160px;
  }
  #lp-pom-block-14 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 76px;
  }
  #lp-pom-block-8 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 928px;
  }
  #lp-pom-block-23 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 570px;
  }
  #lp-pom-block-173 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 379px;
  }
  #lp-pom-block-182 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 367px;
  }
  #lp-pom-button-208:hover {
    background: rgba(10, 54, 93, 1);
    box-shadow: none;
    color: #ffffff;
  }
  #lp-pom-button-208:active {
    background: rgba(8, 49, 88, 1);
    box-shadow: none;
    color: #ffffff;
  }
  #lp-pom-button-208 .label {
    margin-top: -11px;
  }
  #lp-pom-image-214 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-214 .lp-pom-image-container img {
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-215 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-215 .lp-pom-image-container img {
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-216 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-216 .lp-pom-image-container img {
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-217 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-217 .lp-pom-image-container img {
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-218 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-218 .lp-pom-image-container img {
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-219 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 21px;
    height: 15px;
  }
  #lp-pom-image-219 .lp-pom-image-container img {
    width: 21px;
    height: 15px;
  }
  #lp-pom-button-286:hover {
    background: rgba(10, 54, 93, 1);
    box-shadow: none;
    color: #ffffff;
  }
  #lp-pom-button-286:active {
    background: rgba(8, 49, 88, 1);
    box-shadow: none;
    color: #ffffff;
  }
  #lp-pom-button-286 .label {
    margin-top: -11px;
  }
  #lp-pom-image-293 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 119px;
    height: 65px;
  }
  #lp-pom-image-293 .lp-pom-image-container img {
    width: 119px;
    height: 65px;
  }
  #lp-pom-image-294 .lp-pom-image-container {
    border-style: none;
    border-radius: 0px;
    width: 99px;
    height: 55px;
  }
  #lp-pom-image-294 .lp-pom-image-container img {
    width: 99px;
    height: 55px;
  }
  #lp-pom-root-color-overlay {
    position: absolute;
    background: none;
    top: 0;
    width: 100%;
    height: 2322px;
    min-height: 100%;
  }
  #lp-pom-block-14-color-overlay {
    position: absolute;
    background: none;
    height: 76px;
    width: 100%;
  }
  #lp-pom-block-8-color-overlay {
    position: absolute;
    background: none;
    height: 928px;
    width: 320px;
  }
  #lp-pom-box-12-color-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    border-radius: 7px;
    height: 200px;
    width: 320px;
  }
  #lp-pom-box-16-color-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    height: 274px;
    width: 206px;
  }
  #lp-pom-block-23-color-overlay {
    position: absolute;
    background: none;
    height: 570px;
    width: 100%;
  }
  #lp-pom-box-30-color-overlay {
    position: absolute;
    background: none;
    border-radius: 8px;
    height: 36px;
    width: 36px;
  }
  #lp-pom-box-42-color-overlay {
    position: absolute;
    background: none;
    border-radius: 8px;
    height: 36px;
    width: 36px;
  }
  #lp-pom-box-48-color-overlay {
    position: absolute;
    background: none;
    border-radius: 8px;
    height: 36px;
    width: 36px;
  }
  #lp-pom-box-51-color-overlay {
    position: absolute;
    background: none;
    border-radius: 8px;
    height: 36px;
    width: 36px;
  }
  #lp-pom-box-55-color-overlay {
    position: absolute;
    background: none;
    border-radius: 8px;
    height: 36px;
    width: 36px;
  }
  #lp-pom-box-58-color-overlay {
    position: absolute;
    background: none;
    border-radius: 8px;
    height: 36px;
    width: 36px;
  }
  #lp-pom-block-173-color-overlay {
    position: absolute;
    background: none;
    height: 379px;
    width: 320px;
  }
  #lp-pom-box-177-color-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    height: 274px;
    width: 206px;
  }
  #lp-pom-box-178-color-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    height: 274px;
    width: 192px;
  }
  #lp-pom-box-179-color-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    border-radius: 7px;
    height: 115px;
    width: 177px;
  }
  #lp-pom-block-182-color-overlay {
    position: absolute;
    background: none;
    height: 367px;
    width: 100%;
  }
  #lp-pom-box-209-color-overlay {
    position: absolute;
    background: none;
    border-radius: 10px;
    height: 59px;
    width: 212px;
  }
}
/* </style> */