/* Content Layout */
@media (min-width: 768px) {
  .bd-flex-horizontal.bd-flex-wide {
    display: table;
    width: 100%;
  }
  .bd-flex-horizontal.bd-flex-wide > * {
    display: table-cell;
    vertical-align: top;
  }
}
