*{ 
	font-family: 'PT Sans Narrow', sans-serif;
}
.text-center img {
	display: inline-block;
}

header {
	padding: 0px;
}
.header-top {
    padding: 15px 0px;
    position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
}
header .mainmenu {
	float: right;
	padding-top: 10px;
}
header .mainmenu ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #fff;
}
header .mainmenu ul li {
	padding: 0px 17px;
}
header .mainmenu ul li:last-child {
	padding-right: 0px !important;
}
header .mainmenu ul li:last-child a {
    border-radius: 50px;
    background-color: #866020;
    border: 2px solid #866020;
    color: #fff;
    padding: 7px 20px;
    vertical-align: middle;
}
.mainmenu {
    margin-top: 20px;
}
header .mainmenu ul li:last-child a:hover {
	border-radius: 50px;
	background-color: #866020;
	border: 2px solid #866020;
	color: #fff;
	padding: 7px 20px;
	vertical-align: middle;
}
/*************SUB MENU*************/
.mainmenu .sub-menu {list-style: outside none none;  min-width: 250px;  padding: 0;  position: absolute;  z-index: 1000;  display:none;}
.mainmenu li:last-child:hover .sub-menu {right: 0;}
.mainmenu li:hover .sub-menu{ display:block; }
.mainmenu .sub-menu li{padding:0px !important;}
.mainmenu .sub-menu li a { background-color: #fff;  display: block;  padding: 10px 15px !important;  text-align: left; color: #000 !important;  text-decoration: none;  transition: all 1s ease-in-out 0s;}
.mainmenu .sub-menu li a:hover { background:#fff !important; padding-left:25px; color: #000 !important;}
.col-md-5ths {
	width: 20%;
	float: left;
}

/*******MAIN MENU*********/
header .mainmenu .navbar {
	margin: 0px;
	padding: 0px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin: 0px;
}
.owl-theme .owl-nav {
	margin-top: 0;
}
header .mainmenu .navbar-nav a.active,
header .mainmenu .navbar-nav a:focus,
header .mainmenu .navbar-nav a:hover {
	background: none;
}
header .header-bottom {
	position: relative;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

header .header-bottom .item  img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}
header .header-bottom .banner-contents {
	position: absolute;
	left: 0;
	right: 0;
	top: 35%;
	width: 100%;
}
header .banner-contents h3 {
	font-size: 60px;
	color: #fff;
	font-weight: 700;
	line-height: 1.2;
}
header .banner-contents h3 span {
	text-transform: uppercase;
}
.banner-contents p {
	font-size: 22px;
	color: #fff;
	line-height: 1.7;
	padding-top: 20px;
}
.banner-contents a {
	font-size: 18px;
	border-radius: 50px;
background-color: #866020;
border: 2px solid #866020;
color: #fff;
padding: 7px 20px;
vertical-align: middle;
text-transform: uppercase;
font-weight: 500;
}

/*********** CAROUSEL NAV***********/
header .header-bottom .owl-prev {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/banner-left-arrow.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin:0px !important;
	display: inline-block;
	height: 64px;
	left: 5%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 33px;
	outline: none !important;
	opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header .header-bottom .owl-next {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/banner-right-arrow.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin:0px !important;
	display: inline-block;
	height: 64px;
	right: 5%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 33px;
	outline: none !important;
	opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header .header-bottom:hover .owl-prev {
	opacity: 1;
	left: 2%;
}
header .header-bottom:hover .owl-next {
	opacity: 1;
	right: 2%;
}

/**********CAROUSEL DOTS***************/
header .header-bottom .owl-theme .owl-controls {
    margin-top: 0;
}
header .header-bottom .owl-dots {
	bottom: 5%;
	left: 0;
	position: absolute;
	right: 0;
}
header .header-bottom .owl-theme .owl-dots .owl-dot span {
	background-color: #fff;
}
header .header-bottom  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #edb200;
}
/*.banner-shape {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}*/

.banner-shape img {
	margin-top: -135px;
	z-index: 99;
	position: relative;
	/* left: 0; */
}

.heading p {
		color: #131313;
	font-size: 22px;
}
.fst {
	font-weight: 600;
}
.about-heading p span{
	color: #866020;
}
.sec {
	text-transform: uppercase;
	font-weight: 600;
}
.heading h3 {
	color: #866020;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 700;
}
.heading h4 {
	color: #866020;
	text-transform: uppercase;
	font-size: 30px;
}
.about-section {
	padding: 50px 0px 50px 0px;
}
.properties-wrap {
	padding: 30px 0px 0px 0px;
}
.interlet-img a img.hover-img {
    display: none !important;
 }
.interlet-img:hover img.over-img {
	display: none !important;
}
.interlet-img:hover img.hover-img {
	display: block !important;
}
.interlet-img {
	padding: 15px;
	background-color: #fff;
}
.interlet-img:hover {
	padding: 15px;
	border: 1px solid #866020;
	box-shadow: 0px 0px 10px 3px #86602069;
}
.interlet-img h5 {
	color: #000000;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 15px;
}
.interlet-img a{
	text-decoration: none;
}
.interlet-img p {
	color: #000;
	font-size: 17px !important;
	font-family: 'IBM Plex Sans', sans-serif;
	min-height: 103px;
}
.interlet-img i {
	font-size: 35px;
	font-weight: 400 !important;
	color: #000;
	text-align: right !important;
	display: block; 
}
.interlet-img:hover i{
	color: #866020;
}

.interlet-section {
	background-image: url(img/others/background-img.png);
	background-position: bottom;
	background-size: 100% 50%;
	background-repeat: no-repeat;
	padding: 80px 0px;
}
.video-overlay-section {
	background-image: url(img/others/background-img.png);
	background-position: top;
	background-size: 100% 50%;
	background-repeat: no-repeat;
	/* padding: 20px 0px; */
}
.video-overlay-heading.heading img {
	border-radius: 20px;
}
.gallery-img img {
	border-radius: 40px;
}
.gallery-contents img {
	display: none;
}
.gallery-cont-wrap:hover .gallery-contents img {
	display: block !important;
	margin: auto;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	background-color: #d4bf86bd;
	padding: 87px 103px;
	border-radius: 40px;
	border: 3px solid #866020;
}
.gallery-wrap {
	margin: 30px 0px;
}
.gallery-section a {
	font-size: 18px;
	border-radius: 50px;
	background-color: #866020;
	border: 2px solid #866020;
	color: #fff;
	padding: 7px 20px;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 50px;
}
.gallery-section {
	padding: 50px 0px;
}
.text {
	text-transform: uppercase;
}
.contents-wrap {
	padding: 20px;
	border: 2px solid #e6e6e6;
	border-radius: 20px;
}
.contents-wrap .rounded-circle {
	margin-top: -65px;
	margin-left: 155px;
}

.contents-wrap p {
	color: #555555;
	font-size: 16px !important;
	font-family: 'IBM Plex Sans', sans-serif;
	min-height: 140px;
	padding-top: 15px !important;
}
.contents-wrap span img {
	width: 28%;
	margin-left: 20px;
}
.contents-wrap h5{
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}
.contents-wrap h6{
	color:#000000;
	font-size: 18px;
}
.testi-wrap {
	padding: 60px 0px;
}
.services-section {
	background-image: url(img/others/interlets-bg.png);
	padding: 60px 0px;
	background-position: center center;
	background-size: cover;
}
.services-heading h3 {
	color: #fff;
}
.services-heading p {
	color: #fff;
}
.services-img {
	background-color: #fff;
	padding: 15px 0px;
	text-align: center;
	height: 95px;
	width: 95px;
}
.services-content h5 {
	color: #fff;
	font-size: 22px;
}
.services-content p {
	color: #fff;
	font-size: 16px;
	font-family: 'IBM Plex Sans', sans-serif;
}
.services-content a {
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
	padding: 0px;
	font-weight: 700;
}
.services-wrap-cont {
	margin-bottom: 25px;
}
.services-wrap {
	padding: 40px 0px;
}
.contact1-section {
	background-image: url(img/others/contact-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0px;
	background-position: center;
}
.offer-cont {
	margin-bottom: 30px;
}
.faq-section {
  padding: 70px 0px;
}
.card-header button img {
border-radius: 5px;
}
.card-header {
padding: 0px;
border-bottom: none;
}
.card-header button {
    font-size: 25px;
    color: #000 !important;
    font-weight: bold;
    text-decoration: none !important;
    text-align: left;
    width: 100%;
    padding: 0px;
    background-color: #f1f1f1 !important;
    height: 65px;
    line-height: 1;
}
.card-header h5 {
  background-color: #f1f1f1 !important;
}
.card-body {
    padding: 0px 0px 0px;
    background-color: #f1f1f1;
}
.card-body p {
    font-size: 17px;
    color: #000 !important;
    font-weight: 400;
    margin: 0px;
}
.card-header i {
float: right;
}
.card-header [data-toggle="collapse"].collapsed .fa::after{
content: "";
    width: 12px;
    height: 11px;
background-image: url(img/others/plus-icon.png);
background-repeat: no-repeat;
background-position: right;
background-size: cover;
position: relative;
right: 0;
top: 8px;
float: right;
}
.card-header [data-toggle="collapse"] .fa::after{
    content: "";
    width: 15px;
    height: 3px;
    background-image: url(img/others/min-icon.png);
   
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
    right: 0;
    top: 8px;
    float: right;
}
.card {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 10px 0px;
    border: 3px solid transparent !important;
    border-radius: 10px;
}
.card:hover {
    border: 3px solid #a38758 !important;
}
.contact-wrap {
  background-color: #f0f0f0;
  padding: 40px 60px;
}
.form-group input {
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #b4b4b4;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
  color: #000;
}
.form-group textarea {
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #b4b4b4;
  color: #000;
  height: 100px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
}
.contact-btn button {
  font-size: 20px;
  color: #fff;
  background-color: #866020;
  padding: 10px 40px;
  border-radius: 40px;
  margin-top: 30px;
  text-transform: uppercase;
}
.footer-section {
  background-color: #000;
  padding: 50px 0px 20px;
}
.contact-cont ul li i {
  border: 2px solid #5e6f75;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding-top: 10px;
  text-align: center;
  color: #fff;
}
.contact-content ul li a {
text-decoration: none;
}
.contact-cont ul li a i {
  margin-top: 8px;
  margin-right: 10px;
}
.contact-content ul li a h4 {
  font-family: 'Ubuntu';
  font-size: 16px;
  font-weight: bold;
  color: #866020;
  text-transform: uppercase;
  display: flex;
}
.contact-content ul li span {
  font-size: 18px !important;
  color: #fff;
  display: flex;
  text-align: left;
  font-weight: normal;
}
.fa.fa-phone {
  margin-top: 10px;
  margin-right: 10px;
}
.footer-menu ul li a {
  color: #fff;
  font-size: 20px;
  padding: 15px 40px;
  display: block;
  text-decoration: none;
}
.footer-logo {
  padding: 20px 0px;
}

.social-icons ul li a i {
  color: #fff;
  font-size: 20px;
  padding: 0px 20px;
}
.copyrights p {
  font-size: 20px;
  color: #fff;
  padding-top: 10px;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  margin: 0px;
}




.contact-form .form-control::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form .form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.contact-form .form-control::placeholder {
  color: #000;
  opacity: 1;
}



/*RESPONSIVE*/
@media screen and (max-width: 2880px) {

}

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1366px) {

}

@media screen and (min-width: 1100px) and (max-width: 1280px) {

}
@media screen and (max-width: 1279px) {
	header .mainmenu ul li a {
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}
header .mainmenu ul li {
	padding: 0px 10px;
}
header .banner-contents h3 {
	font-size: 40px;
}
.banner-contents p {
	font-size: 19px;
}
.banner-contents a {
	font-size: 15px;
}
.heading h3 {
	font-size: 35px;
}
.heading p {
	font-size: 20px;
}
.heading h4 {
	font-size: 25px;
}
.about-section {
	padding: 30px 0px 30px 0px;
}
.interlet-section {
	background-size: 100% 47%;
	padding: 40px 0px;
}
.interlet-img h5 {
	font-size: 20px;
}
.interlet-img p {
	font-size: 15px !important;
}
.gallery-cont-wrap:hover .gallery-contents img {
	padding: 62px 82px;
}
.gallery-section {
	padding: 30px 0px;
}
.contents-wrap .rounded-circle {
	margin-top: -120px;
}
.contents-wrap p {
	font-size: 15px !important;
}
.contents-wrap h5 {
	font-size: 18px;
}
.contents-wrap h6 {
	font-size: 16px;
}
.services-content p {
	font-size: 15px;
}
.card-header button {
 font-size: 18px;
 height: auto;
}
.footer-menu ul li a {
 color: #fff;
 font-size: 18px;
 padding: 5px 25px;
}
.copyrights p {
 font-size: 16px;
}
}

@media screen and (max-width: 1023px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
	.footer-menu ul li a {
 padding: 5px 10px;
}
}
@media screen and (max-width: 820px) {
.services-img {
	background-color: #fff;
	padding: 8px 0px;
	text-align: center;
	height: 80px;
	width: 80px;
}
header .mainmenu ul li a {
	font-size: 15px;
}
header .mainmenu ul li {
	padding: 0px 6px;
}
.mainmenu {
	margin-top: 12px;
}
header .banner-contents h3 {
	font-size: 35px;
}
.banner-shape img {
	margin-top: -100px;
	width: 4%;
}
.about-section {
	padding: 10px 0px 10px 0px;
}
.heading h3 {
	font-size: 30px;
}
.heading p {
	font-size: 17px;
}
.interlet-img p {
	font-size: 14px !important;
	min-height: 130px;
}
.interlet-img h5 {
	font-size: 18px;
}
.gallery-cont-wrap:hover .gallery-contents img {
	padding: 29px 52px;
}
.gallery-section a {
	font-size: 15px;
}
.contents-wrap .rounded-circle {
	margin-left: 70px;
}
.contents-wrap p {
	font-size: 14px !important;
}
.contents-wrap p {
	font-size: 14px !important;
	min-height: 202px;
}
.services-content p {
	font-size: 14px;
	min-height: 130px;
}
.services-content h5 {
	font-size: 19px;
}
.services-section {
	padding: 35px 0px;
}
.services-wrap {
	padding: 10px 0px;
}
}
@media screen and (max-width: 767px) {
	.faq-section {
	padding: 35px 0px;
}
	.contact-wrap {
 padding: 30px;
}
.footer-menu ul li a {
 padding: 5px 7px;
}
	header .header-logo {
	    text-align: center;
	}
	header .header-logo img {
		display: inline-block;
	}
	header .mainmenu .navbar {
	  margin: 0;
	  padding: 0;
	}
	.icon-bar {
		background-color: #000;
		border-radius: 1px;
		display: block;
		height: 2px;
		width: 22px;
	}
	.header-top {
	position: relative;
	padding: 8px 0px;
}
.mainmenu {
	margin-top: 0px;
}
	.icon-bar + .icon-bar {
		margin-top: 4px;
	}
	button:focus {
		outline: none;
	}
	.navbar-toggler {
	  background-color: transparent;
	  background-image: none;
	  border-radius: 0;
	  padding: 9px 10px;
	}
	.navbar-dark .navbar-toggler {
	  border: medium none;
	}
	header .header-top .mainmenu ul li {
	  margin-bottom: 10px;
	}
	header .header-top .mainmenu ul li .sub-menu li {
	  margin-bottom: 0px;
	}
	.mainmenu li:last-child:hover .sub-menu {
		right: auto;
	}
	header .mainmenu {
		float: none;
		padding-top: 0px;
	}
	header .banner-contents h3 {
	font-size: 25px;
}
	header .header-bottom .banner-contents {
	top: 15%;
}
.banner-contents p {
	padding-top: 0px;
	font-size: 16px;
}
.banner-shape img {
	margin-top: -93px;
	width: 7%;
}
.heading h3 {
	font-size: 25px;
}
.heading p {
	font-size: 15px;
}
.properties-wrap {
	padding: 15px 0px 0px 0px;
}
.heading h4 {
	font-size: 21px;
}
.interlet-section {
	background-size: 100% 47%;
	padding: 10px 0px;
}
.interlet-img p {
	min-height: auto;
}
.interlet-img {
	margin: 15px 0px;
}
.video-overlay-section {
	padding-top: 30px;
}
.banner-details img {
	width: 17%;
}
.gallery-cont-wrap {
	margin-top: 20px;
}
.gallery-cont-wrap:hover .gallery-contents img {
	padding: 78px 96px;
}
.contents-wrap p {
	min-height: auto;
}
.contents-wrap {
	margin-bottom: 50px;
}
.contents-wrap .rounded-circle {
	margin-left: 290px;
	margin-top: -80px;
}
.services-img {
	margin: auto;
}
.services-wrap {
	text-align: center;
}
.services-content p {
	min-height: auto;
}
.services-content {
	padding-top: 15px;
}
.testi-wrap {
	padding: 35px 0px 0px 0px;
}
header .mainmenu ul li a {
	color: #000;
}
.video-overlay-section {
	background-size: 100% 70%;
}
}
@media screen and (max-width: 480px) {
	.services-section {
	padding: 20px 0px;
}
	.gallery-cont-wrap:hover .gallery-contents img {
	padding: 48px 67px;
}
.contents-wrap .rounded-circle {
	margin-left: 230px;
	margin-top: -130px;
}
.contents-wrap p {
	padding-top: 0px !important;
}
.footer-menu ul {
 display: block !important;
}
}
@media screen and (max-width: 420px) {
	.card-header button {
 font-size: 14px;
 line-height: normal;
}
.card {
 padding: 8px 10px;
}
}
@media screen and (max-width: 395px) {

}
@media screen and (max-width: 375px) {
.gallery-cont-wrap:hover .gallery-contents img {
	padding: 33px 55px;
}
.contents-wrap .rounded-circle {
	margin-left: 180px;
}
}
@media screen and (max-width: 360px) {
.gallery-cont-wrap:hover .gallery-contents img {
	padding: 29px 50px;
}
}
@media screen and (max-width: 320px) {
.gallery-cont-wrap:hover .gallery-contents img {
	padding: 18px 40px;
}
}