<script type="text/javascript">
	$( ".elementor-field-group-phonenumber").append("<span id='valid-msg' class='hide'>✓ Valid</span><span id='error-msg' class='hide'></span>");
	$( ".elementor-field-group-phonenumber_can").append("<span id='valid-msg' class='hide'>✓ Valid</span><span id='error-msg' class='hide'></span>");
	$( ".elementor-field-group-phonenumber_aus").append("<span id='valid-msg' class='hide'>✓ Valid</span><span id='error-msg' class='hide'></span>");
	
	var pathname = window.location.pathname;
	var pinfo    = pathname.split("/");
	const defaultCountry = pinfo[1] == 'v6' ? 'de' : (pinfo[1] == 'can' ? 'ca' : (pinfo[1] == 'aus' ? 'au' : (pinfo[1] == 'fr' ? 'fr' : (pinfo[1] == 'be' ? 'be' : (pinfo[1] == 'it' ? 'it' : (pinfo[1] == 'es' ? 'es' : (pinfo[1] == 'nl' ? 'nl' : (pinfo[1] == 'br' ? 'br' : (pinfo[1] == 'nz' ? 'nz' : 'gb')))))))));
	console.log(defaultCountry);
	
	$( document ).ready(function() {
		// Country code script
		if($("#form-field-phonenumber").length > 0) {
			var input = document.querySelector("#form-field-phonenumber"),
			errorMsg = document.querySelector("#error-msg"),
			validMsg = document.querySelector("#valid-msg");
			
			// Here, the index maps to the error code returned from getValidationError
			var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
			
			// Get country code
			var countryData = window.intlTelInputGlobals.getCountryData(),
			country_code = document.querySelector("#form-field-country_code");
			// Initialise plugin
			var iti = window.intlTelInput(input, {
				utilsScript: "intlTelInput/js/utils.js",
				initialCountry: defaultCountry
			});
			
			// Set it's initial value
			var all_countrycode = country_code.value = iti.getSelectedCountryData().dialCode;
			
			// Listen to the telephone input for changes
			input.addEventListener('countrychange', function(e) {
				var selected_countrycode = country_code.value = iti.getSelectedCountryData().dialCode;
				var countrycode = iti.getSelectedCountryData().iso2;
				var countrychangename = iti.getSelectedCountryData().name;
				$("#form-field-country_iso_code").val(countrycode);
				console.log(countrycode);
				$("#form-field-country_name").val(countrychangename);
				console.log(countrychangename);
				if(countrycode) {
					countryvalidfunction();
				}
			});
			
			var reset = function() {
				input.classList.remove("error");
				errorMsg.innerHTML = "";
				errorMsg.classList.add("hide");
				validMsg.classList.add("hide");
			};
			
			// On blur: validate
			input.addEventListener('blur', function() {
				reset();
				if (input.value.trim()) {
					if (iti.isValidNumber()) {
						if ($('#in_valid_error_email').length == 0) {
							$('#form-submit-whiskey').prop('disabled', false);
						} 
					} else {
						input.classList.add("error");
						var errorCode = iti.getValidationError();
						errorMsg.innerHTML = errorMap[errorCode];
						errorMsg.classList.remove("hide");
						$('#form-submit-whiskey').prop('disabled', true);
					}
				}
			});
			
			// On keyup / change flag: reset
			input.addEventListener('change', reset);
			input.addEventListener('keyup', reset);
			
			$('select#country_code').on('change',function(){
				var country_code =  $(this). children("option:selected").text();
				var code = country_code.replace('+','');
				console.log(code);
			})
			
			function countryvalidfunction() {
				var telephoneNumber = $("#form-field-phonenumber").val();
				var defaultCountry = $("#form-field-country_iso_code").val();
				var internationaltelephonevalidation = new data8.internationaltelephonevalidation();
				internationaltelephonevalidation.isvalid(
					telephoneNumber,
					defaultCountry,
					[
						new data8.option('UseMobileValidation', 'false'),
						new data8.option('UseLineValidation', 'false'),
						new data8.option('RequiredCountry', ''),
						new data8.option('AllowedPrefixes', ''),
						new data8.option('BarredPrefixes', ''),
						new data8.option('UseUnavailableStatus', 'true'),
						new data8.option('UseAmbiguousStatus', 'true'),
						new data8.option('TreatUnavailableMobileAsInvalid', 'false'),
						new data8.option('ExcludeUnlikelyNumbers', 'false')
					],
					showIsValidResults_v2
				);
			}
			function showIsValidResults_v2(result) {
				console.log(result.Result);
				if(result.Result.ValidationResult == 'Valid') {
					validMsg.classList.remove("hide");
					$('#valid-msg').removeClass('hide');
					$('#error-msg').addClass('hide');
					
					if ($('#in_valid_error_email').length == 0) {
						$('#form-submit-whiskey').prop('disabled', false);
					}
				}
				else
				{
					$('#valid-msg').addClass('hide');
					$('#error-msg').removeClass('hide');
					$('#error-msg').html('Please Enter Valid Phone Number');
					$('#form-submit-whiskey').prop('disabled', true);
				}
			}
			$("#form-field-phonenumber").change(function(){
				var telephoneNumber = $("#form-field-phonenumber").val();
				if($("#form-field-country_iso_code"))
				{
					var defaultCountry=$("#form-field-country_iso_code").val();
					var internationaltelephonevalidation = new data8.internationaltelephonevalidation();
					internationaltelephonevalidation.isvalid(
						telephoneNumber,
						defaultCountry,
						[
							new data8.option('UseMobileValidation', 'false'),
							new data8.option('UseLineValidation', 'false'),
							new data8.option('RequiredCountry', ''),
							new data8.option('AllowedPrefixes', ''),
							new data8.option('BarredPrefixes', ''),
							new data8.option('UseUnavailableStatus', 'true'),
							new data8.option('UseAmbiguousStatus', 'true'),
							new data8.option('TreatUnavailableMobileAsInvalid', 'false'),
							new data8.option('ExcludeUnlikelyNumbers', 'false')
						],
						showIsValidResults_v2
					);
				}
			});
		}
		
		// Country code script for Canada
		if($("#form-field-phonenumber_can").length > 0) {
			// Auto format phone input field
			var phoneField = document.getElementById('form-field-phonenumber_can');
			phoneField.addEventListener('keyup', function(){
				var phoneValue = phoneField.value;
				var output = '';
				phoneValue = phoneValue.replace(/[^0-9]/g, '');
				var area = phoneValue.substr(0, 3);
				var pre = phoneValue.substr(3, 3);
				var tel = phoneValue.substr(6, 4);
				if (area.length < 3 && area.length > 0) {
					output = "(" + area;
				} else if (area.length == 3 && pre.length < 3) {
					output = "(" + area + ")" + " " + pre;
				} else if (area.length == 3 && pre.length == 3) {
					output = "(" + area + ")" + " " + pre + " - "+tel;
				}
				phoneField.value = output;
			});
	
			var input = document.querySelector("#form-field-phonenumber_can"),
			errorMsg = document.querySelector("#error-msg"),
			validMsg = document.querySelector("#valid-msg");

			var telInput = $("#form-field-phonenumber_can");
			pattern = '(204) 234 - 5678';
			
			// Here, the index maps to the error code returned from getValidationError
			var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
			
			// Get country code
			var countryData = window.intlTelInputGlobals.getCountryData(),
			// input = document.querySelector("#form-field-phonenumber_can"),
			country_code = document.querySelector("#form-field-country_code");
			// Initialise plugin
			var iti = window.intlTelInput(input, {
				utilsScript: "intlTelInput/js/utils.js",
				initialCountry: pinfo[1] == 'can' ? 'ca' : 'gb',
				autoHideDialCode: true,
				nationalMode: false,
			});
			
			// Set it's initial value
			var all_countrycode = country_code.value = iti.getSelectedCountryData().dialCode;
			
			//Listen to the telephone input for changes
			input.addEventListener('countrychange', function(e) {
				var selected_countrycode = country_code.value = iti.getSelectedCountryData().dialCode;
				var countrycode = iti.getSelectedCountryData().iso2;
				var countrychangename = iti.getSelectedCountryData().name;
				$("#form-field-country_iso_code").val(countrycode);
				console.log(countrycode);
				$("#form-field-country_name").val(countrychangename);
				console.log(countrychangename);
				if(countrycode == 'ca') {
					can_countryvalidfunction();
				}
			});
			
			var reset = function() {
				telInput.attr("placeholder", pattern);
				input.classList.remove("error");
				errorMsg.innerHTML = "";
				errorMsg.classList.add("hide");
				validMsg.classList.add("hide");
			};

			// Set placeholder
			telInput.attr("placeholder", pattern);
			
			// On blur: validate
			input.addEventListener('blur', function() {
				reset();
				if (input.value.trim()) {
					if (iti.isValidNumber()) {
						if ($('#in_valid_error_email').length == 0) {
							$('#form-submit-whiskey').prop('disabled', false);
						} 
					} else {
						input.classList.add("error");
						var errorCode = iti.getValidationError();
						errorMsg.innerHTML = errorMap[errorCode];
						errorMsg.classList.remove("hide");
						$('#form-submit-whiskey').prop('disabled', true);
					}
				}
			});
			
			// On keyup / change flag: reset
			input.addEventListener('change', reset);
			input.addEventListener('keyup', reset);
			
			$('select#country_code').on('change',function(){
				var country_code =  $(this). children("option:selected").text();
				var code = country_code.replace('+','');
				console.log(code);
			})
			
			function can_countryvalidfunction() {
				var telephoneNumber = $("#form-field-phonenumber_can").val();
				var defaultCountry = $("#form-field-country_iso_code").val();
				console.log(defaultCountry);
				var internationaltelephonevalidation = new data8.internationaltelephonevalidation();
				internationaltelephonevalidation.isvalid(
					telephoneNumber,
					defaultCountry,
					[
						new data8.option('UseMobileValidation', 'false'),
						new data8.option('UseLineValidation', 'false'),
						new data8.option('RequiredCountry', ''),
						new data8.option('AllowedPrefixes', ''),
						new data8.option('BarredPrefixes', ''),
						new data8.option('UseUnavailableStatus', 'true'),
						new data8.option('UseAmbiguousStatus', 'true'),
						new data8.option('TreatUnavailableMobileAsInvalid', 'false'),
						new data8.option('ExcludeUnlikelyNumbers', 'false')
					],
					showIsValidResults_can
				);
			}
			function showIsValidResults_can(result) {
				console.log(result);
				if(result.Result.ValidationResult == 'Valid') {
					validMsg.classList.remove("hide");
					$('#valid-msg').removeClass('hide');
					$('#error-msg').addClass('hide');
					
					if ($('#in_valid_error_email').length == 0) {
						$('#form-submit-whiskey').prop('disabled', false);
					}
				}
				else
				{
					$('#valid-msg').addClass('hide');
					$('#error-msg').removeClass('hide');
					$('#error-msg').html('Please Enter Valid Phone Number');
					$('#form-submit-whiskey').prop('disabled', true);
				}
			}
			$("#form-field-phonenumber_can").change(function(){
				var telephoneNumber = $("#form-field-phonenumber_can").val();
				if($("#form-field-country_iso_code").val() == 'ca')
				{
					var defaultCountry=$("#form-field-country_iso_code").val();
					var internationaltelephonevalidation = new data8.internationaltelephonevalidation();
					internationaltelephonevalidation.isvalid(
						telephoneNumber,
						defaultCountry,
						[
							new data8.option('UseMobileValidation', 'false'),
							new data8.option('UseLineValidation', 'false'),
							new data8.option('RequiredCountry', ''),
							new data8.option('AllowedPrefixes', ''),
							new data8.option('BarredPrefixes', ''),
							new data8.option('UseUnavailableStatus', 'true'),
							new data8.option('UseAmbiguousStatus', 'true'),
							new data8.option('TreatUnavailableMobileAsInvalid', 'false'),
							new data8.option('ExcludeUnlikelyNumbers', 'false')
						],
						showIsValidResults_can
					);
				}
			});
		}

		// Country code script for Australia
		if($("#form-field-phonenumber_aus").length > 0) {
			// Auto format phone input field
			var phoneField = document.getElementById('form-field-phonenumber_aus');
			phoneField.addEventListener('keyup', function(){
				var phoneValue = phoneField.value;
				var output = '';
				phoneValue = phoneValue.replace(/[^0-9]/g, '');
				var area = phoneValue.substr(0, 2);
				var pre = phoneValue.substr(2, 4);
				var tel = phoneValue.substr(6, 4);
				if (area.length < 2 && area.length > 0) {
					output = "(" + area;
				} else if (area.length == 2 && pre.length < 4) {
					output = "(" + area + ")" + " " + pre;
				} else if (area.length == 2 && pre.length == 4) {
					output = "(" + area + ")" + " " + pre + " - "+tel;
				}
				phoneField.value = output;
			});
	
			var input = document.querySelector("#form-field-phonenumber_aus"),
			errorMsg = document.querySelector("#error-msg"),
			validMsg = document.querySelector("#valid-msg");

			var telInput = $("#form-field-phonenumber_aus");
			pattern = '(04) 1234 5678';
			
			// Here, the index maps to the error code returned from getValidationError
			var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
			
			// Get country code
			var countryData = window.intlTelInputGlobals.getCountryData(),
			// input = document.querySelector("#form-field-phonenumber_aus"),
			country_code = document.querySelector("#form-field-country_code");
			// Initialise plugin
			var iti = window.intlTelInput(input, {
				utilsScript: "intlTelInput/js/utils.js",
				initialCountry: pinfo[1] == 'aus' ? 'au' : 'gb',
				autoHideDialCode: true,
				nationalMode: false,
			});
			
			// Set it's initial value
			var all_countrycode = country_code.value = iti.getSelectedCountryData().dialCode;
			
			//Listen to the telephone input for changes
			input.addEventListener('countrychange', function(e) {
				var selected_countrycode = country_code.value = iti.getSelectedCountryData().dialCode;
				var countrycode = iti.getSelectedCountryData().iso2;
				var countrychangename = iti.getSelectedCountryData().name;
				$("#form-field-country_iso_code").val(countrycode);
				console.log("Australia Page...");
				console.log(countrycode);
				$("#form-field-country_name").val(countrychangename);
				console.log(countrychangename);
				if(countrycode == 'au') {
					aus_countryvalidfunction();
				}
			});
			
			var reset = function() {
				telInput.attr("placeholder", pattern);
				input.classList.remove("error");
				errorMsg.innerHTML = "";
				errorMsg.classList.add("hide");
				validMsg.classList.add("hide");
			};

			// Set placeholder
			telInput.attr("placeholder", pattern);
			
			// On blur: validate
			input.addEventListener('blur', function() {
				reset();
				if (input.value.trim()) {
					if (iti.isValidNumber()) {
						if ($('#in_valid_error_email').length == 0) {
							$('#form-submit-whiskey').prop('disabled', false);
						} 
					} else {
						input.classList.add("error");
						var errorCode = iti.getValidationError();
						errorMsg.innerHTML = errorMap[errorCode];
						errorMsg.classList.remove("hide");
						$('#form-submit-whiskey').prop('disabled', true);
					}
				}
			});
			
			// On keyup / change flag: reset
			input.addEventListener('change', reset);
			input.addEventListener('keyup', reset);
			
			$('select#country_code').on('change',function(){
				var country_code =  $(this). children("option:selected").text();
				var code = country_code.replace('+','');
				console.log(code);
			})
			
			function aus_countryvalidfunction() {
				var telephoneNumber = $("#form-field-phonenumber_aus").val();
				var defaultCountry = $("#form-field-country_iso_code").val();
				console.log(defaultCountry);
				var internationaltelephonevalidation = new data8.internationaltelephonevalidation();
				internationaltelephonevalidation.isvalid(
					telephoneNumber,
					defaultCountry,
					[
						new data8.option('UseMobileValidation', 'false'),
						new data8.option('UseLineValidation', 'false'),
						new data8.option('RequiredCountry', ''),
						new data8.option('AllowedPrefixes', ''),
						new data8.option('BarredPrefixes', ''),
						new data8.option('UseUnavailableStatus', 'true'),
						new data8.option('UseAmbiguousStatus', 'true'),
						new data8.option('TreatUnavailableMobileAsInvalid', 'false'),
						new data8.option('ExcludeUnlikelyNumbers', 'false')
					],
					showIsValidResults_aus
				);
			}
			function showIsValidResults_aus(result) {
				console.log(result);
				if(result.Result.ValidationResult == 'Valid') {
					validMsg.classList.remove("hide");
					$('#valid-msg').removeClass('hide');
					$('#error-msg').addClass('hide');
					
					if ($('#in_valid_error_email').length == 0) {
						$('#form-submit-whiskey').prop('disabled', false);
					}
				}
				else
				{
					$('#valid-msg').addClass('hide');
					$('#error-msg').removeClass('hide');
					$('#error-msg').html('Please Enter Valid Phone Number');
					$('#form-submit-whiskey').prop('disabled', true);
				}
			}
			$("#form-field-phonenumber_aus").change(function(){
				var telephoneNumber = $("#form-field-phonenumber_aus").val();
				if($("#form-field-country_iso_code").val() == 'au')
				{
					var defaultCountry=$("#form-field-country_iso_code").val();
					var internationaltelephonevalidation = new data8.internationaltelephonevalidation();
					internationaltelephonevalidation.isvalid(
						telephoneNumber,
						defaultCountry,
						[
							new data8.option('UseMobileValidation', 'false'),
							new data8.option('UseLineValidation', 'false'),
							new data8.option('RequiredCountry', ''),
							new data8.option('AllowedPrefixes', ''),
							new data8.option('BarredPrefixes', ''),
							new data8.option('UseUnavailableStatus', 'true'),
							new data8.option('UseAmbiguousStatus', 'true'),
							new data8.option('TreatUnavailableMobileAsInvalid', 'false'),
							new data8.option('ExcludeUnlikelyNumbers', 'false')
						],
						showIsValidResults_aus
					);
				}
			});
		}
	});
	</script>
	
	<script type="text/javascript">
	$( ".elementor-field-group-phonenumberv3").append("<span id='valid-msg' class='hide'>✓ Valid</span><span id='error-msg' class='hide'></span>");
	const defaultCountry_v3 = 'de';
	$( document ).ready(function() {
		//country code script
		if($("#form-field-phonenumberv3").length > 0){
			var input = document.querySelector("#form-field-phonenumberv3"),
			errorMsg = document.querySelector("#error-msg"),
			validMsg = document.querySelector("#valid-msg");
			
			// here, the index maps to the error code returned from getValidationError - see readme
			var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
			
			//get country code
			var countryData = window.intlTelInputGlobals.getCountryData(),
			//input = document.querySelector("#form-field-phonenumber_v3"),
			country_code = document.querySelector("#form-field-countrycode");
			// initialise plugin
			var iti = window.intlTelInput(input, {
				utilsScript: "intlTelInput/js/utils.js",
				initialCountry: 'de'
			});
	
			// set it's initial value
			var all_countrycode = country_code.value = iti.getSelectedCountryData().dialCode;
			// listen to the telephone input for changes
			input.addEventListener('countrychange', function(e) 
			{
	
				var selected_countrycode = country_code.value = iti.getSelectedCountryData().dialCode;
				var countrycode = iti.getSelectedCountryData().iso2;
				var countrychangename = iti.getSelectedCountryData().name;
				$("#form-field-countryisocode").val(countrycode);
				console.log(countrycode);
				$("#form-field-countryname").val(countrychangename);
				console.log(countrychangename);
				if(countrycode == 'de')
				{
					countryvalidfunction_v3();
				}
			});
	
			var reset = function() {
				input.classList.remove("error");
				errorMsg.innerHTML = "";
				errorMsg.classList.add("hide");
				validMsg.classList.add("hide");
			};
	
			// on blur: validate
			input.addEventListener('blur', function() {
				reset();
				if (input.value.trim()) {
					if (iti.isValidNumber()) {
						if ($('#in_valid_error_email').length == 0) {
							$('#form-submit-whiskey').prop('disabled', false);
						} 
					} 
					else {
						input.classList.add("error");
						var errorCode = iti.getValidationError();
						errorMsg.innerHTML = errorMap[errorCode];
						errorMsg.classList.remove("hide");
						$('#form-submit-whiskey').prop('disabled', true);
					}
				}
			});
	
			// on keyup / change flag: reset
			input.addEventListener('change', reset);
			input.addEventListener('keyup', reset);
	
			$('select#country_code').on('change',function(){
				var country_code =  $(this). children("option:selected").text();
				var code = country_code.replace('+','');
				console.log(code);
			})
			function countryvalidfunction_v3() {
				var telephoneNumber = $("#form-field-phonenumberv3").val();
				var defaultCountry_v3=$("#form-field-countryisocode").val();
				var internationaltelephonevalidation = new data8.internationaltelephonevalidation();
				internationaltelephonevalidation.isvalid(
					telephoneNumber ,
					defaultCountry_v3,
					[
					new data8.option('UseMobileValidation', 'false'),
					new data8.option('UseLineValidation', 'false'),
					new data8.option('RequiredCountry', ''),
					new data8.option('AllowedPrefixes', ''),
					new data8.option('BarredPrefixes', ''),
					new data8.option('UseUnavailableStatus', 'true'),
					new data8.option('UseAmbiguousStatus', 'true'),
					new data8.option('TreatUnavailableMobileAsInvalid', 'false'),
					new data8.option('ExcludeUnlikelyNumbers', 'false')
					],
					showIsValidResults_v3
				);
			}
			function showIsValidResults_v3(result) {
				console.log(result);
				if(result.Result.ValidationResult == 'Valid') {
					validMsg.classList.remove("hide");
					$('#valid-msg').removeClass('hide');
					$('#error-msg').addClass('hide'); 
	
					if ($('#in_valid_error_email').length == 0) {
						$('#form-submit-whiskey').prop('disabled', false);
					} 
				}
				else
				{
					$('#valid-msg').addClass('hide'); 
					$('#error-msg').removeClass('hide'); 
					$('#error-msg').html('Please Enter Valid Phone Number'); 
					
	
					$('#form-submit-whiskey').prop('disabled', true); 
				}
			}
			$("#form-field-phonenumberv3").change(function(){ 
					var telephoneNumber = $("#form-field-phonenumberv3").val();
					if($("#form-field-countryisocode").val() == 'de')
					{
						var defaultCountry_v3=$("#form-field-countryisocode").val();
						var internationaltelephonevalidation = new data8.internationaltelephonevalidation();
						internationaltelephonevalidation.isvalid(
							telephoneNumber ,
							defaultCountry_v3,
							[
							new data8.option('UseMobileValidation', 'false'),
							new data8.option('UseLineValidation', 'false'),
							new data8.option('RequiredCountry', ''),
							new data8.option('AllowedPrefixes', ''),
							new data8.option('BarredPrefixes', ''),
							new data8.option('UseUnavailableStatus', 'true'),
							new data8.option('UseAmbiguousStatus', 'true'),
							new data8.option('TreatUnavailableMobileAsInvalid', 'false'),
							new data8.option('ExcludeUnlikelyNumbers', 'false')
							],
							showIsValidResults_v3
						);
					}
			});
		}
	});
	</script>
	
	<!--- teleinput for country code js --->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.5/js/intlTelInput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"></script>
	<script>
	var field = 'view';
	var url = window.location.href;
	if(url.indexOf('&' + field + '=') != -1)
	{
		$.urlParam = function(name){
			var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
			return results[1] || 0;
		}
		if($.urlParam('view') == 'form')
		{
			var nav = $('#formtextcontent');
			console.log(nav.length)
			if (nav.length) {
				var contentNav = nav.offset().top;
				$("html, body").animate({ scrollTop: $('#formtextcontent').offset().top }, 1000);
			}
		}
	}
	var pathname = window.location.pathname;
	var pinfo = pathname.split("/");
	if(pinfo[1] == "v4" || pinfo[1] == "v6")
	{
		$(".elementor-element-ce8341d").children(".elementor-widget-container").html('<h2 class="elementor-heading-title elementor-size-default">UNSERE INVESTOREN SEHEN EINEN DURCHSCHNITT<br>STEUERFREIE RÜCKGABE VON 20% + PRO JAHR</h2>');
		$(".elementor-element-b087a24").children(".elementor-widget-container").children(".elementor-heading-title").html('CAPITAL GAINS TAX EXEMPT');
		$(".elementor-element-ab37128").children(".elementor-widget-container").children(".elementor-text-editor").html('<p>Laut dem Knight Frank Wealth Report war seltener Whisky das leistungsstärkste Sammlerstück in einem Jahrzehnt und verzeichnete einen durchschnittlichen jährlichen Wertzuwachs von 54%.</p>');
		$(".elementor-element-cd7a96f").children(".elementor-widget-container").children(".elementor-button-wrapper").children(".elementor-button-link").children(".elementor-button-content-wrapper").children(".elementor-button-text").html('BROSCHÜRE ANFORDERN');
		$(".elementor-element-1278ace").children(".elementor-widget-container").children(".elementor-text-editor").html('<a class="fancybox-inline" href="#terms">Begriffe & Bedingungen </a><a class="fancybox-inline" href="#privacy">Datenschutz-Bestimmungen</a>');
		$(".elementor-element-be33e86").children(".elementor-widget-container").children(".elementor-text-editor").html('<img class="alignnone size-full wp-image-34" src="https://whisky-scotland.co.uk/wp-content/uploads/2020/05/five-star.png" alt="" width="76" height="11">  von Hunderten von Investoren bewertet');
		
		$(".elementor-element-9016792").children(".elementor-widget-container").children(".elementor-text-editor").html('<a class="fancybox-inline" href="#terms">Begriffe & Bedingungen </a><a class="fancybox-inline" href="#privacy">Datenschutz-Bestimmungen</a>');
	}
	</script>
<script>
	if($('#request').length){
		$(document).ready(function () {
			$('html, body').animate({
				scrollTop: $('#request').offset().top
			}, 'slow');
		});
	}
	if($('#whiskey_form_v3ID').length){
		$(document).ready(function () {
			$('html, body').animate({
				scrollTop: $('#whiskey_form_v3ID').offset().top
			}, 'slow');
		});
	}
	if($('#whiskey_form_v4ID').length){
		$(document).ready(function () {
			$('.elementor-button-text').text("LEARN MORE");
			$('.elementor-button-link').click(function(){
				$("#form-submit-whiskey").click();
			});
			$(".elementor-element-1278ace > div > div").prepend("<a class='fancybox-inline' href='https://whisky-scotland.co.uk/unsubscribe/'>" + "Unsubscribe" + "</a>");
			$(".elementor-element-9016792 > div > div").prepend("<a class='fancybox-inline' href='https://whisky-scotland.co.uk/unsubscribe/'>" + "Unsubscribe" + "</a>");

			$(".elementor-element-ce8341d > div > h2").remove();
			$(".elementor-element-ce8341d > div").prepend("<h2 class='elementor-heading-title elementor-size-default'>" + "Interested in earning 10-12% " + "<br>" + "Tax-Free per year by investing in Whisky?" + "</h2>");
			$(".elementor-element-b087a24").remove();
			$(".elementor-element-ab37128").remove();
		});
	}
	if($('#whiskey_form_smsv1').length){
		$(document).ready(function () {
			$('.elementor-button-text').text("LEARN MORE");
			$('.elementor-button-link').click(function(){
				$("#form-submit-whiskey").click();
			});
			$(".elementor-element-1278ace > div > div").prepend("<a class='fancybox-inline' href='https://whisky-scotland.co.uk/unsubscribe/'>" + "Unsubscribe" + "</a>");
			$(".elementor-element-9016792 > div > div").prepend("<a class='fancybox-inline' href='https://whisky-scotland.co.uk/unsubscribe/'>" + "Unsubscribe" + "</a>");

			$(".elementor-element-ce8341d > div > h2").remove();
			$(".elementor-element-ce8341d > div").prepend("<h2 class='elementor-heading-title elementor-size-default'>" + "Interested in earning 10-12% " + "<br>" + "Tax-Free per year by investing in Whisky?" + "</h2>");
			$(".elementor-element-b087a24").remove();
			$(".elementor-element-ab37128").remove();
		});
	}
	if($('#unsubscribe_form_v1').length){
		$(document).ready(function () {
			$(".elementor-element-d606f28").parent().remove();
		});
	}
</script>