@font-face {
    font-family: 'GoodTimesRg-Regular';
    src:url('../fonts/GoodTimesRg-Regular.otf');
    src: url('../fonts/GoodTimesRg-Regular.eot') format('embedded-opentype'),
         url('../fonts/GoodTimesRg-Regular.woff') format('woff'),
         url('../fonts/GoodTimesRg-Regular.ttf') format('truetype'),
         url('../fonts/GoodTimesRg-Regular.svg#GoodTimesRg-Regular') format('svg');
}