.site-header--top, .site-header--bottom {
    height: 45px;
    background: url(../img/new-home/header_bg.png) no-repeat center/cover !important;
    z-index: 1105;
    top: 28px !important;
    width: 83%;
    bottom:auto !important;
    /*box-shadow: -15px 4px 10px 1px rgba(0,0,0,0.75);*/
   /* box-shadow: -790px 10px 19px 6px rgba(0,0,0,0.75);*/
   box-shadow: -902px 11px 22px 14px rgba(25,1,53,0.75);
}
.main_header_panel {
    width: 83%;
    position: relative;
}
.upcoming__match_search .search_bar_area.panel {
    position: absolute;
    right: 0;
    top: 89px;
    box-shadow: -1px 1px 15px #000;
    /* text-align: ; */
    background: rgba(34,4,83,0.7);
    border-radius: 7px;
    width: 17%;
    height: 21px;
    z-index: 999;
}
.upcoming__match_search .form-control.search_sc {
    border-bottom: 0;
    text-align: center;
    background: url('../img/search.png') no-repeat 10px;
    background-size: auto;
    background-size: 16%;
    height: 22px;
    margin-left: -4px;
}
.upcoming__match_search .search-form--header .form-control {
    font-size: 15px !important;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 0px;
    font-weight: 800;
}
.cursor-is--active a{
	cursor: pointer;
}
.header-menu-toggle {
    display: none;
}
.site-content.player-info-page {
    overflow: hidden;
    margin-top: 95px;
}
body.scroll-is--active {
    height: 100%;
    /*overflow: auto;*/
    scrollbar-width: none;
}
body.scroll-is--active::-webkit-scrollbar {
    display: none;
}

body.scroll-is--active {
    -ms-overflow-style: none;
}
.site-layout--default .site-content {
    min-height: 0vh;
}
.site-wrapper {
    min-height: 100vh;
}
.main-nav ul li a {
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.8px;
    font-size: 19px;
    /* text-shadow: 0px 3px 5px black; */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    text-shadow: -2px 2px 2px #000, -2px 1px 0px #000;
}
.main-nav__list > li > a {
    padding-top: 13px;
    padding-bottom: 0;
    padding-right: 17px;
}
.header-logo--img {
    position: absolute;
    left: 20px;
    top: -10px;
}
.header-logo--img img {
    max-width: 145px;
}
.site-wrapper.site-layout--default .col-md-9{
    max-width: 82%;
    flex: 82%;
}
.site-wrapper.site-layout--default .col-md-3{
    max-width: 18%;
    flex: 18%;
}
.single_profile {
    width: 75px;
    height: 75px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 20px 2px #000;
    margin: 17px auto;
}.header_right_area {
    width: 67%;
    margin: 0 auto;
}
img#mini_game {
    width: 15px;
}
p.profile_name_upMatch {
    font-weight: 700;
    color: #fff;
    letter-spacing: .5px;
    text-shadow: 0px 3px 17px #000;
    float: left;
    margin: 0;
    margin-right: 16px;
}

p.profile_am_coin {
    color: #151515!important;
    font-weight: 700;
}
p.cash_am, .cash_log {
    color: #151515;
    float: left;
    font-size: 15px;
    font-weight: 500;
}
p.cash_am{
    margin-right: 15px;
}
.logout_area {
    overflow: hidden;
    padding: 0 11px;
    margin-top: -15px;
}
.top_bar_tittle h1 {
    font-size: 57px;
    color: #fff;
    margin: 0;
    /*-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;*/
    letter-spacing: 0.5px;
    float: left;
    margin-right: 12px;
    font-weight: 700;
    margin-bottom: 20px;
}

.top_bar_tittle {
    overflow: hidden;
    margin-left: 21%;
}

.left_area_match_details {
    margin-top: -72px;
}
/*p.demo_r {
    color: #89e93e;
    font-size: 15px;
    padding-top: 22px;
    text-shadow: -3px 2px 4px #000;
}

p.demo_r span {
    padding-right: 0px;
    padding-left: 0;
    font-size: 22px;
    font-weight: 500;
}
*/
.check_item.demo_r {
    padding-right: 0px;
    padding-left: 0px;
    /*font-size: 15px;*/
    font-weight: 500;
    color: #89e93e;
    padding-top: 24px;
    margin-left: 8px;
    text-shadow: -3px 2px 4px #000;
}
.activeCheck {
    font-size: 22px !important;
    font-weight: 500 !important;
    padding-top: 13px !important;
}
.registering_part p.tittle_player {
    padding: 0px 9px;
    line-height: 21px;
    font-size: 15px;
}
.check_box_item .checkmark {
    opacity: 0;
}
/*.check_item.demo_r.fxf_small {
    font-size: 12px;
    padding-top: 35px;
}*/
.container.custom {
    max-width: 98%;
}
.drp-action-area select {
    background: transparent!important;
    border: none!important;
    font-size: 10px!important;
    text-transform: capitalize!important;
    font-weight: 500!important;
    padding: 0!important;
    margin: 0!important;
    -webkit-text-stroke-width: 0.5px!important;
    -webkit-text-stroke-color: black!important;
}
.icon_tuch_area.bg_icon{
    /*background: url('../img/header_bg.png') no-repeat center/cover;*/
    width: 100%;
    height: 113px;
    padding: 0 12px;
    /*box-shadow: -350px 5px 20px 2px rgba(0,0,0,0.75);*/
}

.main_warper_body .col-md-8 {
    max-width: 77%;
    flex: 77%;
    padding-right: 0;
}
.main_warper_body .col-md-4 {
    max-width: 18%;
    flex: 18%;
    /* padding-left: 0; */
}

/*chekbox item */
/* The container */
.check_item {
    display: block;
    position: relative;
    padding-left: 16px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    float: left;
    margin-left: 15px;
    /* margin-top: -3px; */
    letter-spacing: .2px;
}
.check_item.active{
    margin-left: 0px;
}

/* Hide the browser's default checkbox */
.check_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_item:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_item input:checked ~ .checkmark {
    background-color: #89e93e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_item .checkmark:after {
    left: 4px;
    top: -1px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon_img img {
    width: 57px;
    float: left;
}

.icon_tittle {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    padding-top: 12px;
    /*text-shadow: -1px 2px 1px black;*/
    text-shadow: -2px 0px 0px #000, -2px 1px 0px #000;
    letter-spacing: 1.5px;
    overflow: hidden;
}
active button, .cursor-is--active .btn:not(:disabled):not(.disabled) {
    cursor: pointer!important;
}
.dropdown-toggle.custom_item.custom_item {
    background: none;
    border: 1px solid #fff;
    height: 22px;
    width: 100%;
    padding: 4px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    cursor: pointer !important;
    color: #fff;
}
.dropdown-toggle.custom_item.custom_item::after {
    position: absolute;
    font-size: 23px;
    top: 5px;
    border: 0;
    height: 24px;
    background-image: url(../img/dropdown.png);
    width: 18%;
    /* left: 104px; */
    background-repeat: no-repeat;
    right: -4px;
    background-size: 60% 60%;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none!important;
    box-shadow:none!important;
    /*background: none!important;*/
}
.btn-secondary:hover {
    color: #fff;
    background-color: normal;
}
a.dropdown-item.custom_item {
    padding: 0 10px;
    padding-right: 6px;
    overflow: hidden;
}
a.dropdown-item.custom_item span {
    color: #fff;
    float: right;
    font-size: 11px;
}
.dropdown-menu.custom_item {
    min-width: 8.7rem;
    background: rgba(34, 4, 60, 0.8);
    border-radius: 0px;
    height: 111px;
    box-shadow: 0px 0px 1px black;
    padding-top: 0;
    
}
.scroll_down__event{
    height: 88px;
    overflow: auto;
    scrollbar-width: none;
}
.scroll_down__event::-webkit-scrollbar {
    display: none;
}
.scroll_down__event  {
    -ms-overflow: none;
}
a.dropdown-item.custom_item.active {
    background: rgba(18, 3, 31, 0.9);
    overflow: hidden;
   line-height: 21px;
}
a.dropdown-item.custom_item.active:hover{
    background: rgba(18, 3, 31, 0.9)!important;
}
a.dropdown-item.custom_item:hover{
    background: rgba(18, 3, 31, 0.9)!important;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent!important;
}
.icon_img img {
    width: 37px;
    padding-top: 5px;
    margin-right: 3px;
}
.icon_type {
    margin-bottom: 7px;
}
.icon_img img.active {
    width: 53px;
    margin-top: -9px;
    margin-right: 0px;
}
.icon_tittle.space {
    padding-left: 4px;
}
.icon_tittle.active {
    padding-top: 10px;
}
.upcoming__match_search .search_bar_area.panel__ {
    width: 15%;
    background: rgba(255,255,255,0.3);
    border-radius: 9px;
    float: left;
    box-shadow: -3px 3px 13px 1px #000;
    margin-right: 55px;
    height: 24px;
}
.upcoming__match_search .search_bar_area.panel__ .search_sc::placeholder{
    font-size: 11px;
   font-weight: 400; 
   color: rgb(255,255,255);
}
.upcoming__match_search .form-control.search_sc::placeholder{
    color: rgb(255,255,255);
    -webkit-text-stroke-width: 0px!important;
     font-size: 9px;
   font-weight: 400; 
   letter-spacing: -0.5px;
}
.dropdown-toggle.custom_item.custom_item.console::after {
    top: 8px;
}
.upcoming__match_search .search_bar_area.panel__ .search_sc {
    background-size: 30px;
    padding-right: 0px;
    font-weight: 300;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 0.7px;
    padding-left: 28px;
    margin-left: -8px;
    font-size: 12px !important;
    word-spacing: 1px;
    margin-top: 2px;
}
.warper_search_minvi {
    margin: 4px 15px 20px;
    /* overflow: hidden; */
}
.checkbox_icon_bottom .checkmark {
    background-image: url(../img/box_chek.png);
    background-color: transparent;
    background-size: 100% 100%;
    width: 28px;
    height: 28px;
    margin-top: -4px;
}
.checkbox_icon_bottom:hover .checkmark{
   background-color: transparent;
}
.checkbox_icon_bottom label.check_item:hover .checkmark {
    background-color: transparent;
}
.checkbox_icon_bottom .check_item {
    font-size: 14px;
    padding: 3px 28px 0;
    /*-webkit-text-stroke-width: .3px;*/
    -webkit-text-stroke-color: #000000;
    font-weight: 500;
    margin-top: -2px;
}
.checkbox_icon_bottom .check_item input:checked ~ .checkmark {
    background-color: transparent;
}
.checkbox_icon_bottom .check_item .checkmark:after {
    background-image: url(../img/check_arrow.png);
    transform: none;
    border-width: none;
    background-size: 100% 100%;
    border: 0;
    width: 23px;
    height: 24px;
}
.table .thead_custom__bg {
    /*background-image: url(../img/Screenshot_3.png);*/
    /*background-color: #c2b4d2!important;*/
    /*border-color: #c2b4d2;*/
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px #040404;
    background-repeat: round;
    box-shadow: -6px 3px 17px black;
}

.table.scroll thead th {
    border: none;
    border-bottom: 0;
    border-top: 0;
    font-size: 18px;
    color: #000;
    font-weight: bolder;
    /*box-shadow: 0px 0px 1px 1px #958c9f;*/
    box-shadow: 0px 0px 4px 0px #606061;
    padding: 1px 0;
    width: 127px;
    /* -webkit-text-stroke-width: .5px; */
    -webkit-text-stroke-color: black;
    text-align: center;
}

.table.scroll tbody td {
    font-size: 15px;
    color: rgb(255,255,255);
    font-weight: 400;
    letter-spacing: 1px;
    border-top: 0;
    padding: 0px 0px 0px;
    /* margin-bottom: -15px; */
    width: 127px;
    text-align: center;
    line-height: 24px;
}

.table.scroll tbody td img {
    width: 23px;
    padding: 0px 0;
}
.my_strem.custom_popup {
    background: none;
    border: none;
    font-size: 19px;
    font-weight: 900;
    /* -webkit-text-stroke-width: 1px; */
    letter-spacing: 0.7px;
    -webkit-text-stroke-color: black;
    /* text-shadow: -2px 2px 14px black; */
    text-shadow: -2px 1px 4px #000, -1px 1px 3px #000;
    position: relative;
    z-index: 2;
    padding-left: 10px;
    line-height: 26px;
    color: #fff;
}
/* .right_sidebar.play_game_area {
    margin-left: 25px;
    margin-right: 40px;
} */
.single_tbutton_area.active .my_strem.custom_popup::after {
    background-image: url(../img/active.png);
    width: 35px;
    height: 35px;
    left: -22px;
}
.my_strem.custom_popup::after {
    position: absolute;
    top: -3px;
    left: -18px;
    width: 32px;
    height: 32px;
    content: '';
    background-image: url(../img/active_off.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main_contant {
    background: rgba(255,255,255,0.7);
    width: 100%;
    height: 380px;
    margin-top: 20px;
    box-shadow: 0px 1px 20px black;
    overflow: auto;
    scrollbar-width: none;
}
.main_contant::-webkit-scrollbar {
    display: none;
}

.main_contant {
    -ms-overflow: none;
}
.main_contant p.tittle_player{
    margin-top: 0px;
}
table.table.scroll tbody tr.top_mr {
    cursor: pointer;
}
.main_contant .single_box.country_player {
    position: unset;
    box-shadow: none;
    background: none;
    width: 100%;
    height: auto;
}
.main_contant .info_country {
    color: #000;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 500;
    /* margin-bottom: -16px; */
    line-height: 14px;
}
.main_contant .flag_icon img {
    width: 18px;
    margin-top: 5px;
}
.main_contant .flag_icon {
    margin-top: -7px;
}
.main_contant .country_sc_player_info {
    height: 75px;
    margin: 12px auto 19px;
}
.upcoming__match_search .search-form--header .form-control::placeholder {
    font-size: 12px;
}
.main_contant .login100-form-btn {
    font-size: 19px;
    text-transform: capitalize;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
    text-shadow: none;
    color: #fff;
    letter-spacing: -1.5px;
    word-spacing: 2px;
    height: 19px;
    line-height: 20px;
}
.main_contant .wrap-login100-form-btn {
    width: 85%;
    border-radius: 9px;
    margin-bottom: 7px;
    margin-top: 0;
}
.main_contant .login100-form-bgbtn.tournament__L {
    background: #ffffff;
}
.main_contant button.login100-form-btn.tournament__L {
    -webkit-text-stroke-width: 0px;
    color: #000;
    font-weight: 500;
    font-size: 19px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: .3px;
}
.sc_pd.register {
    padding: 10px 16px 5px 16px;
}

img.mini_game.match {
    width: 25px;
    margin-right: 4px;
    /* line-height: 21px; */
}

.iner_ h3 {
    line-height: 21px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
    margin: 0;
}

.iner_ h3 strong {
    font-weight: bold;
    font-size: 24px;
}

.text-center.simble__text_I p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding-top: 15px;
}

.text-center.simble__text_I2 {
    padding-top: 0;
}
.player_part p.tittle_player {
    padding: 0px 9px;
}
.text-center.simble__text_I2 p {
    margin-bottom: 0;
    color: #000;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    font-style: oblique;
    letter-spacing: 0.5px;
}
.modal_popup_area {
    margin-left: 9px;
}
.player_part p.tittle_player {
    margin-top: 0px;
}
.registering_part button.btn.btn-danger.player_sc {
    top: 39px;
    right: -42px;
}
.registering_part button.btn.btn-danger.player_sc img {
    width: 64%;
}
 table.scroll {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
}

table.scroll tbody, table.scroll thead {
    display: block;
    margin-bottom: 12px;
}

table.scroll tbody {
    height: 239px;
    overflow: auto;
    scrollbar-width: none;
}
table.scroll tbody::-webkit-scrollbar {
    display: none;
}

table.scroll tbody {
    -ms-overflow: none;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}
.table.scroll thead th:last-child {/* border-radius: 8px; */border-top-right-radius: 8px;border-bottom-right-radius: 8px;}

.table.scroll thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.active_row{
    background-image: url(../img/active_row.png);
    background-repeat: no-repeat;
    background-size: 34px 29px;
}


/*modal open room*/

/*open room */
/* .modal-content.trophay.open_room {
    background:url('../img/open-rooms_modal (2).png') no-repeat center/cover;
} */
.modal-content.trophay.open_room {
    background:url('../img/open-rooms_modal.png') no-repeat center/cover;
}
.main_body_item.trophay.open_room {
    background: url('../img/mobile_opnroms.png') no-repeat center/cover;
    width: 100%;
    padding: 25px 0 45px;
    box-shadow: -9px 10px 10px #000;
    border-radius: 6px;
}
.main_body_item.trophay.open_room {
    margin-top: 95px;
}
.main_body_item.trophay.open_room {
    margin-top: 95px;
    width: 98%;
}

.main_body_item.trophay.open_room .ps4_bg.pd {
    padding: 0;
    padding-top: 1px;
}
table.main_item_tble.openRoom td {
    padding: 18px 36px;
}

.main_body_item.trophay.open_room .ps4_bg {
    width: 90px;
    padding: 0;
    box-shadow: inset -5px 3px 5px 2px black;
}
.main_body_item.trophay.open_room tr#hrd_area th {
    text-shadow: -3px 4px 4px #000;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
}
.main_body_item.trophay table, tr, td {
    padding: 20px 36px;
}
img#mini_gme {
    width: 13px;
}
/* img.proved_ach {} */

button.btn.btn-danger.sc_icn.proved_ach img {
    width: 60px;
    margin-top: -19px;
}

.player-info-detail.modal_throphy.proved_ach {
    width: 49%;
}
.main_body_item.trophay.achived table, tr, td {
    padding: 11px 16px;
}
.main_body_item.trophay{
    display: block;
}
.main_body_item.trophay.mobile_view{
    display: none;
}


/*open room */

/*open room */

.modal-dialog.trophay {
    max-width: 860px;
}
.modal-content.trophay {
    height: 480px;
    overflow: auto;
    scrollbar-width: none;
    margin: 84px 0;
    background:url('../img/trophies_won.png') no-repeat center/cover;
}
.modal-content.trophay::-webkit-scrollbar {
    display: none;
}
.modal-content.trophay {
    -ms-overflow-style: none;
}
.modal-header.trophay {
    border: 0;
    padding-bottom: 0;
}
button.close img {
    width: 23px;
}

button.close {
    padding: 0;
}
.modal_throphy {
    width: 39%;
    margin: 0 auto 20px;
}
.modal-body .trophy_win_tittle {
    font-size: 37px!important;
    color: #fff!important;
    text-shadow: 0px 2px 4px #000;
}
.modal-body button.btn.btn-danger.sc_icn {
    padding-left: 12px;
}
.modal-body button.btn.btn-danger.sc_icn img {
    width: 76px;
    margin-top: 2px;
    filter: drop-shadow(0px 1px 1px black);
}
.main_body_item.trophay {
    text-align: center;
    width: 77%;
    margin: 0 auto;
   /* background: url('../img/trophies_table.png') no-repeat center/cover;*/

}
.main_body_item.trophay table, tr, td {
    padding: 10px 20px;
}
tr#hrd_area th {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 1px 4px 3px #000;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}

p.ps4_bg.pd {
    padding: 1px 35px 0;
    margin: 0;
}
p.ps4_bg {
    background: rgba(0,0,0,0.5);
    padding: 1px 17px 0;
    border-radius: 6px;
    box-shadow: inset 0px 6px 6px 3px black;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 5px 3px #000;
    font-weight: 600;
    margin: 0;
}
.clr_gr{
    color: #caf703;
}
p.profile_name {
    font-size: 19px;
    position: absolute;
    width: 100%;
    bottom: 10px;
}


/*.modal-content.trophay.open_room {
  background:url('../img/open-rooms_modal (2).png') no-repeat center/cover;
}*/
.modal-content.trophay.open_room {
    background:url('../img/open-rooms_modal.png') no-repeat center/cover;
}
.main_body_item.trophay.open_room {
    background: url('../img/mobile_opnroms.png') no-repeat center/cover;
    width: 100%;
    padding: 25px 0 45px;
    box-shadow: -9px 10px 10px #000;
    border-radius: 6px;
}
.main_body_item.trophay.open_room {
    margin-top: 95px;
}
.main_body_item.trophay.open_room {
    margin-top: 95px;
    width: 98%;
}

.main_body_item.trophay.open_room .ps4_bg.pd {
    padding: 0;
    padding-top: 1px;
}
table.main_item_tble.openRoom td {
    padding: 18px 36px;
}

.main_body_item.trophay.open_room .ps4_bg {
    width: 90px;
    padding: 0;
    box-shadow: inset -5px 3px 5px 2px black;
}
.main_body_item.trophay.open_room tr#hrd_area th {
    text-shadow: -3px 4px 4px #000;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
}
.main_body_item.trophay table, tr, td {
    padding: 20px 36px;
}
img#mini_gme {
    width: 13px;
}
/* img.proved_ach {} */

button.btn.btn-danger.sc_icn.proved_ach img {
    width: 60px;
    margin-top: -19px;
}

.player-info-detail.modal_throphy.proved_ach {
    width: 49%;
}
.main_body_item.trophay.achived table, tr, td {
    padding: 11px 16px;
}
.main_body_item.trophay{
    display: block;
}
.main_body_item.trophay.mobile_view{
    display: none;
}


/*modal*_______/*/

.modal-content_open_room_upMatch {
    background: url('../img/PP-Registration.png') no-repeat center/cover;
}
.modal-content_open_room_upMatch {
    -ms-overflow-style: none;
}
.modal-content_open_room_upMatch {
    height: 500px;
    overflow: auto;
    scrollbar-width: none;
    margin: 84px 0;
    /*background: url('../img/trophies_won.png') no-repeat center/cover;*/
}
.modal-dialog.open_room_upMatch {
    max-width: 500px!important;
}
.modal-header.open_room_upMatch {
    border: 0;
    padding-bottom: 0;
    position: absolute;
    right: 0;
}
button.close img {
    width: 23px;
}
.bg_blackShade_ {
    background: rgba(0,0,0,0.7);
    height: 23px;
    width: 100%;
    margin-top: 16px;
}
.modal-body.match__lobby{
    padding:0;
}
.tournament_reigster___id.text-center {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.5px;
    padding: 0px 0 0;
}
.PR__registion_main_body {
    padding: 45px 60px 0px;
    overflow: hidden;
}
.lobbY_img img {
    width: 250px;
}
.iner__body.lobby_description {
    padding-left: 32px;
    padding-top: 14px;
}
.trNament__player {
    color: #caf703;
    font-weight: 500;
    font-size: 15px;
}
.trNament__player.active__turanment {
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
}
.trNament__player.active__turanment::after {
    position: absolute;
    top: 4px;
    left: -15px;
    width: 30px;
    height: 30px;
    content: '';
    background-image: url(../img/active.png);
    background-repeat: no-repeat;
    background-size: 16px;
}
.iner__body.lobby_description h3 {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    margin-left: -3px;
}
.iner__body.lobby_description img.mini_game {
    width: 28px;
    margin-right: -2px;
    margin-left: 9px;
    margin-top: -5px;
}
.iner__body.lobby_description strong {
    font-size: 28px;
    letter-spacing: 0px;
}
.iner__contant {
    margin-bottom: 30px;
}
.Text__balance_tittle p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.9;
}
.last__area_confrim_delate_inrr {
    padding-top: 35px;
    margin-left: 16px;
}
.btn-danger.PR__btn {
    background: gold;
    color: #000;
    width: 90%;
    padding: 3px 0;
    border-radius: 50px;
    font-weight: 700;
    font-size: 19px;
    border:1px solid #000;
}
.amonunt__moveer strong {
    font-size: 19px;
    color: #fff;
    opacity: 0.9;
}
.avialiable_balance {
    margin-bottom: 25px;
}
.charge_contant {
    padding-left: 4px;
}
.outer__contant .dropdown-toggle.custom_item.custom_item {
    background: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 600;
}
.outer__contant .dropdown-toggle.custom_item.custom_item::after {
    background-image: url(../img/dropdown__PR.png);
    background-size: 22px;
    top: 3px;
    right: -20px;
}
.account__will_charges_contant {
    margin-bottom: 15px;
}
.btn-danger.PR__btn.cancle {
    background: #fff;
}
.main-nav__list > li > a {
    padding-right: 6px;
}

/*menu add class*/

.active_menu{
    color: #a3ff12!important;
}
.container.box {
    max-width: 950px;
    padding: 0;
    position: relative;
}
.item__rgba_boxs {
    /* background: url(../img/rgba_bg.png) no-repeat center/cover; */
    width: 100%;
    height: 450px;
    background: rgba(12,12,12,0.6);
    border-radius: 25px;
}
div#myDIVMatch {
    position: absolute;
    right: 16px;
    top: 26px;
}
.search_bar_area.panel__ .search_sc::placeholder {
    font-size: 12px;
}
.single_country_item:nth-child(2n+1) {
    background: #a9a0b4;
}
img.mini_game.match.upcoming {
    width: 18px;
    margin-right: 0;
}
.main_contant .info_country::after {
    position: absolute;
    top: -2px;
    left: 39px;
    width: 18px;
    height: 18px;
    background: url(../image/flag1.png) no-repeat center/cover;
    content: '';
}
.main_contant .info_country.two::after{
     background: url(../image/flag2.png) no-repeat center/cover;
}
.main_contant .info_country.three::after{
     background: url(../image/flag3.png) no-repeat center/cover;
}
.main_contant .info_country.four::after{
     background: url(../image/flag4.png) no-repeat center/cover;
}
.main_contant .info_country.five::after{
     background: url(../image/flag1.png) no-repeat center/cover;
}
.main_contant .info_country.six::after{
     background: url(../image/flag2.png) no-repeat center/cover;
}
.main_contant .info_country.seven::after{
     background: url(../image/flag3.png) no-repeat center/cover;
}
.main_contant .info_country.eight::after{
     background: url(../image/flag4.png) no-repeat center/cover;
}
.main_contant .info_country{
    position: relative;
    z-index: 2;
    font-size: 12px;
}
.main_contant .country_sc_player_info{
    width: 100%;
}
.checkbox_icon_bottom {
    overflow: hidden;
}
.preloader-overlay{
    display: none!important;
}
.hgt_hide__scroll {
    /*height: 196px;*/
    overflow: auto;
    scrollbar-width: none;
}
.hgt_hide__scroll::-webkit-scrollbar {
    display: none;
}
.hgt_hide__scroll {
    -ms-overflow-style: none;
}
.main_body_item.trophay.open_room .hgt_hide__scroll {
    height: 130px!important;
}

.site-wrapper--has-menu-overlay .menu-panel {
    position: fixed!important;
    display: block!important;
    top: 43px!important;
    left: 0!important;
}





/*
===============================================================
   CASHIER LOBBY
===============================================================
*/


body.popup__main_cashier_sc {
    background: url('../image/cashier-BUY CREDITS.png') no-repeat center/cover!important;
    width: 100%;
    /*height: 580px;*/
}
.active_menu_team{
    color: #a3ff12!important;
}
.header-logo--img.cashier {
    position: absolute;
    right: 26px;
    top: -20px;
    left:auto;
}
ul.main-nav__list.cashier.nav.nav-tabs {
    padding-left: 90px;
}
.header--bottom .main-nav {
    padding-left: 0px;
}
.site-header--bottom.cashier .main-nav {
    padding-left: 0px!important;
}
.site-header--bottom.cashier {
    width: 92%;
    background: rgba(255,255,255,0.5);
    /* top: 26px; */
    box-shadow: 0px 9px 20px 0px rgba(0,0,0,0.50);
}
.header-logo.header-logo--img.cashier img {
    max-width: 145px!important;
    margin-left: 38px;
}
/*img.cashier_icon.active {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: -15px;
}*/
ul.main-nav__list.cashier.nav.nav-tabs li a.active span.menu__link {
    padding-top: 11px;
}
ul.main-nav__list.cashier.nav.nav-tabs li a.active img {
    margin-top: -6px;
    filter: drop-shadow(-3px 3px 14px white);
}
.avalile_blance p, 
.widrow__amount p {
    float: left;
    margin-right: 11px;
    color: #000;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 12px;
}
.widrow__amount {
    clear: both;
    overflow: hidden;
    margin-left: -11px;
}
div#panel3 .inerr__bg_item {
    margin-top: -13px;
    z-index: -1;
    position: relative;
}
div#panel3 .histroy__main_table_item {
    padding-top: 0px;
}
.widrow__amount input {
    width: 60px;
    height: 20px;
}
.sel__credit_text {
    /* text-align: center; */
    margin-left: 65px;
}
img.cashier_icon {
    width: 41px;
    height: 41px;
    margin-right: 10px;
    margin-top: -5px;
}
span.menu__link {
    padding-top: 9px;
    /*overflow: hidden;*/
    display: inline-block;
    letter-spacing: -0.5px;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #2C2C2C;
}
ul.main-nav__list.cashier li {
    /* padding-left: 13px; */
    padding-right: 28px;
}
.main-nav__list.cashier > li > a {
    padding-top: 3px;
}
.main-nav.cashier ul li a {
    font-size: 19px;
    text-shadow: none;
    color: #000;
    font-weight: 450;
}
.nav-tabs {
    border-bottom: 1px solid transparent!important;
}

ul.main-nav__list.cashier.nav.nav-tabs li a.active {
    font-size: 25px;
    font-weight: 600;
    /* filter: drop-shadow( 1px 1px 5px rgba(255,255,255)); */
    /* text-shadow: 0 0 14px #fff, 0 0 53px #fff, 0 0 16px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff; */
    -webkit-filter: drop-shadow(0px 3px 10px rgba(255,255,255));
    filter: drop-shadow(0px 0px 10px rgba(255,255,255));
    margin-top: -5px;
    /* box-shadow: 0 0 33px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff; */
    border-radius: 50%;
    background: transparent;
   text-shadow: 5px 0px 10px #fff, 0 5px 50px #fff, 0 0 50px #fff, 0 0 2px #fff, 0 0 50px #fff, 0 0 70px #fff, 0 0 55px #fff, 0 0 50px #fff;
    text-shadow: 1px 1px 50px 50px #fff, 1px 1px 7px 50px #fff;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    box-shadow: none !important;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: transparent !important;
    border-color: transparent !important;
}
.inerr__bg_item {
    /*background: rgba(89,0,145,0.5);*/
    background: rgba(144,0,180,0.5);
    width: 94%;
    height: 352px;
    margin: 24px 0 0 24px;
    border-radius: 29px;
    border-bottom-right-radius: 50px;
    box-shadow: -4px 13px 27px black;
    padding-top: 23px;
}
.single__payment__method_area img {
    width: 138px;
    /* height: 50px; */
}
.single__payment__method_area:nth-child(2) img, 
.single__payment__method_area:nth-child(3) img, 
.single__payment__method_area:nth-child(4) img {
    width: 114px;
}
.single__payment__method_area:nth-child(4) img{
    margin-left: -19px;
}
.single__payment__method_area:nth-child(5) img {
    width: 141px;
    padding-top: 4px;
}
.single__payment__method_area:nth-child(1) img {
    padding-top: 4px;
}
.single__payment__method_area {
    /*overflow: hidden;*/
    width: 20%;
    display: block;
    float: left;
}
/* The container */
.container__input_label {
  display: block;
  position: relative;
  padding-left: 0;
  margin: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

/* Hide the browser's default radio button */
.container__input_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}



/* When the radio button is checked, add a blue background */
.container__input_label input:checked ~ .checkmark__radio {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark__radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container__input_label input:checked ~ .checkmark__radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container__input_label .checkmark__radio:after {
    top: -5px;
    right: 17px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-image: url(https://i.postimg.cc/wBy7rpdZ/radio-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 999;
    transform: rotate(4deg);
}

.rgba__bg.method_payment {
    overflow: hidden;
    background: rgba(245,210,252,0.9);
    padding: 21px 11px 0px;
}
ul.main-nav__list.cashier.nav.nav-tabs li a.active span.menu__link.histroy_ac {
    padding-top: 11px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #151515;
}
.more_payment_mathod_sc button.dropdown-toggle {
    background: none;
    color: #000;
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0;
    margin: 0;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.more_payment_mathod_sc {
    overflow: hidden;
    float: right;
    margin-top: -4px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0!important;
    vertical-align: -2px!important;
    content: "";
    border: 0px!important;
    background-image: url(https://i.postimg.cc/cLmbzvSk/arrow-dpr.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13px;
    height: 13px;
}
.tab-content .tab-pane.active {
    display: block;
    opacity: 1;
}
.payment__count_area.rgba__bg {
    background: rgba(245,210,252,0.8);
    margin: 17px 16px 0;
    padding: 12px;
}

.select__credit_text h4 {
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    /*letter-spacing: 0px;*/
}

.select__credit_text p {
    color: red;
    font-size: 9px;
    margin: 0;
    margin-top: -4px;
    font-weight: 700;
}

button.btn.btn-primary.pointer__form-control {
    background-image: url(../image/count.png);
    width: 17%;
    height: 43px;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-color: transparent;
    /* border: none; */
    /* padding: 0; */
    background-size: 78px 42px;
    padding-left: 0;
    color: #000;
    font-weight: bold;
    letter-spacing: -1.5px;
    font-size: 19px;
    padding-right: 0;
    text-align: -webkit-center;
    padding-top: 11px;
    margin-left: 5px;
}
.active_count{
     background-image: url(../image/count_ac.png)!important;
}
.middle__area_pointer {
    padding-top: 18px;
}
.counter__lavel .col-md-2 {
    max-width: 21%;
    flex: 22%;
}
button.btn.btn-primary.pointer__form-control.other {
    background-image: none;
    background: #fff;
    padding: 0;
    height: 17px;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    width: 14%;
    font-weight: 600;
    padding-top: 2px;
    text-transform: capitalize;
    letter-spacing: -1.25px;
}
.cunt_sc img {
    width: 76%;
    margin-left: 7px;
    margin-top: -10px;
}

.counter__lavel .col-md-1 {
    padding: 0;
}
.cunt_sc {
    margin-top: -11px;
}
.area__panel_count {
    padding-top: 9px;
}
.text__btm_area p {
    margin: 19px 0 0;
    font-size: 9px;
    color: #000;
    font-weight: 400;
}
.payment__count_area.rgba__bg {
    padding-bottom: 2px;
    border-radius: 19px;
    box-shadow: 0px 3px 13px black;
}
button.btn.btn-secondary.buy__credits {
    background-image: url(../image/buy_bg.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 234px 62px;
    width: 272px;
    height: 58px;
    padding-top: 17px!important;
    padding: 23px;
    color: #000;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -.7px;
    position: relative;
    z-index: 2;
    padding-left: 0px;
    /* box-shadow: inset 5px 2px black; */
    /* filter: drop-shadow(0px -2px 0px #000); */
}
button.btn.btn-secondary.buy__credits::after {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 95px;
    background-image: url(../image/bitcoin.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 26% 75px;
    content: '';
}
.buy__credits__btn {
    text-align: center;
    margin-top: 27px;
}
.rgba__bg.inerr-footer {
    background: url(../image/bottom_bg.png) no-repeat center/cover;
    width: 75%;
    height: 46px;
    margin: 35px auto;
    padding: 8px 55px;
}
.main__footer_inner .col-md-2 {
    padding-left: 5px;
    padding-right: 5px;
}

#total_panel, .total_panel.span{
    margin: 0;
    float: left;
    overflow: hidden;
    margin-right: 18px;
    font-weight: 550;
    letter-spacing: -0.5px;
    color: #fff;
    font-size: 12px;
}

.total_panel.span {
    margin-right: 0;
    float: none;
    padding-left: 7px;
}
button.btn.btn-secondary.Wazal {
    background: #9d91a4;
    padding: 0px 0px;
    font-size: 14px;
    color: #000;
    letter-spacing: -1px;
    font-weight: 800;
    width: 100%;
    text-transform: capitalize;
}
.Balance__area_sc img {
    width: 100%;
    margin-top: -12px;
}

p.blance__text {
    margin: 0;
    text-align: center;
    margin-top: -12px;
    letter-spacing: -0.2px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}

.histroy__main_bg {
    /* background: url(../image/histroy_top.png) no-repeat center/cover; */
    width: 75%;
    height: 28px;
    margin: 0px auto;
    padding: 8px 55px;
    background: rgba(0,0,0,0.8);
    border-radius: 50px;
    margin-top: 17px;
    border: 0.2px solid #bc81d1;
}
div#panel4 .inerr__bg_item {
    padding-top: 0;
    margin-top: -13px;
    position: relative;
    z-index: -1;
    box-shadow: 0px 10px 27px black;
    border-radius: 26px;
}
.form-control_histroy {
    width: 68px;
    height: 14px;
    padding: 0;
}

button.btn.btn-primary.mb-2 {
    padding: 0;
    font-size: 12px;
    background: transparent;
    /* margin: -0; */
    margin-left: -15px;
}

button.btn.btn-primary.mb-2 img {
    width: 17px;
}

/* .form-group.mb-2 {
    margin: 0!important;
} */

.histroy__main_bg .form-inline {
    margin-top: -6px;
}

.histroy__main_bg .form-inline label {
    color: #fff;
    width: 70px;
}
.histroy__main_table_item .table thead th {
    border-bottom: 0px;
    border-top: 0px!important;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
}
div#panel2 .rgba__bg.method_payment {
    padding: 21px 11px 20px;
}
.histroy__main_table_item .table td {
    color: #eee;
    font-size: 1vw;
    text-align: center;
    padding: 0rem;
}
.histroy__main_table_item {
    padding-top: 26px;
}
.histroy__main_table_item .table td {
    padding: 3px 0;
    vertical-align: middle;
    border-top: 0.2px solid #bc81d1;
    /*border-top: 0;*/
    /*box-shadow: 0 0.4px 0 #bc81d1;*/
    padding-left: 15px;
}
.histroy__main_table_item .table th {
    padding-left: 30px;
    padding-bottom: 12px;
    box-shadow: 0 0.3px 0 #bc81d1;
}
.text-center.text_title p {
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
    /* font-family: sans-serif; */
    font-weight: 500;
    margin: 0;
    padding-top: 2px;
    /* padding-left: 2px; */
    margin-left: -1px;
}

li.active.main_pr a > span.menu__link{
    overflow: hidden!important;
    display: inline-block!important;
    letter-spacing: -0.5px!important;
    -webkit-text-stroke-width: 0.4px!important;
    -webkit-text-stroke-color: #2C2C2C!important;
    padding-top: 11px!important;

}

/*
===============================================================
   END CASHIER LOBBY
===============================================================
*/







@media only screen and (min-width: 1778px) and (max-width:1920px) {

.site-header--top, .site-header--bottom {
    top: 40px;
    box-shadow: -1276px 14px 18px 17px rgba(0,0,0,0.75);
}
.row.slider_custom_1 {
    margin-top: -60px;
}
.table.scroll tbody td {
    width: 191px;
    padding: 0px 0px 2px;
}
.main-nav ul li a {
    font-size: 24px;
}
.main-nav__list > li > a {
    padding-top: 9px;
    padding-right: 0px;
}
table.scroll tbody {
    height: 308px;
}
.table.scroll thead th{
    width: 191px;
}
.registering_part button.btn.btn-danger.player_sc {
    right: -58px;
    top: 58px;
}
p.profile_name_upMatch {
    font-size: 18px;
}
.main_contant {
    height: 500px;
}
.main_contant .country_sc_player_info {
    margin: 12px auto 49px;
}
.dropdown-menu.custom_item {
    min-width: 100%;
}
.left_area_match_details {
    margin-top: -4%;
}
.main_contant .wrap-login100-form-btn {
    margin-bottom: 10px;
}
.header-logo--img {
    top: -17px;
}
.search_bar_area.panel__ .search_sc {
    background-size: 34px;
}
/*.main_warper_body .col-md-8 {
    max-width: 80%;
    flex: 80%;
}*/
.header-logo--img img {
    max-width: 180px;
}
.main_warper_body .col-md-4 {
    max-width: 16%;
    flex: 16%;
}
p.cash_am {
    margin-right: 18px;
}
div#myDIVMatch {
    top: 44px;
}
.upcoming__match_search .search_bar_area.panel {
    top: 102px;
    height: 29px;
}
.logout_area {
    padding: 0px 19px;
    margin-top: -12px;
}
p.cash_am, .cash_log {
    font-size: 18px;
}
img#mini_game {
    width: 20px;
}
p.profile_am_coin, p.profile_name {
    font-size: 20px;
}
.top_bar_tittle h1 {
    font-size: 81px;
}
.top_bar_tittle {
    margin-left: 20%;
}
p.demo_r {
    font-size: 16px;
    padding-top: 37px;
}
p.demo_r span {
    font-size: 24px;
}
.container.box {
    max-width: 1200px;
}
.upcoming__match_search .form-control.search_sc {
    height: 27px;
    background-size: 15%;
}
.registering_part button.btn.btn-danger.player_sc img {
    width: 78%;
}
.upcoming__match_search .search_bar_area.panel__ {
    height: 27px;
    width: 14%;
}
.upcoming__match_search .search_bar_area.panel__ .search_sc {
    margin-top: 1px;
}
.item__rgba_boxs {
    height: 556px;
}
.checkbox_icon_bottom .checkmark {
    width: 31px;
    height: 31px;
}
.checkbox_icon_bottom .check_item .checkmark::after {
    height: 27px;
}
.checkbox_icon_bottom .check_item {
    font-size: 15px;
    padding: 3px 30px 0;
}
.right_sidebar.play_game_area {
    margin-top: 34px;
}
.dropdown-toggle.custom_item.custom_item {
    height: 29px;
    width: 90%;
    font-size: 17px;
}
.dropdown-toggle.custom_item.custom_item::after {
    top: 7px;
    height: 24px;
    right: 10px;
}
.dropdown-toggle.custom_item.console::after {
    top: 10px;
}
.warper_search_minvi {
    margin: 25px 15px 20px;
}
.registering_part p.tittle_player {
    padding: 2px 9px;
    font-size: 16px;
}
.iner_ h3 {
    line-height: 23px;
    font-size: 19px;
    font-weight: 700;
}
.text-center.simble__text_I p {
    font-size: 21px;
    padding-top: 38px;
}
.text-center.simble__text_I2 {
    padding-top: 35px;
}


.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


}

@media only screen and (min-width: 1601px) and (max-width:1777px) {

.table.scroll tbody td {
    width: 14rem;
}
.left_area_match_details {
    margin-top: -6%;
}
.table.scroll thead th{
    width: 14rem;
}
.dropdown-menu.custom_item {
    min-width: 100%;
}
.main_contant {
    height: 450px;
}
p.profile_name {
    font-size: 17px;
}
p.profile_am_coin {
    font-size: 17px;
}
p.cash_am, .cash_log {
    font-size: 19px;
}



}

@media only screen and (min-width: 1368px) and (max-width:1600px) {
.row.slider_custom_1 {
    margin-top: -60px;
}
.table.scroll tbody td {
    width: 150px;
}
.left_area_match_details {
    margin-top: -6%;
}
.table.scroll thead th{
    width: 150px;
}
.main_contant {
    height: 440px;
}
.dropdown-menu.custom_item {
    min-width: 100%;
}




}

@media only screen and (min-width: 1200px) and (max-width:1365px) {
	.main-nav ul li a{
		padding-right: 0px;
		font-size: 16px;
	}
    .icon_tittle {
        font-size: 15px;
    }
    .icon_img img {
        width: 30px;
        padding-top: 8px;
    }
    .icon_img img.active {
        width: 42px;
        margin-top: -5px;
    }
    .search_bar_area.panel__ .search_sc {
        background-size: 26px;
    }
    .search_bar_area.panel__ {
        width: 25%;
    }
    .registering_part button.btn.btn-danger.player_sc img {
        width: 60%;
    }
    .registering_part button.btn.btn-danger.player_sc {
        top: 72px;
        right: -48px;
    }
    .text-center.simble__text_I p {
        font-size: 13px;
    }
    .text-center.simble__text_I2 p {
        font-size: 13px;
        line-height: 15px;
    }
    p.profile_name {
        margin-right: 9px;
        font-size: 12px;
    }
    p.profile_am_coin{
        font-size: 12px;
    }
    img#mini_game {
        width: 12px;
    }
    p.cash_am, .cash_log {
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
    }
    .right_sidebar.play_game_area {
        /*margin-left: 10px;
        margin-right: 29px;*/
        margin-top: 32px;
    }
    .form-control.search_sc {
        background-size: 34px;
    }
    .dropdown-menu.custom_item {
        min-width: 100%;
    }
    .header_right_area {
        width: 100%;
    }
    .single_profile {
        width: 60px;
        height: 60px;
        margin-left: 34px;
    }
    p.profile_name_upMatch {
        font-size: 13px;
        margin-right: 8px;
    }
    .left_area_match_details {
        margin-top: -31px;
    }

}

/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

.main-nav {
    display: block;
}
.site-header--top .main-nav, .site-header--bottom .main-nav {
    padding-left: 145px;
}
.main-nav__list > li > a {
    padding-right: 12px;
}
.site-header--top, .site-header--bottom {
    height: 45px;
    width: 70%;
} 
.header-logo--img img {
    max-width: 120px !important;
    margin-top: 0px !important;
}
.main-nav ul li a{
    font-size: 15px;
}
.upcoming__match_search .form-control.search_sc {
    background-size: 11%;
}
.form-control.search_sc {
    background-size: 34px 34px;
}
.main_contant .wrap-login100-form-btn {
    margin-bottom: 20px;
}
.search_bar_area.panel__ .search_sc {
    background-size: 34px 34px;
}
.main-nav__list > li > a {
    padding-top: 13px;
}
.site-wrapper.site-layout--default .col-md-9, 
.main_warper_body .col-md-8 {
    max-width: 70%;
    flex: 70%;
}
.site-wrapper.site-layout--default .col-md-3, 
.main_warper_body .col-md-4 {
    max-width: 30%;
    flex: 30%;
}
.dropdown-menu.custom_item {
    min-width: 100%;
}
.icon_model_area .col-md-2 {
    max-width: 25%;
    flex: 25%;
    margin-bottom: 20px;
}
.icon_tuch_area.bg_icon {
    height: auto;
    padding-bottom: 30px;
}
.top_bar_tittle h1 {
    font-size: 50px;
}
.top_bar_tittle {
    margin-left: 15px;
}
.right_sidebar.play_game_area {
    margin-left: 0;
    margin-right: 10px;
}
.registering_part button.btn.btn-danger.player_sc img {
    width: 70%;
}
.registering_part button.btn.btn-danger.player_sc {
    top: 18%;
    right: -43px;
}
.text-center.simble__text_I p {
    font-size: 14px;
}
.active_row {
    background-size: 22px 18px;
}
/* button.btn-danger.custom_popup {
    font-size: 20px;
} */
.modal_popup_area {
    padding-top: 60px;
    margin-left: 16px;
}
.main_contant {
    height: auto;
}
.search_bar_area.panel__ {
    width: 40%;
     margin-right: 0px; 
}
.header_right_area {
    width: 100%;
    margin-top: 2px;
    margin-left: 19px;
}
.single_profile {
    margin: 17px 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 11px;
}
p.profile_name_upMatch{
    margin-right: 7px;
    font-size: 15px;
}
.left_area_match_details {
    margin-top: 0%;
}
.main_warper_item_start {
    padding: 20px 0;
}    
.profile_coin {
    padding-top: 21px;
    padding-right: 10px;
}
.search_bar_area.panel{
    width: 35%;
}
p.profile_name, p.profile_am_coin {
    margin-right: 6px;
    font-size: 17px;
}
p.cash_am, .cash_log {
    font-weight: 500;
    font-size: 18px;
}
.table.scroll thead th {
    font-size: 14px;
    width: 120px;

}
.table.scroll tbody td {
    font-size: 11px;
}
.table.scroll tbody td img {
    width: 20px;
}
.upcoming__match_search .search_bar_area.panel{
    width: 35%;
}
div#myDIVMatch {
    top: 15px;
}
.warper_search_minvi {
    margin: 0 15px 25px;
}
.upcoming__match_search .search_bar_area.panel__{
    width: 24%;
}
.item__rgba_boxs {
    height: auto;
}
body {
    background-size: 100% 100% !important;
    background-position: center !important;
}
/*.table.scroll tbody td:nth-child(5) {
    padding-left: 16px;
}*/

/*table.scroll tbody, table.scroll thead {
    display: revert;
}*/
/*.cashier_sc {
    width: 50%;
    margin: 0 auto;
}*/

    
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
.main-nav {
    display: block;
}
.site-header--top .main-nav, .site-header--bottom .main-nav {
    padding-left: 145px;
}
.main-nav__list > li > a {
    padding-right: 0px;
}
.site-header--top, .site-header--bottom {
    height: 45px;
    width: 70%;
} 
.header-logo--img img {
    max-width: 120px !important;
    margin-top: 0px !important;
}
.main-nav ul li a{
	font-size: 11px;
}
.form-control.search_sc {
    background-size: 16% 90%;
}
.search_bar_area.panel__ .search_sc {
    background-size: 17% 100%;
}
.main-nav__list > li > a {
    padding-top: 15px;
}
.site-wrapper.site-layout--default .col-md-9, 
.main_warper_body .col-md-8 {
    max-width: 70%;
    flex: 70%;
}
.site-wrapper.site-layout--default .col-md-3, 
.main_warper_body .col-md-4 {
    max-width: 30%;
    flex: 30%;
    /*padding-right: 0;*/
}
.dropdown-menu.custom_item {
    min-width: 100%;
}
.icon_model_area .col-md-2 {
    max-width: 33.3%;
    flex: 33.3%;
    margin-bottom: 20px;
}
.icon_tuch_area.bg_icon {
    height: auto;
    padding-bottom: 30px;
}
.top_bar_tittle h1 {
    font-size: 44px;
}
.top_bar_tittle {
    margin-left: 15px;
}
.right_sidebar.play_game_area {
    margin-left: 0;
    margin-right: 10px;
}
.registering_part button.btn.btn-danger.player_sc img {
    width: 70%;
}
.registering_part button.btn.btn-danger.player_sc {
    top: 10%;
    right: -35px;
}
.text-center.simble__text_I p {
    font-size: 14px;
}
.active_row {
    background-size: 22px 18px;
}
button.btn-danger.custom_popup {
    font-size: 20px;
}
.modal_popup_area {
    padding-top: 60px;
}
.main_contant {
    height: auto;
}
.search_bar_area.panel__ {
    width: 40%;
     margin-right: 0px; 
}
.header_right_area {
    width: 100%;
    margin-top: 0px;
    margin-left: 5px;
}
.single_profile {
    margin: 17px 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 8px;
}
.left_area_match_details {
    margin-top: 6px;
}
.main_warper_item_start {
    padding: 36px 0;
}    
.profile_coin {
    padding-top: 21px;
    padding-right: 10px;
}
.upcoming__match_search .search_bar_area.panel{
   width: 35%;
    right: 10px;
    top: 83px;
}
p.profile_name {
    margin-right: 6px;
    font-size: 12px;
}
p.cash_am, .cash_log {
    font-weight: 500;
    font-size: 12px;
}
.table.scroll thead th {
    font-size: 14px;
    width: 120px;

}
.table.scroll tbody td {
    font-size: 11px;
    width: 77px;
}
.table.scroll tbody td img {
    width: 20px;
}
/*.table.scroll tbody td:nth-child(5) {
    padding-left: 16px;
}*/
table.scroll tbody, table.scroll thead {
    display: revert;
}
.item__rgba_boxs {
    height: auto;
}
html.touch .site-header--bottom .header-logo--img {
    top: -39px!important;
}
div#myDIVMatch {
    top: 17px;
}
p.profile_name_upMatch {
    margin-right: 1px;
    font-size: 13px;
}
.warper_search_minvi {
    margin: 0px 15px 25px;
}
.upcoming__match_search .search_bar_area.panel__{
    width: 30%;
    margin-right: 25px;
}
.modal-content.trophay.open_room {
    width: 94%!important;
}
table.main_item_tble.openRoom td {
    padding: 18px 29px;
}
body {
    background-size: 100% 100% !important;
    background-position: center !important;
}



}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    
.site-content.player-info-page {
    margin-top: 0px;
}
.search_bar_area.panel {
    width: 80% !important;
    left: 50%;
    transform: translateX(-50%);
}
.upcoming__match_search .form-control.search_sc {
    height: 30px;
    background-size: 10%;
}
.item__rgba_boxs {
    height: auto;
}
ul.social-menu.social-menu--default li > a > img {
    width: 29px;
    margin-right: -17px;
}

.header-menu-toggle {
    display: block;
}
.site-header--top, .site-header--bottom {
    height: 43px;
    width: 100%;
    top: 0;
}
.header-logo--img img {
    max-width: 90px!important;
}
.header-logo--img {
    top: -11px;
}
html.touch .site-header--bottom .header-logo--img {
    top: -17px;
    left: 8px;
}
.header-menu-toggle {
    width: 50px;
    height: 44px;
    padding: 15px 20px;
    background-color: chartreuse;
}
.site-wrapper.site-layout--default .col-md-3 {
    max-width: 100%;
    flex: 100%;
}
.site-wrapper.site-layout--default .col-md-9 {
    max-width: 100%;
    flex: 100%;
}
.header_right_area {
    width: 40%;
    margin-top: 128px;
}
.main_warper_body .col-md-8 {
    max-width: 100%;
    flex: 100%;
}
.main_warper_body .col-md-4 {
   max-width: 89%;
    flex: 89%;
}
.top_bar_tittle {
    margin-left: 20px;
}
.top_bar_tittle h1 {
    font-size: xx-large;
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: black;
    margin-right: 10px;
    font-weight: 800;
    margin-bottom: 40px;
}
p.demo_r span {
    font-size: 16px;
    font-weight: 600;
}
p.demo_r {
    font-size: 10px;
    padding-top: 10px;
    font-weight: 600;
}
.left_area_match_details {
    margin-top: 0;
}
.icon_tuch_area.bg_icon {
    height: auto;
    padding: 20px 20px 40px;
}
.icon_model_area .col-md-2 {
    max-width: 50%;
    flex: 50%;
    margin-bottom: 20px;
}
.upcoming__match_search .search_bar_area.panel__ {
    width: 100%;
    float: none;
    height: 31px;
}
.search_bar_area.panel__ .search_sc {
    background-size: 12% 112%;
}
.checkbox_icon_bottom .check_item {
    margin-top: 15px;
}
.warper_search_minvi {
    margin: 15px 15px;
}
.table.scroll thead th{
    font-size: 11px;
    padding: 9px 0 7px;
    width: 120px;
    font-weight: 600;
}
.table.scroll tbody td {
    font-size: 11px;
    letter-spacing: 0px;
    width: 60px;
}
.table.scroll tbody td img {
    width: 20px;
}
.active_row {
    background-image: url(../img/active.png);
    background-size: 15px 15px;
}
.right_sidebar.play_game_area {
    /*margin-right: 25px;*/
    margin-left: 50px;
}
.modal_popup_area {
    margin-left: 22px;
}
img.mini_game.match.upcoming {
    width: 12px;
    margin-right: 0;
}
div#myDIVMatch {
    top: 21px;
    right: 20px;
}
body {
    background-size: 100% 100% !important;
    background-position: center !important;
}
.main_contant {
    height: 400px;
    margin-bottom: 50px;
}
.form-control.search_sc {
    background-size: 10% 95%;
}
.dropdown-menu.custom_item {
    min-width: 100%;
}
/*modal open_room*/

/*modal */

.lobbY_img img {
    width: 174px;
}
.iner__body.lobby_description h3 {
    line-height: 28px;
}
.iner__body.lobby_description {
    padding-top: 7px;
}

.trNament__player.active__turanment {
    margin-bottom: 2px;
}
.account__will_charges_contant .col-md-8 {
    max-width: 62%;
    flex: 62%;
}
.Text__balance_tittle p {
    font-size: 14px;
}
.amonunt__moveer strong {
    font-size: 17px;
}
img.mini_game.match {
    margin-right: 0px;
}
.iner__contant {
    margin-bottom: 10px;
}
.account__will_charges_contant .col-md-4 {
    max-width: 38%;
    flex: 38%;
}
.btn-danger.PR__btn {
    margin-bottom: 15px;
}
.last__area_confrim_delate_inrr {
    margin-bottom: 30px;
}
.iner__contant .col-md-6 {
    max-width: 50%;
    flex: 50%;
}
.PR__registion_main_body {
    padding: 25px 20px 0px;
}
.upcoming__match_search .search_bar_area.panel {
    height: 30px;
    top: 74px;
}
.iner__body.lobby_description {
    padding-left: 0;
    padding-top: 14px;
}
body{
  overflow-y: auto!important;  
}
.main_body_item.trophay.openRooms.mobile_view {
    background: url(../img/mobile_opnroms.png) no-repeat center/cover;
    margin-top: 90px!important;
    width: 100%;
}
.mobile_area_item.table {
    margin-bottom: 7px;
}
.single_area.ps4 {
    margin-bottom: 15px;
}
.main_body_item.trophay.openRooms.mobile_view {
    display: block;
    height: 197px;
}
.main_body_item.trophay.open_room {
    display: none;
}
.hgt_hide__scroll {
    height: 197px;
}
.single_area.ps4 p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-shadow: 1px 4px 3px #000;
}

/*::::::::::::::::::cashirr popup:::::::::*/


.site-header--bottom.cashier .main-nav {
    display: block;
}
.site-header--bottom.cashier {
    position: absolute !important;
}
ul.main-nav__list.cashier.nav.nav-tabs {
    padding-left: 0;
    margin-top: 72px;
    margin-left: 30px;
}
.header-logo.header-logo--img.cashier img {
    max-width: 103px !important;
}
.site-wrapper.cashier.site-layout--default .header-menu-toggle {
    display: none;
}
.header-logo--img.cashier {
    top: -3px;
}
img.cashier_icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.main-nav.cashier ul li a {
    font-size: 17px;
}
ul.main-nav__list.cashier li {
    padding-right: 0;
    width: 150px;
}
ul.main-nav__list.cashier.nav.nav-tabs li a.active {
    font-size: 20px;
}
ul.main-nav__list.cashier.nav.nav-tabs li a.active img {
    margin-top: -15px;
}
img.cashier_icon {
    margin-top: -14px;
}
.single__payment__method_area {
    width: 50%;
    margin-bottom: 15px;
}
.more_payment_mathod_sc {
    margin-top: 31px;
}
.inerr__bg_item {
    height: auto;
}
.counter__lavel .col-md-2 {
    max-width: 100%;
    flex: 100%;
}
button.btn.btn-primary.pointer__form-control {
    width: 46%;
    height: 65px;
    background-size: cover;
    padding-left: 0;
    font-size: 20px;
}
.counter__lavel .col-md-1 {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: -22px;
}
.cunt_sc img {
    width: 50%;
}
button.btn.btn-primary.pointer__form-control.other {
    width: 46%;
}
.text__btm_area p {
    font-size: 12px;
}
.buy__credits__btn {
    margin-top: 21px;
    margin-left: 34px;
}
body.popup__main_cashier_sc {
    height: 115vh;
}
.rgba__bg.inerr-footer {
    width: 90%;
    height: 46px;
    margin: 35px 30px;
    padding: 8px 19px;
    border-radius: 50px;
}


.Balance__area_sc img {
    width: 45px;
}
p.blance__text {
    text-align: left;
}
#total_panel, .total_panel.span {
    margin-right: 5px;
    font-size: 10px;
}
.mini_game.cashier {
    width: 10px !important;
}
.main__footer_inner .col-md-5 {
    max-width: 42%;
    flex: 42%;
}
.main__footer_inner .col-md-2 {
    max-width: 16%;
    flex: 16%;
}

.main__footer_inner .col-md-2 {
    padding-left: 0px;
    padding-right: 0;
}
.histroy__main_table_item .table th {
    padding-left: 8px;
}
.histroy__main_table_item .table thead th {
    font-size: 9px;
    letter-spacing: 0;
}
button.btn.btn-primary.mb-2 {
    margin-left: 0px;
}
.histroy__main_bg .col-md-6 {
    max-width: 50%;
    flex: 50%;
}
.histroy__main_bg {
    padding: 8px 15px;
    width: 95%;
    margin: 0px 23px;
}
.form-control_histroy {
    width: 56px;
}
.histroy__main_bg .form-inline label {
    width: 53px;
    padding-top: 4px;
    margin: 0;
}
.histroy__main_bg .form-inline {
    margin-top: -9px;
}
/*::::::::::::::::::end cashirr popup:::::::::*/

}
 /*very small device*/
@media only screen and (max-width: 320px){
	.header-menu-toggle {
	    width: 50px;
	    height: 50px;
	    padding: 17px 20px;
	}

}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {


.form-control.search_sc {
    background-size: 10% 95%;
}
.site-wrapper {
    min-height: 100vh;
}
.search_bar_area.panel__ .search_sc {
    background-size: 9% 112%;
}
.icon_model_area .col-md-2 {
    max-width: 33.3%;
    flex: 33.3%;
}
.icon_tittle {
    font-size: 15px;
}
.icon_img img {
    width: 35px;
    padding-top: 6px;
}
.top_bar_tittle h1 {
    font-size: 46px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
p.demo_r span {
    font-size: 21px;
}
p.demo_r {
    font-size: 12px;
    padding-top: 12px;
}
.single_profile {
    width: 100px;
    height: 100px;
}
.header_right_area {
    width: 30%;
}
.iner_ h3 {
    line-height: 31px;
    font-size: 25px;
}
.iner_ h3 strong {
    font-size: 32px;
}
img.mini_game.match {
    width: 30px;
}
.right_sidebar.play_game_area {
    margin-right: 70px;
    margin-left: 70px;
}
.registering_part button.btn.btn-danger.player_sc {
    right: 40px;
}
.text-center.simble__text_I p {
    font-size: 25px;
}
.main_contant {
    height: 464px;
}
.header_right_area {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
}
.single_profile {
    width: 75px;
    height: 75px;
    margin-right: 15px;
    float: left;
}
.profile_coin {
    overflow: hidden;
    padding-top: 25px;

}
p.cash_am, .cash_log {
    font-weight: 500;
}
table.scroll tbody, table.scroll thead {
    display: revart;
}
.table.scroll tbody td {
    width: 150px;
}
.active_row {
    background-image: url(../img/active_row.png);
    background-size: 20px 20px;
}
    

}
