* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border: none;
	text-decoration: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}
::-webkit-input-placeholder {
    color:inherit;
    opacity:1;
}
:-ms-input-placeholder {
    color:inherit;
    opacity:1;
}
::placeholder {
    color:inherit;
    opacity:1;
}

/*** ### Hero Section ### ***/
.hero-section{
	position:relative;
	background:url(../images/isachecker/hero-bg.jpg) center center no-repeat;
	background-size:cover;
	height:100vh;
	max-height:1004px;
}
.hero-section .logo{
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:135px 0px 100px 0px;
}
.hero-section h1{
	color:#1b3355;
	font-size:70px;
	font-weight:600;
	margin:0px;
	padding:0% 0px 0px 5%;
	font-family: 'Montserrat', sans-serif
}
.hero-section h1 span{
	font-weight:700;
	color:#e56643;
	font-family: 'Montserrat', sans-serif
}
.hero-section a.compare-now{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:350px;
	line-height:70px;
	height:70px;
	background:#e66743;
	border:none;
	border-radius:50px;
	color:#FFFFFF;
	font-size:22px;
	font-weight:700;
	text-align:center;
	text-decoration:none;
	outline:none;
	margin:15px 0px 0px 5%;
}
.hero-section a.compare-now:hover{
	color:#e66743;
	background:#FFFFFF;
}
/*** ### IsaFinder ### ***/
.isafinder-hero-section{
	background:url(../images/isafinder/hero-bg.png) top right no-repeat;
	background-size:contain;
}
.isafinder-hero-section h1{
	color:#000000;
}
.isafinder-hero-section h1 span{
	color:#0071bd;
}
.isafinder-hero-section a.compare-now{
	color:#FFFFFF;
	background:#0071bd;
}
.isafinder-hero-section a.compare-now:hover{
	color:#FFFFFF;
	background:#6c757d;
}
@media (max-width:1920px){
.hero-section .logo{
	margin:6.7vw 0px 5vw 0px;
}
.hero-section .logo img{
	max-height:4.2vw;
}
.hero-section h1{	
	font-size:3.5vw;
}
.hero-section a.compare-now{
	max-width:17.5vw;
	line-height:3.5vw;
	height:3.5vw;
	border-radius:2.5vw;
	font-size:1.1vw;
}
}
@media (max-width:1199px){
.hero-section{
	position:relative;
	padding-bottom:150px;
	height:auto;
	background-position-x:left;
}
/*** ### IsaFinder ### ***/
.isafinder-hero-section{
	background:url(../images/isafinder/hero-bg.png) top right no-repeat;
	background-size:contain;
	background-position-x:right;
}
}
@media (max-width:991px){
.hero-section .logo{
	margin:50px 0px;
}
.hero-section .logo img{
	max-height:50px;
}
.hero-section h1{	
	font-size:40px;
	padding:0px;
}
.hero-section a.compare-now{
	max-width:250px;
	line-height:50px;
	height:50px;
	border-radius:50px;
	font-size:18px;
	margin-left:0px;
}
}
@media (max-width:767px){
.hero-section a.compare-now{
	max-width:200px;
	line-height:45px;
	height:45px;
	font-size:16px;
}
}
@media (max-width:576px){
.hero-section .logo{
	margin:50px 0px;
}
.hero-section .logo img{
	max-height:50px;
}
.hero-section h1{	
	font-size:30px;
	padding:0px;
}
}

/*** ### Section One ### ***/
.section-one{
	position:relative;
	background:#1c3456;
	padding:120px 0px;
}
.section-one .dot-images{
	position:absolute;
	top:-34%;
	left:0px;
}
.section-one .dot-images img{
	width:100%;
	max-height:471px;
}
.section-one .boxes{
	position:relative;
	display: flex;
	align-items: center;
	margin-bottom:75px;
	z-index:2;
}
.section-one .boxes .image-box{
	position:relative;
	margin-right:10px;
}
.section-one .boxes .text-box{
	position:relative;
}
.section-one .boxes .text-box p{
	color:#FFFFFF;
	font-size:22px;
	font-weight:400;
	margin:0px;
	padding:0px;
}
.section-one a.compare-now{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:350px;
	line-height:70px;
	height:70px;
	background:#e66743;
	border:none;
	border-radius:50px;
	color:#FFFFFF;
	font-size:22px;
	font-weight:700;
	text-align:center;
	text-decoration:none;
	outline:none;
}
.section-one a.compare-now:hover{
	color:#e66743;
	background:#FFFFFF;
}
/*** ### IsaFinder ### ***/
.isafinder-section-one{
	background:#FFFFFF;
}
.isafinder-section-one .boxes .text-box p{
	color:#000000;
}
.isafinder-section-one a.compare-now{
	color:#FFFFFF;
	background:#0071bd;
}
.isafinder-section-one a.compare-now:hover{
	color:#FFFFFF;
	background:#6c757d;
}
@media (max-width:1920px){
.section-one{
	padding:5vw 0px;
}
.section-one .boxes{	
	margin-bottom:3.7vw;
}
.section-one .boxes .image-box{
	margin-right:0.5vw;
}
.section-one .boxes .image-box img{
	max-height:5vw;
}
.section-one .boxes .text-box p{	
	font-size:1.1vw;
}
.section-one a.compare-now{
	max-width:17.5vw;
	line-height:3.5vw;
	height:3.5vw;
	border-radius:2.5vw;
	font-size:1.1vw;
}
}
@media (max-width:991px){
.section-one{
	padding:50px 0px;
}
.section-one .boxes{	
	margin-bottom:50px;
}
.section-one .boxes .image-box{
	margin-right:10px;
}
.section-one .boxes .image-box img{
	max-height:80px;
}
.section-one .boxes .text-box p{	
	font-size:18px
}
.section-one a.compare-now{
	max-width:250px;
	line-height:50px;
	height:50px;
	border-radius:50px;
	font-size:18px;
}
}
@media (max-width:767px){
.section-one{
	padding:30px 0px;
}
.section-one .dot-images{
	display:none;
}
.section-one .boxes{	
	margin-bottom:30px;
}
.section-one .boxes .image-box{
	margin-right:10px;
}
.section-one .boxes .image-box img{
	max-height:60px;
}
.section-one .boxes .text-box p{	
	font-size:16px
}
.section-one a.compare-now{
	max-width:200px;
	line-height:45px;
	height:45px;
	font-size:16px;
}
}
@media (max-width:576px){
.section-one{
	padding:30px 0px;
}
.section-one .boxes{	
	margin-bottom:30px;
	display:block;
}
.section-one .boxes .image-box{
	display:block;
	margin:auto;
}
.section-one .boxes .image-box img{
	display:block;
	margin:auto;
}
.section-one .boxes .text-box p{	
	font-size:15px;
	padding:15px 0px 0px 0px;
	text-align:center;
}
}

/*** ### Section Two ### ***/
.section-two{
	position:relative;
	background:#FFFFFF;
}
.section-two .left-box{
	position:relative;
	padding:0px;
}
.section-two .left-box img{
	width:100%;
}
.section-two .right-box{
	position:relative;
}
.section-two .right-box p{
	color:#000000;
	font-size:18px;
	line-height:35px;
	margin:0px;
	padding:50px;
	max-width:700px;
	width:100%;
}
/*** ### IsaFinder ### ***/
.isafinder-section-two{
	background:#f9fafb;
	padding:100px 0px;
}
.isafinder-section-two .left-box{
	position:relative;
}
.isafinder-section-two .left-box img{
	width:auto;
	display:block;
	margin:auto;
}
.isafinder-section-two .right-box p{
	color:#000000;
	max-width:100%;
	width:100%;
}
@media (max-width:1920px){
.section-two .right-box p{
	font-size:1vw;
	line-height:2vw;
	padding:2.5vw;
}
/*** ### IsaFinder ### ***/
.isafinder-section-two{
	padding:5vw 0px 0px 0px;
}
}
@media (max-width:1199px){
.section-two .right-box p{
	font-size:1.2vw;
}
}
@media (max-width:991px){
.section-two .right-box p{
	font-size:1.4vw;
}
}
@media (max-width:767px){
.section-two .right-box p{
	font-size:16px;
	line-height:25px;
	padding:30px 0px 0px 0px;
	max-width:100%;
}
/*** ### IsaFinder ### ***/
.isafinder-section-two{
	padding:30px 0px 0px 0px;
}
}
/*** ### Section Three ### ***/
.section-three{
	position:relative;
	background:#FFFFFF;
	padding:75px 0px;
}
.section-three p{
	color:#000000;
	font-size:18px;
	line-height:35px;
	margin:0px;
	padding:30px;
	text-align:center;
}
/*** ### IsaFinder ### ***/
.isafinder-section-three{
	background:#f9fafb;
}
.isafinder-section-three p{
	color:#000000;
}
@media (max-width:1920px){
.section-three{
	padding:3.7vw 0px;
}
.section-three p{
	font-size:1vw;
	line-height:2vw;
	padding:1.5vw;
}
}
@media (max-width:1199px){
.section-three p{
	font-size:1.2vw;
}
}
@media (max-width:991px){
.section-three p{
	font-size:1.4vw;
}
}
@media (max-width:767px){
.section-three{
	padding:0px 0px 20px 0px;
}
.section-three p{
	font-size:16px;
	line-height:25px;
	padding:30px 0px;
	text-align:left;
}
}
/*** ### Section Foure ### ***/
.section-foure{
	position:relative;
	background:#f9fafb;
	padding:75px 0px;
}
.section-foure p{
	color:#666666;
	font-size:18px;
	line-height:35px;
	margin:0px;
	padding:30px;
}
/*** ### IsaFinder ### ***/
.isafinder-section-foure{
	background:#0071bd;
}
.isafinder-section-foure p{
	color:#FFFFFF;
}
@media (max-width:1920px){
.section-foure{
	padding:3.7vw 0px;
}
.section-foure p{
	font-size:1vw;
	line-height:2vw;
	padding:1.5vw;
}
}
@media (max-width:1199px){
.section-foure p{
	font-size:1.2vw;
}
}
@media (max-width:991px){
.section-foure p{
	font-size:1.4vw;
}
}
@media (max-width:767px){
.section-foure{
	padding:20px 0px;
}
.section-foure p{
	font-size:16px;
	line-height:25px;
	padding:30px 0px;
}
}
/*** ### Section Five ### ***/
.section-five{
	position:relative;
	background:#FFFFFF;
	padding:50px 0px;
}
.section-five p{
	color:#666666;
	font-size:18px;
	line-height:35px;
	margin:0px;
	padding:50px 0px;
}
.section-five p a{
	color:inherit;
	text-decoration:none;
	outline:none;
}
.section-five p a._link{
	color:#0071bd;
	text-decoration:none;
	outline:none;
}
.section-five .left-box{
	position:relative;
}
.section-five .right-box{
	position:relative;
}
@media (max-width:1920px){
.section-five{
	padding:2.5vw 0px;
}
.section-five p{
	font-size:1vw;
	line-height:2vw;
	padding:2.5vw 0px;
}
}
@media (max-width:1199px){
.section-five p{
	font-size:1.2vw;
}
}
@media (max-width:991px){
.section-five p{
	font-size:1.4vw;
}
}
@media (max-width:767px){
.section-five p{
	font-size:16px;
	line-height:25px;
	padding:30px 0px 0px 0px;
}
}