*{ 
	font-family:'Josefin Sans';
}
.text-center img {
	display: inline-block;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

header {
	padding: 0px;
}
header .mainmenu {
	float: right;
	padding-top: 10px;
}
.header-top {
    background-color: #fdf4f7;
}
h1.inner-page {
    font-family: 'Source Sans Pro' !important;
    font-weight: 900;
    text-transform: uppercase !important;
}
.header-logo {
    padding-top: 25px;
}
header .mainmenu ul li a {
  text-decoration: none;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 30px;
  font-family: 'Montserrat';
}
.header-phone a span {
  padding-left: 5px;
}
.header-phone a:hover{
	color: #000;
}
.header-phone a {
    font-size: 18px;
    font-family: 'Montserrat';
    background-color: #e9a5c2;
    padding: 8px 0px;
    border-radius: 10px;
    margin-top: 30px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    text-align: center;
}


header .mainmenu ul li {
	padding: 0px 18px;
}
header .mainmenu ul li:last-child {
	padding-right: 0px !important;
}

/*************SUB MENU*************/
.mainmenu .sub-menu {list-style: outside none none;  min-width: 250px;  padding: 0;  position: absolute;  z-index: 1000;  display:none;}
.mainmenu li:last-child:hover .sub-menu {right: 0;}
.mainmenu li:hover .sub-menu{ display:block; }
.mainmenu .sub-menu li{padding:0px !important;}
.mainmenu .sub-menu li a { background-color: #fff;  display: block;  padding: 10px 15px !important;  text-align: left; color: #000 !important;  text-decoration: none;  transition: all 1s ease-in-out 0s;}
.mainmenu .sub-menu li a:hover { background:#fff !important; padding-left:25px; color: #000 !important;}
.col-md-5ths {
	width: 20%;
	float: left;
}

/*******MAIN MENU*********/
header .mainmenu .navbar {
	margin: 0px;
	padding: 0px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin: 0px;
}
.owl-theme .owl-nav {
	margin-top: 0;
}
header .mainmenu .navbar-nav a.active,
header .mainmenu .navbar-nav a:focus,
header .mainmenu .navbar-nav a:hover {
    color: #378990!important;
    font-weight: 700;
    text-decoration: underline;
    
}
header .mainmenu .navbar-nav .menu1 a.active, header .mainmenu .navbar-nav .menu1 a:focus, header .mainmenu .navbar-nav .menu1 a:hover{
	background-image: none !important;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
	color: #386979;
}
header .header-bottom {
	position: relative;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
  }
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
header .header-bottom .banner-contents {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    width: 100%;
}
header .banner-contents h1 {
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
}
header .banner-contents h2 {
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.3;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  text-transform: uppercase;
}
header .banner-contents h2 span{
  color: #f4a000;	
}
.banner-contents p {
    font-size: 19px;
    color: #000;
    line-height: 1.5;
    padding: 10px 0px;
    font-weight: 700;
    font-family: 'Mulish';
    width: 60%;
}
.banner-contents a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  background-color: #f4a000;
padding: 12px 20px;
font-weight: 900;
text-transform: capitalize;
border-radius: 10px;
box-shadow: 1px 2px 6px #262626;
-webkit-box-shadow: 1px 2px 6px #262626;
-moz-box-shadow: 1px 2px 6px #262626;
-ms-box-shadow: 1px 2px 6px #262626;
}

/*********** CAROUSEL NAV***********/
header .header-bottom .owl-prev {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/banner-left-arrow.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin:0px !important;
	display: inline-block;
	height: 64px;
	left: 5%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 33px;
	outline: none !important;
	opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header .header-bottom .owl-next {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/banner-right-arrow.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin:0px !important;
	display: inline-block;
	height: 64px;
	right: 5%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 33px;
	outline: none !important;
	opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
header .header-bottom:hover .owl-prev {
	opacity: 1;
	left: 2%;
}
header .header-bottom:hover .owl-next {
	opacity: 1;
	right: 2%;
}

/**********CAROUSEL DOTS***************/
header .header-bottom .owl-theme .owl-controls {
    margin-top: 0;
}
header .header-bottom .owl-dots {
    bottom: 10%;
    left: 0%;
    position: absolute;
    right: 0%;
    z-index: 9999;
}

header .header-bottom .owl-theme .owl-dots .owl-dot span {
	background-color: #fff;
}
header .header-bottom .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #2478bc !important;
    padding: 5px;
}
.owl-dot span {
    background-color: #fff;    
    padding: 5px;
}
header .header-bottom .owl-theme .owl-dots .owl-dot span{
	background-color: #fff;
}
.banner-shape {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3px;
	z-index: 9;
}
.heading h3 {
    font-size: 40px;
    color: #378990;
    font-weight: 700;
    text-transform: uppercase;
}
.heading h5 {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.heading h3 span.text-col {
    color: #fff;
    background-color: #e9a5c2 !important;
    border-radius: 10px;
    padding: 7px 0px 0px;
    display: inline-block;
}
.heading h3 span.text-bg-img {
    background-image: url(img/others/heading-bg-img.png);
    background-repeat: no-repeat;
    background-position: 90% 75%;
    background-size: auto;
    padding: 10px 10px 30px;
}
.about-section {
    padding: 70px 0px;
}

.heading h4 {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.heading p {
    font-size: 16px;
    padding-top: 10px;
    color: #000000;
    font-family: 'Mulish';
    font-weight: 300;
}
.stonger-cont h3 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  font-family: 'Source Sans Pro';
}
.stonger-wrap {
    padding: 60px 0px 20px;
}
.stonger-content {
    padding: 30px 81px;
    margin: 10px;
    box-shadow: 0px 0px 6px #d6d6d6;
    -webkit-box-shadow: 0px 0px 30px 10px #9b98981c;
    -moz-box-shadow: 0px 0px 6px #d6d6d6;
    -ms-box-shadow: 0px 0px 6px #d6d6d6;
    border-radius: 13px;
}
.stonger-content h5 {
    padding-top: 20px;
}

.stonger-section {
    padding: 10px 0px 60px;
}
.our-img {
    background-color: #f4eff1;
    border-radius: 200px;
    width: 272px;
    height: 277px;
    padding: 25px;    
    margin: 0px 40px;
}
.our-section {
    padding: 70px 0px;
    background-color: #fef4f8;
}
.our-wrap {
    padding: 70px 0px 0px;
}
.co-border {
    border-left: 2px solid #e9a5c2;
}
.our-content p {
    margin-right: 35%;
}
.co-border .our-img {
    margin-top: 60px;
}
.our-content h4 {
    margin-top: 60px;
}
.our-shape {
    position: relative;
    bottom: -90px;
}
.co-border {
    padding-left: 60px;
}


.accordion-button:not(.collapsed)::after {
  background-image: url('img/others/arrow-down.png') !important;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  rotate: 180deg;
}

.accordion-button::after {
  background-image: url('img/others/arrow-up.png') !important;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.accordion-button i {
  padding-right: 10px;
}
.faq-heading h3 {
  color: #fff;
}
.faq-heading h4 {
  color: #fff;
}
.accordion-button:focus{
	box-shadow: none !important;
}
.accordion-item:not(.collapsed) {
    border-bottom: 2px solid #0000006e !important;
    border-radius: 0px;
    border: none;
    margin-bottom: 10px;
}
.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 30px 0px;
}
.faq-section {
  padding: 70px 0px;

}
.accordion-button:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.accordion-body {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding-left: 0px;
    padding-bottom: 0px;
}
.accordion-button {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    background-color: transparent !important;
    text-transform: uppercase;
    line-height: 1.4;
    padding-top: 0px;
    padding-left: 0px;
}
  .faq-wrap-cont {
    padding-top: 50px;
}
.contact-heading h3 span.text-bg-img{

}
.contact-section {
    padding: 70px 0px;
    background-color: #fef4f8;
}
.contact-form {
    margin: 0px 20%;
}
.contact-heading p {
    font-size: 20px !important;
    color: #000;
    font-weight: 500 !important;
    margin: 30px 0px;
}
.get-contact h3 {
  font-size: 30px;
  color: #000;
  font-family: 'Source Sans Pro';
  font-weight: 900;
  text-transform: uppercase;
}
.get-contact p {
  font-size: 18px;
  color: #000000cf;
  font-weight: 400;
}
.contact-cont ul li a{
	text-decoration: none;
}

.get-contact h4 {
  font-size: 20px;
  color: #0a3043;
  font-weight: 800;  margin-bottom: 20px;
}
.form-group {
    margin: 17px -5px;
    border: 2px solid #83818182;
    border-radius: 8px;
}
.accordion-item {
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.22);
  margin: 30px 0px;
}

.contact-form .form-control::-webkit-input-placeholder {
  color: #565656 !important;
  opacity: 1;
}

.contact-form .form-control::-moz-placeholder {
  color: #565656 !important;
  opacity: 1;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #565656 !important;
  opacity: 1;
}
.form-control.drop-arow {
  background-image: url('img/others/drop-arrow.png');
  background-repeat: no-repeat;
  background-position: 97% !important;
}
.faq-wrap {
    padding-top: 60px;
}
.contact-form .form-control::placeholder {
  color: #565656 !important;
  opacity: 1;
}
.form-control{
	border-color: #bababa !important;
	color: #565656 !important;
}
.form-control:focus{
	border-color: #bababa !important; 
	box-shadow: none !important;
}
.form-group input {
    padding: 15px 20px;
    font-size: 14px;
    color: #616161 !important;
    font-weight: 300;
    font-family: 'Mulish';
    border: none;
}
.contact-heading h3 span.text-bg-img {
    background-position: 50% 75%;
}
.form-group textarea {
  padding: 15px 20px;
    font-size: 14px;
    color: #616161 !important;
    font-weight: 300;
    font-family: 'Mulish';
    border: none;
}
.form-group1 button {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #e9a5c2;
    padding: 10px 30px;
    font-weight: 800;
    text-transform: capitalize;
    border-radius: 10px;
    margin-top: 30px;
}
.footer-section {
    padding: 70px 0px 20px;
    background-color: #e9a5c2;
}
.footer-shape {
    position: relative;
    margin-top: -80px;
}

.footer-menu ul li{
	padding: 0px 40px;
}
.contact-cont ul li span {
  color: #000;
  font-weight: 600;
  font-size: 15px;
}
.footer-contact {
  margin-top: 50px;
  border-top: 2px solid #ffffffc7;
  padding-top: 50px;
}
.footer-menu {
    padding: 10px 0px;
    text-align: end;
}
.footer-menu ul li a {
    font-size: 17px;
    color: #fff;
    font-weight: 5;
    font-family: 'Montserrat';
}
.footer-menu ul li a.active {
    font-weight: 700;
}

.footer-wrap ul li {
	padding-bottom: 10px;
}
.footer-wrap a{
	font-size: 16px;
	color: #fff;
	text-decoration: none;	
	font-weight: 400;
}

.copyrights p {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: end;
    font-family: 'Montserrat';
}


.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
}
.accordion-button:not(.collapsed) {
    color: #e9a5c2;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent !important;
    border-bottom: 0px solid;
    padding: 0px 0px 0px;
}



/*RESPONSIVE*/

/*RESPONSIVE*/
@media screen and (max-width: 2880px) {



}
@media screen and (max-width: 1920px) {


}
@media screen and (max-width: 1680px) {
 

}
@media screen and (max-width: 1440px) {


}
@media screen and (max-width: 1376px) {
  .stonger-content {
    padding: 30px 30px;
  }
  .contact-form {
    margin: 0px 15%;
  }

}
@media screen and (max-width: 1280px) {

	
}
@media screen and (max-width: 1270px) {
  .our-img {
    margin: 0px 10px;
  }
  .header-phone a {
    font-size: 14px;
  }	
  header .mainmenu ul li a {
    padding-top: 20px;
  }
  header .mainmenu ul li {
    padding: 0px 15px;
  }
  header .banner-contents h1 {
    font-size: 20px;
  }
  .banner-contents p {
    font-size: 17px;
    width: 80%;
  }
  .heading h3 {
    font-size: 28px;
  }
  .heading h5 {
    font-size: 14px;
  }
  .heading p {
    font-size: 15px;
  }
  .stonger-content {
    padding: 10px 30px;
  }
  .our-wrap {
    padding: 30px 0px 0px;
  }
  .our-content h4 {
    margin-top: 30px;
  }
  .heading h4 {
    font-size: 18px;
  }
  .faq-section {
    padding: 20px 0px;
  }
  .accordion-button::after {
    background-size: 30px;
  }
  .accordion-button:not(.collapsed)::after {
    background-size: 30px;
  }
  .accordion-button {
    font-size: 14px;
  }
  .accordion-button:not(.collapsed) {
    font-size: 14px;
  }
  .contact-form {
    margin: 0px 10%;
  }
  .footer-menu ul li {
    padding: 0px 20px;
  }
  .footer-wrap {
    padding: 20px 0px 0px;
  }
  .footer-section {
    padding: 70px 0px 0px;
  }
}


@media screen and (max-width: 1023px) {
	.faq-wrap {
      padding-top: 0px;
  }
  header .mainmenu ul li {
    padding: 0px 2px;
  }
  header .mainmenu ul li a {
    padding-top: 10px;
  }
  .header-phone a {
    font-size: 14px;
    margin-top: 15px;
  }
  header .banner-contents h1 {
    font-size: 17px;
    color: #378990;
  }
  header .header-bottom .banner-contents {
    top: -5%;
  }
  .header-top {
    padding-bottom: 60px;
  }
  .banner-contents p {
    font-size: 15px;
    color: #378990;
  }
  .stonger-content {
    padding: 10px 5px;
  }
  .heading h5 {
    font-size: 13px;
  }
  .heading p {
    font-size: 13px;
  }
  .stonger-section {
    padding: 10px 0px 10px;
  }
  .our-section {
    padding: 30px 0px;
  }
  .our-shape {
    bottom: -30px;
  }
  .contact-heading p {
    font-size: 16px !important;
  }
  .heading p {
    font-size: 13px;
  }
  .our-content p {
    margin-right: 5%;
  }
}


@media screen and (max-width: 767px) {
  .heading h3 span.text-col {
    border-radius: 20px;
  }
	.heading h3 {
	  font-size: 18px;
	}
	.faq-section {
	  padding: 30px 0px;
	}
	.navbar-toggler:focus {
	  text-decoration: none;
	  outline: 0;
	  box-shadow: none;
	  border: none !important;
	}
	header .header-bottom .banner-contents {
		top: 50%;
	}
	header .header-logo {
	    text-align: center;
	}
	header .header-logo img {
		display: inline-block;
	}
	header .mainmenu .navbar {
	  margin: 0;
	  padding: 0;
	}
	.icon-bar {
		background-color: #ec659f;
		border-radius: 1px;
		display: block;
		height: 2px;
		width: 22px;
	}
	.icon-bar + .icon-bar {
		margin-top: 4px;
	}
	button:focus {
		outline: none;
	}
	.navbar-toggler {
	  background-color: transparent;
	  background-image: none;
	  border-radius: 0;
	  padding: 9px 10px;
	}
	.navbar-dark .navbar-toggler {
	  border: medium none;
	}
	header .header-top .mainmenu ul li {
	  margin-bottom: 5px;
	}
	header .header-top .mainmenu ul li .sub-menu li {
	  margin-bottom: 0px;
	}
	.mainmenu li:last-child:hover .sub-menu {
		right: auto;
	}
	header .mainmenu {
		float: none;
		padding-top: 0px;
	}
	a.navbar-brand{
	    width: 50%;
	}
	header .mainmenu ul li a {
	  font-size: 14px;
	}
	header .mainmenu ul li a {
	  font-size: 14px;
	  padding-left: 0px !important;
	  padding-top: 0px !important;
	}
	header .mainmenu .navbar-nav a.active, header .mainmenu .navbar-nav a:focus, header .mainmenu .navbar-nav a:hover{
		background-position: left top;
	}
	.contact-wrap {
	  padding-top: 10px;
	}
	header .header-bottom .banner-contents {
		top: 23%;
	}
	.navbar-nav.me-auto.mb-2.mb-lg-0 {
	  margin-top: 20px;
	}
	.navbar.navbar-expand-md .container {
	  padding: 0px;
	}
	.navbar.navbar-expand-md a img {
	  width: 70%;
	}	
	.header-phone a {
	  text-align: center;
	  display: inline-block;
  	margin-top: 10px;
    padding: 10px;
	}
  .header-top {
    padding-bottom: 0px;
  }
  .header-phone.d-block.d-md-none.d-lg-none.d-sm-block {
    text-align: end;
  }
  header .header-bottom .banner-contents {
    top: 6%;
    text-align: center;
  }
  .banner-info {
    background-color: #d185a36e;
    padding: 10px;
  }
  .heading h3 span.text-bg-img {
    background-position: 80% 65%;
  }
  .heading p {
    font-size: 14px;
  }
  .heading h5 {
    font-size: 15px;
  }
  .co-border {
    padding-left: 0px;
  }
  .banner-contents p {
    width: 100%;
  }
  .co-border {
    border-left: none;
  }
  .our-section {
    padding: 20px 0px;
    text-align: center !important;
  }
  .our-content p {
    margin-right: 0%;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-logo a img {
    width: 50%;
  }
  .footer-menu ul li {
    padding: 0px 15px;
  }
  .footer-wrap {
    padding: 0px 0px 0px;
  }
  .footer-menu {
    text-align: center;
  }
  .footer-menu ul li a {
    font-size: 15px;
  }
  .copyrights p {
    font-size: 14px;
    text-align: center;
  }

}

@media screen and (max-width: 480px) {
	.banner-contents p {
    font-size: 14px;
  }
  header .banner-contents h1 {
    font-size: 13px;
  }
  .our-content p {
    margin-right: auto;
    padding: 10px;
  }
  .footer-shape {
    margin-top: -70px;
  }
  .contact-section {
    padding: 30px 0px 30px;
  }

}
@media screen and (max-width: 420px) {
  .footer-menu ul li {
    padding: 0px 10px;
  }
  header .header-bottom .banner-contents {
    top: -34%;   
  }
  .header-top {
    padding-bottom: 130px;
  }
   
}
@media screen and (max-width: 390px) {


}
@media screen and (max-width: 375px) {
	

}
@media screen and (max-width: 360px) {
 	header .header-bottom .banner-contents {
    top: -54%;
  }
}
@media screen and (max-width: 320px) {
	
  header .header-bottom .banner-contents {
    top: -72%;
  }
}