* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border: none;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
body{
	background:url(../images/bg.jpg) no-repeat center center;
	background-size:cover;
	background-attachment:fixed;
}
::-webkit-input-placeholder {
	color:inherit;
	opacity:1;
}
::-moz-placeholder {
	color:inherit;
	opacity:1;
}
:-ms-input-placeholder {
	color:inherit;
	opacity:1;
}
:-moz-placeholder {
	color:inherit;
	opacity:1;
}
/*** ### Header ### ***/
header{
	position:relative;
	padding:20px 0px;
}
header .logo{
	position:relative;
}
header .logo img{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	max-width:299px;
}
header .top-download{
	position:relative;
	text-align:right;
}
header .top-download a{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	padding:10px 15px;
	background:#D4AF37;
	color:#FFFFFF;
	font-size:16px;
	font-weight:700;
	text-decoration:none;
	outline:none;
	border:none;
	border-radius:30px;
}
header .top-download a img{
	display:inline-block;
	vertical-align:middle;
	margin:0px 5px 0px 0px;
	max-width:26px;
}
header .top-download a:hover{
	background:#444444;
}
@media (max-width:1199px){
header{
	position:relative;
	padding:15px 0px;
}
header .logo img{
	max-width:250px;
}
header .top-download a{
	padding:10px 15px;
	font-size:15px;
}
header .top-download a img{
	margin:0px 5px 0px 0px;
	max-width:20px;
}
}
@media (max-width:576px){
header .logo img{
	display:block;
	margin:auto;
	margin-bottom:15px;
}
header .top-download{
	text-align:center;
}
header .top-download a{
	padding:10px 15px;
	text-align:center;
	width:100%;
	max-width:300px;
}
}
/*** Middle Content ***/
.middle-content{
	position:relative;
	padding:75px 0px;
}
@media (max-width:1199px){
.middle-content{
	padding:50px 0px;
}
}
@media (max-width:991px){
.middle-content{
	padding:0px;
}
}
/*** ### Left Side ### ***/
.middle-content .left-side{
	position:relative;
	padding:50px 0px;
}
.middle-content .left-side h1{
	position:relative;
	text-align: center;
	color:#444444;
	font-size:20px;
	font-weight:400;
	margin:0px;
	padding:0px 0px 35px 0px;
}
.middle-content .left-side h1:before{
	position:absolute;
	content:"";
	margin: auto 20%;
	bottom:0px;
	height:2px;
	width:215px;
	background:#D4AF37;
}
.middle-content .left-side h2{
	text-align: center;
	color:#444444;
	font-size:40px;
	font-weight:700;
	margin:0px;
	padding:30px 0px 0px 0px;
}
.middle-content .left-side h2 span{
	color:#D4AF37;
}
@media (max-width:1199px){
.middle-content .left-side{
	padding:30px 0px;
}
.middle-content .left-side h1{
	font-size:18px;
	padding:0px 0px 25px 0px;
}
.middle-content .left-side h1:before{
	width:175px;
}
.middle-content .left-side h2{
	font-size:35px;
	font-weight:700;
	padding:20px 0px 0px 0px;
}
}
@media (max-width:991px){
.middle-content .left-side{
	padding:30px 0px;
}
.middle-content .left-side h1{
	font-size:16px;
	padding:0px 0px 20px 0px;
}
.middle-content .left-side h2{
	font-size:30px;
	padding:15px 0px 0px 0px;
}
}
@media (max-width:576px){
.middle-content .left-side h2{
	font-size:25px;
}
}
/*** ### Right Side ### ***/
.middle-content .right-side{
	position:relative;
	padding:0px 30px;
	background:#FFFFFF;
	border-radius:0px 20px 0px 20px;
	-webkit-box-shadow: 0px 0px 34px 9px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 0px 34px 9px rgba(0,0,0,0.14);
	box-shadow: 0px 0px 34px 9px rgba(0,0,0,0.14);
}
.middle-content .right-side h2{
	color:#333333;
	font-size:22px;
	font-weight:600;
	margin:0px;
	padding:30px 0px;
	text-align:center;
	text-transform:uppercase;
}
.middle-content .right-side h3{
	color:#333333;
	font-size:16px;
	font-weight:400;
	margin:0px;
	padding:0px 0px 30px 0px;
	border-bottom:1px solid #D4AF37;
	text-align:center;
}
.middle-content .right-side p{
	color:#444444;
	font-size:13px;
	font-weight:400;
	margin:0px;
	padding:20px 0px 30px 0px;
}
.middle-content .right-side .contact-box{
	position:relative;
}
.middle-content .right-side input{
	position:relative;
	width:100%;
	height:45px;
	margin-top:30px;
	text-indent:15px;
	border-radius:8px;
	border:1px solid #dddddd;
	background:#FFFFFF;
	outline:none;
	color:#878787;
	font-size:15px;
	font-weight:400;
}
.middle-content .right-side input:focus {
	color:#444444;
	border:1px solid #ff5f5a;
}
.middle-content .right-side input.email{
	padding-right:40px;
	background:url(../images/envelop-icon.png) right 15px center no-repeat, #FFFFFF;
}
.middle-content .right-side input.telephone{
	padding-right:40px;
	background:url(../images/telephone-icon.png) right 15px center no-repeat, #FFFFFF;
}
.middle-content .right-side input.age{
	padding-right:30px;
	background:url(../images/age-icon.png) right 10px center no-repeat, #FFFFFF;
}
.middle-content .right-side select{
	position:relative;
	width:100%;
	height:45px;
	margin-top:30px;
	padding:0px 40px 0px 15px;
	border-radius:8px;
	border:1px solid #dddddd;
	background:url(../images/dropdown-icon.png) right 15px center no-repeat, #FFFFFF;
	outline:none;
	color:#878787;
	font-size:15px;
	font-weight:400;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}
.middle-content .right-side button{
	position:relative;
	width:100%;
	height:55px;
	border-radius:30px;
	text-align:center;
	background:#D4AF37;
	color:#FFFFFF;
	font-size:18px;
	font-weight:700;
	outline:none;
	border:none;
	margin-top:30px;
}
.middle-content .right-side button img{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin:0px 5px 0px 0px;
}
.middle-content .right-side button:hover{
	background:#444444;
}
@media (max-width:1199px){
.middle-content .right-side{
	padding:0px 15px;
}
.middle-content .right-side h2{
	font-size:20px;
	padding:20px 0px;
}
.middle-content .right-side h3{
	font-size:15px;
	padding:0px 0px 20px 0px;
}
.middle-content .right-side input{
	margin-right:20px;
}
.middle-content .right-side select{
	margin-top:20px;
}
.middle-content .right-side button{
	height:50px;
	font-size:16px;
	margin-top:20px;
}
}

.Button-download{
	position: relative;
    text-align: center;
    margin-top: 20px;
}
.Button-download {
	cursor: pointer;
	width: 100%;
	position:relative;
	display:inline-block;
	vertical-align:middle;
	padding:10px 15px;
	background:#D4AF37;
	color:#FFFFFF;
	font-size:16px;
	font-weight:700;
	text-decoration:none;
	outline:none;
	border:none;
	border-radius:30px;
}
.Button-download img{
	display:inline-block;
	vertical-align:middle;
	margin:0px 5px 0px 0px;
	max-width:26px;
}
.Button-download:hover{
	background:#444444;
}

.code
{
    margin: 0 5px !important;
    /* text-align: center !important; */
    line-height: 80px !important;
    font-size: 25px !important;
    border: solid 1px #ccc !important;
    box-shadow: 0 0 5px #ccc inset !important;
    outline: none !important;
    width: 13% !important;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
    border-radius: 3px !important;
}    

.send_sms p
{
 padding: 3px 0px 13px 0px !important;
 text-align: center !important;
}

.checked_icon {
	width: 40px; 
	height: 40px;
	display: block;
    text-align: center;
    margin: auto;
}