* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	text-decoration: none;
	outline: none;
	font-family: 'Rubik', sans-serif;
}
body.trade1{
	background: url(../images/bg2.jpg) center center no-repeat;
	background-size: cover;
}
::-webkit-input-placeholder {
 	color:inherit;
 	opacity:1
}
:-ms-input-placeholder {
 	color:inherit;
 	opacity:1
}
::placeholder {
 	color:inherit;
 	opacity:1
}
/*** ### Header ### ***/
header{
	position: relative;
}
header .logo{
	position: relative;
	text-align: center;
}
header .logo a{
	position: relative;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
header .logo img{
	display: block;
	margin: auto;
	max-height: 188px;
}
@media (max-width:1900px){
	header .logo img{
		max-height: 9.5vw;
	}
}
@media (max-width:767px){
	header .logo img{
		max-height: 120px;
	}
}
/*** ### Middle Content ### ***/
.main-content{
	position: relative;
}
.main-content .left-box{
	position: relative;
	margin-top: 60px;
}
.main-content .left-box h2{
	color: #f2ca63;
	font-size: 40px;
	font-weight: 500;
	margin:0px 0px 50px 0px;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
}
.main-content .left-box h3{
	color: #f3ca64;
	font-size: 25px;
	font-weight: 400;
	margin:0px 0px 50px 0px;
	padding: 0px;
	text-align: center;
}
.main-content .left-box h3 .name{
	color: #FFFFFF;
	font-weight: 500;
	text-transform: uppercase;
}
.main-content p, .main-content .left-box p{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
	margin:0px;
	padding: 0px;
	text-align: center;
}
.main-content .text-box, .main-content .left-box .text-box{
	position: relative;
	padding: 20px 30px;
	background:RGBA(51,51,51,0.63);
}
.main-content .text-box .name, .main-content .left-box .text-box .name{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 500;
}
.main-content .right-box{
	position: relative;
	padding: 30px 35px;
	margin-top: 60px;
	background:RGBA(244,202,100,0.07);
	border: 1px solid RGBA(244,202,100,1);
}
.main-content .right-box h2{
	color: #FFFFFF;
	font-size: 25px;
	font-weight: 300;
	margin:0px 0px 50px 0px;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
}
.main-content .right-box h2 .price{
	color:#f2ca63;
	font-weight: 700;
}
.main-content .right-box input{
  position: relative;
  height: 45px;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 25px;
  border: 2px solid #f4ca64;
  background:#f4ca64;
  border-radius: 5px;
  outline: none;
  color: #333333;
  font-size: 18px;
  font-weight: 300;
}
.main-content .right-box input:focus,
.main-content .right-box input:active{
	background:#FFFFFF;
}
.main-content .right-box select{
  position: relative;
  height: 50px;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 25px;
  border: 2px solid #f4ca64;
  background:#f4ca64;
  border-radius: 5px;
  outline: none;
  color: #545454;
  font-size: 16px;
  font-weight: 600;
}
.main-content .right-box select:focus,
.main-content .right-box select:active{
	background:#FFFFFF;
}
.main-content .right-box .accept-terms-conditions{
	position: relative;
	margin-top: 30px;
	font-size: 13px;
	font-weight: 300;
	color: #FFFFFF;
	padding: 0px 0px 0px 40px;
}
.main-content .right-box .accept-terms-conditions a{
	color: #f3ca64;
	text-decoration: none;
	outline: none;
}
.main-content .right-box .accept-terms-conditions .checkbox{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
	background:none !important;
	border: 1px solid #FFFFFF;
	height: 25px;
}
.main-content .right-box button{
  position: relative;
  height: 50px;
  width: 100%;
  padding: 0px 15px;
  top: 5px;
  margin-bottom: 20px;
  background: url(../images/btn-bg.png) repeat-x;
  background-size: 100% 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.main-content .right-box button:hover{
	top: 0px;
	background:#F4CA64;
}
.main-content .right-box .bg-none{
	background:none !important;
}
@media (max-width:1900px){
	.main-content .left-box{
		margin-top: 3vw;
	}
	.main-content .left-box h2{
		font-size: 2vw;
		margin:0px 0px 2.5vw 0px;
	}
	.main-content .left-box h3{
		font-size: 1.25vw;
		margin:0px 0px 2.5vw 0px;
	}
	.main-content .text-box p{
		font-size: 1vw;
	}
	.main-content .text-box, .main-content .left-box .text-box{
		padding: 1.1vw 1.5vw;
	}
	.main-content .text-box .name, .main-content .left-box .text-box .name{
		font-size: 1.1vw;
	}
	.main-content .right-box{
		padding: 1.5vw 1.75vw;
		margin-top: 3vw;
	}
	.main-content .right-box h2{
		font-size: 1.25vw;
		margin:0px 0px 2.5vw 0px;
	}
	.main-content .right-box input{
		height: 2.5vw;
		padding: 0px 0.7vw;
		margin-bottom: 1.25vw;
		font-size: 0.9vw;
	}
	.main-content .right-box select{
	  height: 2.5vw;
	  padding: 0px 0.7vw;
	  margin-bottom: 1.25vw;
	  font-size: 0.9vw;
	}
	.main-content .right-box .accept-terms-conditions{
		margin-top: 1.5vw;
		font-size: 0.7vw;
		padding: 0px 0px 0px 2vw;
	}
	.main-content .right-box .accept-terms-conditions .checkbox{
		width: 1.25vw;
		height: 1.25vw;
	}
	.main-content .right-box button{
	  height: 2.5vw;
	  padding: 0px 0.7vw;
	  top: 0.25vw;
	  margin-bottom: 1.1vw;
	  font-size: 1vw;
	}
}
@media (max-width:767px){
	.main-content .left-box{
		margin-top: 30px;
	}
	.main-content .left-box h2{
		font-size: 22px;
		margin:0px 0px 30px 0px;
	}
	.main-content .left-box h3{
		font-size: 20px;
		margin:0px 0px 30px 0px;
	}
	.main-content .text-box p{
		font-size: 15px;
	}
	.main-content .text-box, .main-content .left-box .text-box{
		padding: 15px 15px;
	}
	.main-content .text-box .name, .main-content .left-box .text-box .name{
		font-size: 16px;
	}
	.main-content .right-box{
		padding: 15px 15px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.main-content .right-box h2{
		font-size: 20px;
		margin:0px 0px 30px 0px;
	}
	.main-content .right-box input{
		height: 45px;
		padding: 0px 15px;
		margin-bottom: 15px;
		font-size: 15px;
	}
	.main-content .right-box select{
	  height: 45px;
	  padding: 0px 15px;
	  margin-bottom: 15px;
	  font-size: 15px;
	}
	.main-content .right-box .accept-terms-conditions{
		margin-top: 10px;
		font-size: 12px;
		padding: 0px 0px 0px 30px;
	}
	.main-content .right-box .accept-terms-conditions .checkbox{
		width: 20px;
		height: 20px;
	}
	.main-content .right-box button{
	  height: 45px;
	  padding: 0px 15px;
	  top: 5px;
	  margin-bottom: 15px;
	  font-size: 15px;
	}
}
/*** ### Middle Content ### ***/
.main-content{
	position: relative;
}
.main-content .donwload-btn{
	position: relative;
	margin-top: 60px;
}
.main-content .donwload-btn button{
  position: relative;
  height: 50px;
  width: 100%;
  padding: 0px 15px;
  top: 5px;
  margin-bottom: 20px;
  background: url(../images/btn-bg.png) repeat-x;
  background-size: 100% 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.main-content .donwload-btn button:hover{
	top: 0px;
	background:#F4CA64;
}
@media (max-width:1900px){
	.main-content .donwload-btn{
		margin-top: 3vw;
	}
	.main-content .donwload-btn button{
	  height: 2.5vw;
	  padding: 0px 0.7vw;
	  top: 0.25vw;
	  margin-bottom: 1.1vw;
	  font-size: 1vw;
	}
}
@media (max-width:767px){
	.main-content .donwload-btn{
		margin-top: 30px;
	}
	.main-content .donwload-btn button{
	  height: 45px;
	  padding: 0px 15px;
	  top: 5px;
	  margin-bottom: 15px;
	  font-size: 15px;
	}
}
/*** ### Footer ### ****/
.social-description{
	position: relative;
	padding: 60px 0px 0px 0px;
	text-align: center;
}
.social-description p{
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	margin: 0px 0px 30px 0px;
	padding: 0px;
}
.social-description p a{
	color: #f3ca64;
	text-decoration: none;
	outline: none;
}
@media (max-width:1900px){
	.social-description{
		padding: 3vw 0px 0px 0px;
	}
	.social-description p{
		font-size: 1.2vw;
		margin: 0px 0px 1.5vw 0px;
	}
}
@media (max-width:767px){
	.social-description{
		padding: 30px 0px 0px 0px;
	}
	.social-description p{
		font-size: 15px;
		margin: 0px 0px 15px 0px;
	}
}
/*** ### Footer ### ****/
footer{
	position: relative;
	padding: 60px 0px 0px 0px;
	text-align: center;
}
footer p{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	margin: 0px 0px 30px 0px;
	padding: 0px;
}
footer p a{
	color: #f3ca64;
	text-decoration: none;
	outline: none;
}
@media (max-width:1900px){
	footer{
		padding: 3vw 0px 0px 0px;
	}
	footer p{
		font-size: 1.1vw;
		margin: 0px 0px 1.5vw 0px;
	}
}
@media (max-width:767px){
	footer{
		padding: 30px 0px 0px 0px;
	}
	footer p{
		font-size: 15px;
		margin: 0px 0px 15px 0px;
	}
}
@media screen and (min-width: 767px) {
	.hiddenContentDesktop {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.hiddenContentMobile{
		display: none;
	}
}