/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #3f3f3f;
	background: #fff;
	font: 18px/1.889 "Poppins", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: .4em .7em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #3f3f3f;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #999;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.container {
	max-width: 1498px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

a {
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn {
	font-size: 20px;
	line-height: 24px;
	padding: 22px 15px;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	border-radius: 6px;
	font-weight: 700;
	-webkit-transition: background .4s ease;
	transition: background .4s ease;
	min-width: 294px;
	text-align: center;
}

.btn.radius {
	border-radius: 60px;
}

.btn-orange {
	background: #e76844;
}

.btn-orange:hover {
	background: #af3816;
}

.btn-blue {
	background: #0071bd;
}

.btn-blue:hover {
	background: #003457;
}

.text-orange {
	color: #e76844;
}

.text-blue {
	color: #0071bd;
}

.header {
	position: relative;
	padding: 45px 0;
}

.header.has-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 3;
}

.header.has-bg .container {
	max-width: 1819px;
}

.header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1487px;
}

.logo {
	display: block;
	width: 280px;
}

.logo a {
	display: block;
}

.logo img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.list-info {
	font-size: 20px;
	line-height: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -42px;
	color: #2a2d31;
}

.list-info li {
	padding: 0 42px;
	border-left: 1px solid #e2e2e2;
}

.list-info li:first-child {
	border: none;
}

.list-info a {
	text-decoration: none;
	color: #2a2d31;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
	padding: 0 0 0 25px;
	position: relative;
}

.list-info a:hover {
	color: #000;
}

.list-info a .img {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 21px;
	height: 17px;
}

.list-info a .img img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.visual-block {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding: 138px 0 177px;
}

.visual-block.style {
	padding: 56px 0 20px;
}

.visual-block.style .text-holder {
	width: 50%;
	position: relative;
	z-index: 2;
	padding: 50px 0 0;
}

.visual-block.style .image-holder {
	width: 67%;
}

.visual-block.style h1 {
	color: #2d3236;
}

.visual-block.has-bg {
	background: #fcfcfc;
	padding: 150px 0 0;
	margin: 0 0 105px;
}

.visual-block.has-bg .text-holder {
	padding: 120px 0 40px;
	position: relative;
	z-index: 3;
}

.visual-block.has-bg .image-holder {
	width: 75%;
	margin: -150px 0 0 -300px;
}

.visual-block.has-bg h1 {
	color: #2a2d31;
}

.visual-block .circle {
	position: absolute;
	left: -103px;
	bottom: 30px;
	width: 185px;
	height: 185px;
	border-radius: 100%;
	background: #f3f3f3;
	z-index: -1;
}

.visual-block .visual-frame {
	margin-right: calc((100vw - 1468px) / -2);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.visual-block .text-holder {
	max-width: 728px;
}

.visual-block h1 {
	font-size: 63px;
	line-height: 71px;
	color: #1d3557;
	font-weight: 400;
	margin: 0 0 30px;
}

.visual-block h1 strong {
	font-weight: 700;
}

.list-bullets {
	position: relative;
	font-weight: 600;
	color: #2a2d31;
	position: relative;
	overflow: hidden;
	margin: 0 0 27px;
}

.list-bullets li {
	padding: 0 0 0 40px;
	position: relative;
	margin: 0 0 18px;
}

.list-bullets .img {
	position: absolute;
	left: 7px;
	width: 24px;
	height: 24px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.list-bullets .img img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.text-block {
	background: #f6f6f6;
	padding: 142px 0 94px;
}

.text-block.bg-white {
	padding: 120px 0 89px;
	background: #fff;
}

.text-block.bg-blue {
	background: #0071bd;
	padding: 73px 66px 48px;
	color: #fff;
}

.text-block p {
	margin: 0 0 33px;
}

.content-block {
	padding: 0 0 100px;
}

.content-wrap {
	margin-left: calc((100vw - 1468px) / -2);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.content-wrap .image-holder {
	width: 60%;
}

.content-wrap .text-holder {
	width: 52.5%;
	padding: 22px 0 0 55px;
}

.content-wrap p {
	margin: 0 0 35px;
}

.footer {
	padding: 54px 0;
}

.footer-links {
	font-size: 17px;
	line-height: 21px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer-links li {
	padding: 0 30px;
	border-left: 1px solid #919191;
}

.footer-links li:first-child {
	border: none;
}

.footer-links a {
	/*color: #919191;*/
	color: #fff;
	text-decoration: none;
}

.footer-links a:hover {
	color: #000;
}

@media (min-width: 1024px) {
	.header.has-bg .logo {
		width: 296px;
	}

	.logo.style {
		width: 260px;
	}
}

@media (max-width: 1499px) {
	.visual-block.has-bg .text-holder {
		padding: 0 0 40px;
	}

	.visual-block.has-bg .image-holder {
		margin: 0 0 0 -400px;
		width: 80%;
	}

	.visual-block .visual-frame {
		margin: 0 -15px 0 0;
	}

	.content-wrap {
		margin: 0 0 0 -15px;
	}
}

@media (max-width: 1199px) {
	.content-wrap .image-holder {
		width: 50%;
	}

	.content-wrap .text-holder {
		width: 50%;
		padding: 0 0 0 20px;
	}
}

@media (max-width: 1023px) {
	.header {
		padding: 30px 0;
	}

	.logo {
		width: 200px;
	}

	.list-info {
		font-size: 16px;
		line-height: 20px;
		margin: 0 -20px;
	}

	.list-info li {
		padding: 0 20px;
	}

	.visual-block {
		padding: 80px 0;
	}

	.visual-block.style .text-holder {
		width: 60%;
		padding: 0;
	}

	.visual-block.style .image-holder {
		width: 40%;
	}

	.visual-block .visual-frame {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.visual-block .text-holder {
		max-width: 540px;
	}

	.visual-block h1 {
		font-size: 50px;
		line-height: 54px;
	}

	.text-block {
		padding: 80px 0 50px;
	}

	.text-block.bg-white {
		padding: 80px 0 50px;
	}

	.text-block.bg-blue {
		padding: 40px 20px 20px;
	}

	.content-block {
		padding: 0 0 50px;
	}

	.content-wrap {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.content-wrap .image-holder {
		width: 100%;
		max-width: 450px;
		margin: 0 0 30px;
	}

	.content-wrap .text-holder {
		width: 100%;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
		line-height: 1.5;
	}

	.btn {
		min-width: 240px;
		padding: 18px 15px;
	}

	.header {
		padding: 20px 0;
	}

	.header .container {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.logo {
		margin: 0 auto 20px;
	}

	.list-info {
		width: 100%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.list-info li {
		padding: 0 10px;
		width: 100%;
		text-align: center;
		margin: 0 0 5px;
	}

	.visual-block {
		padding: 50px 0;
	}

	.visual-block.style {
		padding: 40px 0 20px;
	}

	.visual-block.style .text-holder {
		width: 100%;
	}

	.visual-block.style .image-holder {
		width: 100%;
	}

	.visual-block.has-bg .text-holder {
		width: 100%;
	}

	.visual-block.has-bg .image-holder {
		width: 100%;
		margin: 0;
	}

	.visual-block .visual-frame {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.visual-block h1 {
		font-size: 40px;
		line-height: 46px;
	}

	.text-block {
		padding: 50px 0 20px;
	}

	.text-block.bg-white {
		padding: 50px 0 20px;
	}

	.text-block p {
		margin: 0 0 20px;
	}

	.footer {
		padding: 30px 0;
	}

	.footer-links {
		font-size: 14px;
		line-height: 18px;
	}

	.footer-links li {
		padding: 0 10px;
	}

	.footer-text {
	 margin-left: 0px !important;
	 margin-right: 0px !important;
  }
}

.footer-text {
	padding: 10px;
	margin-left: 130px;
	margin-right: 130px;
    line-height: 17px;
    color: #cccccc;
    font-size: 12px;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
