.disclaimer-wrapper-area{
  width: 100%;
  max-width: 900px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
/* .disclaimer-wrapper-area:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top left;
  opacity: 0.36;
} */

.top-img{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.36;
}
.bot-img{
  position: absolute;
  bottom: 0;
  right: -200px;
  z-index: -1;
  opacity: 0.36;
}


.disclaimer-wrapper-area .disc-inner img{
  display: block;
  margin: auto;
}
.disclaimer-wrapper-area .disc-inner{
  max-width: 672px;
  margin: auto;
  text-align: left;
  padding:60px 0;
  position: relative;
}
.disclaimer-wrapper-area .disc-inner h3{
  color: #2C2D3E;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  padding-top: 45px;
  margin: 0;
}

.disclaimer-wrapper-area .disc-inner h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2C2D3E;
  margin: 0;
  margin-top: 30px;
}
.disclaimer-wrapper-area .disc-inner p{
  color: #626377;
  margin: 0;
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.disclaimer-wrapper-area .disc-inner .proceed-btn{
  background-color: #E06744;
  border-radius: 35px;
  color: #fff;
  text-transform: uppercase;
  padding: 19px 37px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 45px;
  display: block;
  max-width: 220px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:767px){
  .disclaimer-wrapper-area .disc-inner{
    padding: 45px 26px;
  }
}



.disclaimer-wrapper-area::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #EFEFEF;
}

.disclaimer-wrapper-area::-webkit-scrollbar
{
	width: 12px;
	background-color: #EFEFEF;
}

.disclaimer-wrapper-area::-webkit-scrollbar-thumb
{
	border-radius: 7px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #E06744;
}


