@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border: none;
	text-decoration: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
}
:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}
::placeholder {
    color: inherit;
    opacity: 1;
}
.container-fluid{
	width:100%;
	max-width:1600px;
}
@media (max-width:1600px){
.container-fluid{
	width:100%;
	max-width:1280px;
}
}
@media (max-width:1199px){
.container-fluid{
	width:100%;
}
}
/*** ### Custom Font ### ***/
/*** ### Header ### ***/
header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	background:#FFFFFF;
	z-index:100;
	max-height: 100px;
}
.navbar-toggle {
    position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0%,-50%);
	transform: -webkit-translate(0%,-50%);
	transform: -moz-translate(0%,-50%);
	transform: -ms-translate(0%,-50%);
	transform: -o-translate(0%,-50%);
	display:none;
	cursor: pointer;
	z-index: 100;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 25px;
	margin-top:5px;
    height: 4px;
	background:#666666;
	border-radius:20px;
}
.navbar-toggle .icon-bar:first-child{
	margin-top:0px;
}
.navigation {
	position: relative;
	width: 100%;
}
.navigation nav {
	margin: 0px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	width: 100%;
	margin-top: -20px !important;
}
.navigation nav ul {
	margin: 0px;
	text-align: right;
}
.navigation nav ul li {
	position: relative;
	display: inline-block;
	margin:0px 30px 0px 0px;
}
.navigation nav ul li:last-child{
	margin-right:0px;
}
.navigation nav ul li a {
	text-decoration:none;
	outline:none;
	color:#666666;
	font-size:22px;
	font-weight:700;
}
.top-email img{
	max-height: 25px;
}
.logo-site {
	position: relative;
	text-align:left;
	z-index: 10;
}
.logo-site img {
	display: inline-block;
	vertical-align: middle;
	min-height: 126px;
	max-height: 126px;
}
@media (max-width:1600px){
header {
	height: 80px;
}
.navigation nav ul li {
	position: relative;
	display: inline-block;
	margin:0px 20px 0px 0px;
}
.navigation nav ul li a {
	font-size:18px;
}
.logo-site img {
	max-height:100px;
	min-height: inherit;
}
.top-email img{
	max-height: 20px;
}
}
@media (max-width:1199px){
header {
	height: 60px;
}
.navigation nav ul li {
	position: relative;
	display: inline-block;
	margin:0px 15px 0px 0px;
}
.navigation nav ul li a {
	font-size:16px;
}
.logo-site img {
	max-height:80px;
	min-height: inherit;
}
.top-email img{
	max-height: 18px;
}
}
@media only screen and (max-width: 991px) {
.navbar-toggle {
	display:inline-block;
}
header{
    background-color: #FFFFFF;
}
.logo-site img {
	max-height:70px;
	min-height: inherit;
}
.navigation{
	padding:0px;
}
.navigation nav {
	margin: 0px !important;
	max-height: 0;
	overflow: hidden;
	clear: both;
	display: block;
	position: absolute;
	left: 0px;
	top: -10px;
	width: 100%;
	z-index: 1000;
	background: #FFFFFF;
}
.navigation, nav, .navigation nav ul, .navigation nav ul li, .navigation nav ul li a {
 	display: block;
 	width: 100%;
}
.navigation nav ul {
	text-align:center;
}
.navigation nav ul li {
	width: 100%;
	text-align:center;
	margin-bottom:15px;
}
.navigation nav ul li a {
	text-decoration: none;
	width: 100%;
	max-width:95%;
	margin:auto;
	display: block;
}
.navigation nav.reveal {
	max-height: 1170px;
	width: 100%;
	z-index: 1000;
	background: #FFFFFF;
}
}
h1{
	font-size: 57px;
	margin:0px;
	padding: 0px;
	font-weight: 700;
}
h2{
	font-size: 35px;
	margin:0px;
	padding: 0px;
	font-weight: 700;
}
h3{
	font-size: 25px;
	margin:0px;
	padding: 0px;
	font-weight: 700;
}
p{
	font-size: 18px;
	margin:0px;
	padding: 0px;
	font-weight: 400;
}
@media (max-width:1600px){
	h1{
		font-size: 45px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 20px;
	}
	p{
		font-size: 15px;
	}
}
@media (max-width:1199px){
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 25px;
	}
	h3{
		font-size: 18px;
	}
}
@media (max-width:991px){
	h1{
		font-size: 30px;
	}
}
/*** ### Hero Section ### ***/
.hero-section{
	position: relative;
	background: url(../images/clearance-collection.png) center center no-repeat;
	background-size: cover;
	padding: 100px 0px;
	height: 100vh;
	max-height: 829px;
	min-height: 500px;
}
.hero-section h1{
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
}
@media (max-width:1600px){
	.hero-section{
		max-height: 700px;
		min-height: 500px;
	}
}
@media (max-width:767px){
	.hero-section{
		max-height: inherit;
		min-height: inherit;
		height: auto;
	}
}
.section-two{
	position: relative;
	background:#eeeeee;
	padding-bottom: 75px;
}
.section-two .iner{
	position: relative;
	margin-top: -75px;
}
.section-two  h2{
	color: #d8a300;
	margin: 0px 0px 5px 0px;
	text-transform: uppercase;
	text-align: left;
}
.section-two h3{
	color: #333333;
	margin: 0px 0px 30px 0px;
	font-size: 30px;
	text-align: left;
}
.section-two p{
	color: #333333;
	margin: 0px 0px 20px 0px;
	text-align: left;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.section-two p a{
	color: #d8a300;
	text-decoration: none;
	outline: none;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
.section-two p:last-child{
	margin-bottom: 0px;
}
.section-two .left-box{
	position: relative;
	padding: 30px 15px;
	margin-bottom: 30px;
	z-index: 2;
}
.section-two .left-box::before{
	position: absolute;
	content: "";
	top: 0px;
	left: -15px;
	right: -15px;
	bottom: 0px;
	background:#FFFFFF;
	-webkit-box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
	z-index: -1;
}
.section-two .right-box{
	position: relative;
	padding: 0px;
}
.section-two .right-box img{
	width: 100%;
}
@media (max-width:1600px){
	.section-two{
		padding-bottom: 50px;
	}
	.section-two .iner{
		margin-top: -50px;
	}
	.section-two h3{
		margin: 0px 0px 15px 0px;
		font-size: 25px;;
	}
	.section-two p{
		margin: 0px 0px 15px 0px;
	}
}
@media (max-width:1199px){
	.section-two .iner{
		margin-top: -30px;
	}
	.section-two h3{
		font-size: 20px;;
	}
}
@media (max-width:991px){
	.section-two .left-box::before{
		position: absolute;
		content: "";
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background:#FFFFFF;
		-webkit-box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 26px -12px rgba(0,0,0,0.75);
		z-index: -1;
	}}
/*** ### Section Three ### ***/
.section-three{
	position: relative;
	background: url(../images/metal-bg.png) center center no-repeat;
	background-size: cover;
	padding: 100px 0px;
}
.section-three h2{
	color: #FFFFFF;
	margin: 0px 0px 15px 0px;
	text-transform: uppercase;
	text-align: center;
}
.section-three h3{
	color: #FFFFFF;
	margin: 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.section-three .main-box{
	position: relative;
	text-align: center;
}
.section-three .boxes{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0px 50px;
	margin-top: 50px;
}
.section-three .boxes .images-box{
	position: relative;
}
.section-three .boxes .images-box img{
	display: block;
	margin: auto;
	width: 100%;
	max-width: 159px;
}
@media (max-width:1600px){
	.section-three{
		padding: 75px 0px;
	}
	.section-three .boxes{
		margin: 0px 30px;
		margin-top: 30px;
	}
	.section-three .boxes .images-box img{
		max-width: 150px;
	}
}
@media (max-width:1199px){
	.section-three{
		padding: 50px 0px;
	}
	.section-three .boxes{
		margin: 0px 15px;
		margin-top: 30px;
	}
	.section-three .boxes .images-box img{
		max-width: 130px;
	}
}
/*** ### Section Foure ### ***/
.section-foure{
	position: relative;
	background:#f5f5f5;
}
.section-foure .container-fluid{
	max-width: 100%;
}
.section-foure h2{
	color: #d8a300;
	margin: 0px 0px 30px 0px;
	text-transform: uppercase;
	text-align: center;
}
.section-foure p{
	color: #333333;
	margin: 0px 0px 30px 0px;
	text-align: center;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.section-foure p a{
	color: #d8a300;
	text-decoration: none;
	outline: none;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
.section-foure .left-box{
	position: relative;
	padding: 30px 0px;
}
.section-foure .right-box{
	position: relative;
	padding: 0px;
}
.section-foure .right-box img{
	display: block;
	margin:auto;
	width: 100%;
}
@media (max-width:1600px){
	.section-foure p{
		margin: 0px 0px 15px 0px;
	}
}
/*** ### Section Six ### ***/
.section-five{
	position: relative;
	background:#FFFFFF;
	padding: 75px 0px;
}
.section-five h2{
	color: #d8a300;
	margin: 0px 0px 30px 0px;
	text-transform: uppercase;
	text-align: center;
}
.section-five p{
	color: #333333;
	margin: 0px 0px 30px 0px;
	text-align: center;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.section-five p a{
	color: #d8a300;
	text-decoration: none;
	outline: none;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
.section-five .left-box{
	position: relative;
	padding: 30px 0px;
}
.section-five .right-box{
	position: relative;
	padding: 30px 0px;
}
.section-five .right-box img{
	display: block;
	margin:auto;
}
@media (max-width:1600px){
	.section-five{
		padding: 50px 0px;
	}
	.section-five p{
		margin: 0px 0px 15px 0px;
	}
}
@media (max-width:1199px){
	.section-five{
		padding: 30px 0px;
	}
}
@media (max-width:991px){
	.section-five{
		padding: 0px 0px;
	}
}
/*** ### Section Six ### ***/
.section-six{
	position: relative;
	background: url(../images/evantually.png) center center no-repeat;
	background-size: cover;
	padding: 135px 0px;
}
.section-six h2{
	color: #d8a300;
	margin: 0px 0px 30px 0px;
	text-transform: uppercase;
	text-align: center;
}
.section-six p{
	color: #FFFFFF;
	margin: 0px 0px 30px 0px;
	text-align: center;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.section-six p a{
	color: #d8a300;
	text-decoration: none;
	outline: none;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
@media (max-width:1600px){
	.section-six{
		padding: 100px 0px;
	}
	.section-foure h2{
		margin: 0px 0px 15px 0px;
	}
	.section-six p{
		margin: 0px 0px 15px 0px;
	}
}
@media (max-width:1199px){
	.section-six{
		padding: 75px 0px;
	}
}
@media (max-width:991px){
	.section-six{
		padding: 50px 0px;
	}
}
/*** ### Contact Us Section ### ***/
.contact-us{
	position: relative;
	background: #aa850e;
}
.contact-us .container-fluid{
	max-width: 100%;
}
.contact-us h2{
	color: #FFFFFF;
	margin: 0px 0px 15px 0px;
	text-transform: uppercase;
}
.contact-us .left-box{
	position: relative;
	padding: 50px 0px;
}
.contact-us .left-box .input-box{
	position: relative;
	margin-bottom: 30px;
	background: #FFFFFF;
}
.contact-us .left-box input{
	position: relative;
	width: 100%;
	height: 50px;
	background: none;
	outline: none;
	border: none;
	text-indent: 15px;
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.contact-us .left-box textarea{
	position: relative;
	width: 100%;
	height: 180px;
	background: none;
	outline: none;
	border: none;
	padding: 15px 15px;
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	resize: none;
}
.contact-us .left-box button{
	position: relative;
	width: 100%;
	height: 50px;
	background: #000000;
	border: 1px solid #000000;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}
.contact-us .map-box{
	position: relative;
} 
.contact-us .map-box .google-maps {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
.contact-us .map-box .google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.contact-us .contact-details{
	position: relative;
	padding: 20px 50px;
	background: #222222;
}
.contact-us .contact-details ul{
	margin:0px;
	padding: 0px;
	list-style: none;
}
.contact-us .contact-details li{
	position: relative;
	display: block;
	margin-bottom: 10px;
}
.contact-us .contact-details .icons{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25px;
}
.contact-us .contact-details a{
	position: relative;
	display: block;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	margin:0px;
	padding: 0px 0px 0px 35px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	outline: none;
}
@media (max-width:1600px){
	.contact-us .left-box .input-box{
		margin-bottom: 20px;
	}
	.contact-us .left-box input{
		height: 45px;
		border: none;
		text-indent: 10px;
		font-size: 14px;
	}
	.contact-us .left-box textarea{
		padding: 10px 10px;
		height: 120px;
		font-size: 14px;
	}
	.contact-us .left-box button{
		height: 50px;
		font-size: 14px;
	}
	.contact-us .contact-details{
		padding: 15px 30px;
	}
	.contact-us .contact-details .icons{
		width: 20px;
	}
	.contact-us .contact-details a{
		font-size: 14px;
	}
}
/*** ### Footer ### ***/
footer{
	position:relative;
	background:#FFFFFF;
	padding:20px 0px;
}
footer .copy-right{
	position:relative;
	margin:10px 0px;
}
footer .copy-right p{
	font-size:18px;
	font-weight:600;
	color:#545454;
	margin:0px;
	padding:0px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
footer .footer-nav{
	margin:10px 0px;
	padding:0px;
	text-align:right;
}
footer .footer-nav li{
	position:relative;
	margin:0px 15px 0px 0px;
	display:inline-block;
	vertical-align:middle;
}
footer .footer-nav li:last-child{
	margin-right:0px;
}
footer .footer-nav li:before{
	content:"";
	position:absolute;
	top:2px;
	bottom: 4px;
	right:-10px;
	height:100%;
	width:2px;
	background:#656464;
}
footer .footer-nav li:last-child:before{
	display:none;
}
footer .footer-nav a{
	text-decoration:none;
	outline:none;
	border:none;
	font-size:18px;
	font-weight:600;
	color:#535353;
	font-family: 'Open Sans', sans-serif;
}
@media (max-width:1600px){
footer .copy-right p{
	font-size:15px;
}
footer .footer-nav a{
	font-size:15px;
}
}
@media (max-width:1199px){
footer .iner{
	position:relative;
	padding:0px 0px;
}
footer .copy-right p{
	font-size:12px;
}
footer .footer-nav a{
	font-size:12px;
}
}
@media (max-width:991px){
footer .copy-right p{
	text-align:center;
	font-size:15px;
}
footer .footer-nav{
	margin:0px;
}
footer .footer-nav ul{
	text-align:center;
}
footer .footer-nav a{
	font-size:14px;
}
}
html {
  scroll-behavior: smooth;
}